<!DOCTYPE html>
<html>

<head>
	<title>About</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="" />

	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="css/style.css" rel='stylesheet' type='text/css' />
	<link href="css/about.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="css/team.css" type="text/css" media="all" />
	<link href="css/font-awesome.css" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i,800" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Mallanna" rel="stylesheet">
</head>

<body>
	<!--/top-bar-->
	<div class="top-bar_sub_w3ls_agileits">
		<h6>
			<i class="fa fa-phone" aria-hidden="true"></i> Call Us : 00950804988436
			<a href="/contact">Contact Us </a>
		</h6>
		<div class="search">
			<h5>
				<a class="sign" href="#" data-toggle="modal" data-target="#myModal2">User Login</a>
			</h5>
			<div class="cd-main-header_w3layouts_agile">
				<ul class="cd-header_w3layouts_agile-buttons">
					<li>
						<a class="cd-search-trigger" href="#cd-search">
							<span></span>
						</a>
					</li>
				</ul>
				<!-- cd-header_w3layouts_agile-buttons -->
			</div>
			<div id="cd-search" class="cd-search">
				<form action="#" method="post">
					<input name="Search" type="search" placeholder="Click enter after typing...">
				</form>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
	<!--/top-bar-->
	<div class="header_w3layouts_agile-main inner_banner">
		<header class="header" id="home">
			<!--/top-bar-->
			<div class="top-bar">
				<nav class="navbar navbar-default">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<h1>
							<a class="navbar-brand" href="index.html">Fettle
								<span>Online Yoga Club</span>
							</a>
						</h1>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
						<nav>
							<ul class="top_nav">
								<li>
									<a href="index.html">Home</a>
								</li>
								<li>
									<a class="active" href="about.html">About</a>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="Pages" role="button" aria-haspopup="true" aria-expanded="false">Drop Down
										<span class="fa fa-angle-down"></span>
									</a>
									<ul class="dropdown-menu">
										<li>
											<a href="services.html">Services</a>
										</li>
										<li>
											<a href="app.html">Mobile App</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="gallery.html">Gallery</a>
								</li>
								<li>
									<a href="/contact">Contact</a>
								</li>
							</ul>
						</nav>
					</div>
				</nav>
			</div>
			<!--//top-bar-->
		</header>
	</div>
	<!--//inner_banner-->
	<!--/short-->
	<div class="services-breadcrumb">
		<div class="inner_breadcrumb">

			<ul class="short">
				<li>
					<a href="index.html">Home</a>
					<span>|</span>
				</li>
				<li>About</li>
			</ul>
		</div>
	</div>
	<!--//short-->
	<!-- //inner_content -->

	<!-- Modal1 -->
	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header_w3layouts_agile">
					<button type="button" class="close" data-dismiss="modal">&times;</button>

					<div class="signin-form profile">

						<div class="login-m_page_img">

							<img src="images/model.jpg" alt=" " class="img-responsive" />

						</div>
						<div class="login-m_page">
							<h3 class="sign">Sign In</h3>
							<div class="login-form">
								<form action="#" method="post">
									<input type="email" name="email" placeholder="E-mail" required="">
									<input type="password" name="password" placeholder="Password" required="">
									<div class="tp">
										<input type="submit" value="Sign In">
									</div>
								</form>
							</div>
							<div class="login-social-grids">
								<ul>
									<li>
										<a href="#">
											<i class="fa fa-facebook"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-twitter"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-rss"></i>
										</a>
									</li>
								</ul>
							</div>
							<p>
								<a href="#" data-toggle="modal" data-target="#myModal3"> Don't have an account?</a>
							</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //Modal1 -->
	<!-- Modal2 -->
	<div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header_w3layouts_agile">
					<button type="button" class="close" data-dismiss="modal">&times;</button>

					<div class="signin-form profile">

						<div class="login-m_page_img">

							<img src="images/model.jpg" alt=" " class="img-responsive" />

						</div>
						<div class="login-m_page">
							<h3 class="sign">Sign Up</h3>
							<div class="login-form">
								<form action="#" method="post">
									<input type="text" name="name" placeholder="Username" required="">
									<input type="email" name="email" placeholder="Email" required="">
									<input type="password" name="password" placeholder="Password" id="password1" required="">
									<input type="password" name="password" placeholder="Confirm Password" id="password2" required="">
									<input type="submit" value="Sign Up">
								</form>
							</div>
							<p>
								<a href="#"> By clicking Sign up, I agree to your terms</a>
							</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //Modal2 -->

	<!--//header_w3layouts_agile-->
	<div class="banner_bottom">
		<div class="container">
			<h3 class="header_w3layouts_agile">About Us</h3>

			<div class="inner_sec_w3_agileinfo">
				<div class="ab_info">
					<img src="images/banner1.jpg" alt=" " class="img-responsive">
					<h4>Volutpat purus viverra sit amet</h4>
					<p class="sub_p">Etiam faucibus viverra libero vel efficitur. Ut semper nisl ut laoreet ultrices. Maecenas dictum arcu purus, sit amet
						volutpat purus viverra sit amet. Quisque lacinia quam sed tortor interdum, malesuada congue nunc ornare. Cum sociis
						In semper lorem eget tortor pulvinar ultricies.Quisque lacinia quam sed tortor interdum, malesuada congue nunc ornare.
						Cum sociis In semper lorem eget tortor pulvinar ultricies.
					</p>
				</div>

				<div class="news-main">
					<div class="col-md-6 news-left" data-aos="fade-up">
						<div class="col-md-6 b_left">
							<img src="images/g4.jpg" alt=" " class="img-responsive">

						</div>
						<div class="col-md-6 b_right" data-aos="fade-down">
							<img src="images/g1.jpg" alt=" " class="img-responsive">

						</div>
					</div>
					<div class="col-md-6 news-right" data-aos="fade-left">
						<h4>Our Mission</h4>
						<p class="sub_p">Etiam faucibus viverra libero vel efficitur. Ut semper nisl ut laoreet ultrices. Maecenas dictum arcu purus, sit amet
							volutpat purus viverra sit amet. Quisque lacinia quam sed tortor interdum, malesuada congue nunc ornare. Cum sociis
							In semper lorem eget tortor pulvinar ultricies.
						</p>
						<p>Etiam faucibus viverra libero vel efficitur. Ut semper nisl ut laoreet ultrices. Maecenas dictum arcu purus, sit amet
							volutpat purus viverra sit amet. Quisque lacinia quam sed tortor interdum, malesuada congue nunc ornare. Cum sociis
							. In semper lorem eget tortor pulvinar ultricies.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //about -->

	<div class="sec_video">
		<div class="container">
			<div class="about-main about1">
				<div class="col-md-4 about-gd" data-aos="fade-left">
					<div class="about-sub-gd">
						<h4>Curated Classes</h4>
						<p>Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis </p>
					</div>
					<div class="about-sub-gd">
						<h4>Expert Instructors</h4>
						<p>Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis </p>
					</div>
				</div>
				<div class="col-md-4 about-gd1" data-aos="fade-down">
					<img src="images/video.jpg" class="img-responsive" alt="">
				</div>
				<div class="col-md-4 about-gd ab-right" data-aos="fade-right">
					<div class="about-sub-gd">
						<h4>Students Strong</h4>
						<p>Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis </p>
					</div>
					<div class="about-sub-gd">
						<h4>Physical Activity</h4>
						<p>Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis </p>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--/video-->
	<!-- /projects -->
	<div class="banner_bottom">
		<div class="container">
			<h3 class="header_w3layouts_agile">Amazing Trainers</h3>
			<div class="inner_sec_w3_agileinfo">
				<div class="col-md-3 team_grid_info" data-aos="fade-left">
					<img src="images/t1.jpg" alt=" " class="img-responsive" />
					<h3>Jane Mycle </h3>
					<p>Trainer</p>

					<div class="team_icons">
						<ul>
							<li>
								<a href="#" class="facebook">
									<i class="fa fa-facebook" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a href="#" class="twitter">
									<i class="fa fa-twitter" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a href="#" class="dribble">
									<i class="fa fa-dribbble" aria-hidden="true"></i>
								</a>
							</li>

						</ul>
					</div>

				</div>
				<div class="col-md-3 team_grid_info" data-aos="fade-up">
					<img src="images/t2.jpg" alt=" " class="img-responsive" />
					<h3>Amanda Seylon </h3>
					<p>Trainer</p>

					<div class="team_icons">
						<ul>
							<li>
								<a href="#" class="facebook">
									<i class="fa fa-facebook" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a href="#" class="twitter">
									<i class="fa fa-twitter" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a href="#" class="dribble">
									<i class="fa fa-dribbble" aria-hidden="true"></i>
								</a>
							</li>

						</ul>
					</div>
				</div>
				<div class="col-md-3 team_grid_info" data-aos="fade-down">
					<img src="images/t3.jpg" alt=" " class="img-responsive" />
					<h3>Laura Mark</h3>
					<p>Trainer</p>

					<div class="team_icons">
						<ul>
							<li>
								<a href="#" class="facebook">
									<i class="fa fa-facebook" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a href="#" class="twitter">
									<i class="fa fa-twitter" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a href="#" class="dribble">
									<i class="fa fa-dribbble" aria-hidden="true"></i>
								</a>
							</li>

						</ul>
					</div>

				</div>
				<div class="col-md-3 team_grid_info" data-aos="fade-right">
					<img src="images/t4.jpg" alt=" " class="img-responsive" />
					<h3>Jane Mycle </h3>
					<p>Trainer</p>

					<div class="team_icons">
						<ul>
							<li>
								<a href="#" class="facebook">
									<i class="fa fa-facebook" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a href="#" class="twitter">
									<i class="fa fa-twitter" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a href="#" class="dribble">
									<i class="fa fa-dribbble" aria-hidden="true"></i>
								</a>
							</li>

						</ul>
					</div>

				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //projects -->
	<!-- /stats -->
	<div class="stats_test">
		<h3 class="header_w3layouts_agile two">Our Stats</h3>
		<div class="inner_sec_w3_agileinfo">
			<div class="stats">
				<div class="stats_left counter_grid">
					<i class="fa fa-building-o" aria-hidden="true"></i>
					<p class="counter">145</p>
					<h4>Branches</h4>
				</div>
				<div class="stats_left counter_grid1">
					<i class="fa fa-user" aria-hidden="true"></i>
					<p class="counter">165</p>
					<h4>Trainers</h4>
				</div>
				<div class="stats_left counter_grid2">
					<i class="fa fa-spinner" aria-hidden="true"></i>
					<p class="counter">563</p>
					<h4>Videos</h4>
				</div>
				<div class="stats_left counter_grid3">
					<i class="fa fa-smile-o" aria-hidden="true"></i>
					<p class="counter">1045</p>
					<h4>Happy Clients</h4>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>

	<!-- //stats -->
	<!--/bottom-->
	<div class="banner_bottom">
			<div class="banner_bottom_in">
					<h3 class="header_w3layouts_agile" data-aos="fade-down">Online Yoga, Meditation and Wellness</h3>
		
					<p>Lorem ipsum dolor sit amet, do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
						nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		
					<div class="edu_button" data-aos="fade-up">
						<a class="btn btn-primary btn-lg" href="about.html" role="button">Read More </a>
					</div>
					<div class="col-md-7 yoga-video" data-aos="flip-left">
						<img src="images/b-scrn.png" class="img-responsive" alt="">
						<iframe src="https://player.vimeo.com/video/34132895?title=0&byline=0&portrait=0"></iframe>
		
					</div>
					<div class="col-md-5 join-form" data-aos="flip-right">
						<div class="signin-form profile join-fm">
		
							<h3 class="sign">Join Now</h3>
							<div class="login-form">
								<form action="#" method="post">
									<input type="text" name="name" placeholder="Name" required="">
									<input type="email" name="email" placeholder="Email" required="">
									<input type="password" name="password" placeholder="Password" required="">
		
									<input type="submit" value="Sign Up">
								</form>
							</div>
							<p>
								<a href="#"> By clicking Sign up, I agree to your terms</a>
							</p>
		
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
	</div>
	<!--//bottom-->
	<!-- /newsletter-->
	<div class="newsletter">
		<div class="col-sm-6 newsleft">
			<h3>Sign up for Newsletter !</h3>
		</div>
		<div class="col-sm-6 newsright">
			<form action="#" method="post">
				<input type="email" placeholder="Enter your email..." name="email" required="">
				<input type="submit" value="Submit">
			</form>
		</div>

		<div class="clearfix"></div>
	</div>
	<!-- //newsletter-->
<!--/tesimonials-->
<div class="tesimonials">
		<div class="container">
			<h3 class="header_w3layouts_agile two">Testimonials</h3>
			<div class="inner_sec_w3_agileinfo">
				<div class="test_grid_sec">
					<div class="col-md-offset-2 col-md-8">
						<div class="carousel slide two" data-ride="carousel" id="quote-carousel">
							<!-- Bottom Carousel Indicators -->
							<ol class="carousel-indicators two">
								<li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
								<li data-target="#quote-carousel" data-slide-to="1"></li>
								<li data-target="#quote-carousel" data-slide-to="2"></li>
							</ol>

							<!-- Carousel Slides / Quotes -->
							<div class="carousel-inner">

								<!-- Quote 1 -->
								<div class="item active">
									<blockquote>
										<div class="test_grid">
											<div class="col-sm-3 text-center test_img" data-aos="fade-down">
												<i class="fa fa-user" aria-hidden="true"></i>

											</div>
											<div class="col-sm-9 test_img_info" data-aos="fade-up">
												<p>Maecenas quis neque libero. Class aptent taciti.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
													auctor nec lacus ut tempor. Mauris.</p>
												<h6>Sara Lisbon</h6>
											</div>
										</div>
									</blockquote>
								</div>
								<!-- Quote 2 -->
								<div class="item">
									<blockquote>
										<div class="test_grid">
											<div class="col-sm-3 text-center test_img" data-aos="fade-down">
												<i class="fa fa-user" aria-hidden="true"></i>
											</div>
											<div class="col-sm-9 test_img_info" data-aos="fade-up">
												<p>Lorem ipsum dolor sit amet. Class aptent taciti.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
													auctor nec lacus ut tempor. Mauris.</p>
												<h6>Jane Wearne</h6>
											</div>
										</div>
									</blockquote>
								</div>
								<!-- Quote 3 -->
								<div class="item">
									<blockquote>
										<div class="test_grid">
											<div class="col-sm-3 text-center test_img" data-aos="fade-down">
												<i class="fa fa-user" aria-hidden="true"></i>
											</div>
											<div class="col-sm-9 test_img_info" data-aos="fade-up">
												<p>Maecenas quis neque libero. Class aptent taciti.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
													auctor nec lacus ut tempor. Mauris.</p>
												<h6>Alice Williams</h6>
											</div>
										</div>
									</blockquote>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- bootstrap-modal-pop-up -->
	<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header_w3layouts_agile">
					Luscious
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<img src="images/model.jpg" alt=" " class="img-responsive" />
					<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
						consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur,
						vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- //bootstrap-modal-pop-up -->
	<!--footer-->
	<footer class="contact-footer">

		<div class="bottom-social">
			<div class="container">
				<div class="col-md-8 botttom-nav-w3ls-agile">
					<ul class="f_links col-md-4" data-aos="zoom-in">
						<li>
							<a href="index.html">Home</a>
						</li>
						<li>
							<a href="about.html">About</a>
						</li>
						<li>
							<a href="services.html">Services</a>
						</li>
						<li>
							<a href="gallery.html">Gallery</a>
						</li>
						<li>
							<a href="/contact">Contact</a>
						</li>
					</ul>
					<ul class="f_links col-md-4" data-aos="zoom-in">
						<li>
							<a href="index.html">Topics</a>
						</li>
						<li>
							<a href="404.html">Blog</a>
						</li>
						<li>
							<a href="404.html">Features</a>
						</li>
						<li>
							<a href="services.html">Services</a>
						</li>

					</ul>
					<ul class="f_links thrd col-md-4" data-aos="zoom-in">
						<li>
							<a href="index.html">Topics</a>
						</li>
						<li>
							<a href="404.html">Events</a>
						</li>
						<li>
							<a href="app.html">Mobile App</a>
						</li>


					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-4 social-icons" data-aos="zoom-in">
					<h6>Connect with us</h6>
					<a class="facebook" href="#">
						<span class="fa fa-facebook"></span>
					</a>
					<a class="twitter" href="#">
						<span class="fa fa-twitter"></span>
					</a>
					<a class="pinterest" href="#">
						<span class="fa fa-pinterest-p"></span>
					</a>
					<a class="linkedin" href="#">
						<span class="fa fa-linkedin"></span>
					</a>
				</div>
				<div class="clearfix"></div>

			</div>
		</div>
		<div class="copy">
			<h2 class="footer-logo">
				<a href="index.html">Fettle
					<span>Online Yoga Club</span>
				</a>
			</h2>
			<p>Copyright &copy; 2018.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
			<div class="clearfix"></div>
		</div>
	</footer>
	<!--/footer -->

	<!-- js -->
	<script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>
	<!-- //js -->
	<!-- password-script -->
	<script type="text/javascript">
		window.onload = function () {
			document.getElementById("password1").onchange = validatePassword;
			document.getElementById("password2").onchange = validatePassword;
		}

		function validatePassword() {
			var pass2 = document.getElementById("password2").value;
			var pass1 = document.getElementById("password1").value;
			if (pass1 != pass2)
				document.getElementById("password2").setCustomValidity("Passwords Don't Match");
			else
				document.getElementById("password2").setCustomValidity('');
			//empty string means no validation error
		}
	</script>
	<!-- //password-script -->
	<!-- /js files -->
	<link href='css/aos.css' rel='stylesheet prefetch' type="text/css" media="all" />
	<link href='css/aos-animation.css' rel='stylesheet prefetch' type="text/css" media="all" />
	<script src='js/aos.js'></script>
	<script src="js/aosindex.js"></script>
	<!-- //js files -->
	<!--search-bar-->
	<script src="js/main.js"></script>
	<!--//search-bar-->
	<!-- stats -->
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/jquery.countup.js"></script>
	<script>
		$('.counter').countUp();
	</script>
	<!-- //stats -->
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->

	<script type="text/javascript">
		$(document).ready(function () {
			/*
									var defaults = {
							  			containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear' 
							 		};
									*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>

	<a href="#home" class="scroll" id="toTop" style="display: block;">
		<span id="toTopHover" style="opacity: 1;"> </span>
	</a>
	<script type="text/javascript" src="js/bootstrap.js"></script>


</body>

</html>