<!DOCTYPE html>
<html lang="en">
<head>
<title>About</title>

	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Meta tag Keywords -->

	<!-- For about Slider-->
	<link rel="stylesheet" href="/stylesheets/owl.carousel.css" type="text/css" media="all"/> <!-- Owl-Carousel-CSS -->
	<!-- //For about -->

	<!-- css files -->
	<link rel="stylesheet" href="/stylesheets/bootstrap.css"> <!-- Bootstrap-Core-CSS -->

	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="all" /> <!-- Style-CSS -->

	<link rel="stylesheet" href="/stylesheets/fontawesome-all.css"> <!-- Font-Awesome-Icons-CSS -->
	<link rel='stylesheet' href="/stylesheets/about.css" type='text/css' />
	<link rel="stylesheet" href="/stylesheets/team.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/stylesheets/font-awesome.css">
	<!-- //css files -->

	<!-- web-fonts -->
	<link href="http://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
	<!-- //web-fonts -->

</head>

<body>

	<!--Header-->
	<header>
		<div class="container agile-banner_nav">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<img src="https://static.tianqionggongcheng.com/image/WechatIMG468.jpeg" class="col-sm-logo" alt="">
				<a class="navbar-brand navbar-name" href="#">上海页颂教育科技有限公司 <span class="display">Education technology</span></a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item ">
							<a class="nav-link" href="/">首页 </a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" href="/about">了解我们<span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/achievement">研究成果</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/news">资讯新闻</a>
						</li>
						<!--
						<li class="dropdown nav-item">
							<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">资讯新闻
								<b class="caret"></b>
							</a>

							<ul class="dropdown-menu agile_short_dropdown">
								<li>
									<a href="index.html">Testimonials</a>
								</li>
								<li>
									<a href="typography.html">Typography</a>
								</li>
							</ul>
							-->
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/base">培训基地</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/team">师资团队</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/system">系统介绍</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/sky">天穹工程</a>
						</li>
					</ul>
				</div>

			</nav>
		</div>
	</header>
	<!--Header-->

<!-- inner page banner
<div class="inner-banner">

</div>
inner page banner-->

<!--//header_w3layouts_agile-->
<div class="banner_bottom">
	<div class="container">
		<div class="inner_sec_w3_agileinfo">
			<div class="ab_info">
				<!-- Welcome -->
				<section class="welcome  my-lg-5">
					<div class="container">
						<div class="row welcome_grids">
							<div class="col-lg-7 mb-lg-0 mb-5">
								<h3 class="mb-3 text-capitalize">关于我们</h3>
								<p class="mb-5 mt-4">
									“上海页颂教育科技有限公司”是研究机制健全的教育产品专业研发机构，拥有自己专业的“课题研究室”和设立在全国六个省市的“应用技术实验基地”。“课题研究室”的主要研究方向是人类意识形态的成长和生活社会活动中人类思维的结构和变化，以及人类各生存阶段行为表现的本质成因和相应的培养、改善和援助方法。</p>
							</div>
							<div class="col-lg-5 welcome_right">
								<img src="https://static2.tianqionggongcheng.com/office01.jpg" alt="" class="img-fluid ">
							</div>
							<div class="col-lg-12 ">
								<p class=" mt-4"> 组织结构包括：人类思维结构体和行为表象研究中心、教育产品研发中心、教研中心、课题研究室、教研装备研发生产基地和应用技术实验基地，“教研中心”一部位于上海市；二部位于北京市；三部位于广州市；所属培训园区设置在浙江省台州市；儿童异常行为和儿童自闭症研究修复中心设置在天津市武清区，人类异常行为研究和改善中心设置在浙江省台州市椒江区；教研装备研发生产基地设置在江苏省江阴市；绿色养生心态产品研发基地设置在海南省海口市；饮食心态物化研究室设置在山东省青岛市；综合实验基地分别设置在天津市武清区，山东省潍坊市，江苏省南京市，安徽省蚌埠市，浙江省台州市和江苏省江阴市。
								</p>
							</div>
						</div>
					</div>
				</section>
				<!-- //Welcome -->
				<!-- Welcome -->
				<section class="  my-lg-5">
					<div class="container">
						<div class="row welcome_grids">
							<div class="col-lg-12 ">
								<h3 class="mb-3 text-capitalize">我们的成果</h3>
								<p class="mb-5 mt-4">  “上海页颂教育科技有限公司”的研究成果在很多领域居于世界前端，儿童自闭症的研究成果和改善系统从治愈率而言，超越美国威斯康辛州早期自闭症项目(Wisconsin Early Autism Project)85个百分点，从IQ的提高度而言，超越该项目近50个百分点，被美国Sage培训及咨询机构(Sage Institute Training and Consulting)的执行董事Michele A. Packard称之为“在精神疾病领域具有革命性的研究成果”;比利时根特大学（Ghent University）的教授Herbert Roeyers，范德堡脑科学研究院肯尼迪人类发展研究中心自闭症治疗研究所（Treatment and Research Institute for Autism Spectrum Disorders， Kennedy Center for Research on Human Development，Vanderbilt Brain Institute)医学主任 Jeremy Veenstra-VanderWeele 对我们在儿童自闭症 方面的研究结果表示震惊和赞赏。
								<p class="mb-5 mt-4">  我们在儿童异常行为、儿童情绪化、成年人异常行为、成年人情 绪化和成年人自闭症等方面的研究成果和改善系统居于世界领先水 平，被美国范德堡大学(Vanderbilt University)的教授 Julie Lounds Taylor 和伦敦国王大学( King’s College London)的教授 Patricia Howlin 邀请参与国际研究课题的研讨;因为我们在自闭症治疗、网 瘾治疗、饮食障碍治疗、焦虑症治疗、抑郁症治疗等方面居于世界领 先水平的研究成果，我们被威斯康辛州早期自闭症治疗项目（Wisconsin Early Autism Project, Inc.），美国Promises治疗中心（Promises Treatment Center），美国Hazelden贝蒂福特基金(Hazelden Betty Ford Foundation），美国南加利福尼亚 Cornerstone 机构（Cornerstone of Southern California）， EAP协会阿拉巴马分会（Alabama Chapter of Employee Assistance Professionals Association）等机构邀请参与精神疾病领域的学术会议和学术活动；因为我们在人文社会科学领域领先于世界的研究成果，我们被英国伦敦大学（University of London）的教授Evelyn Ruppert邀请参与人文社会科学领域更广泛的跨学科的研讨与研究。</p>
								<p class=" mt-4">  因为儿童能力和思维成长领域卓越的研究成果和高效改善系统的创研，课题研究室王科敏老师被联合国儿童基金会特聘为项目专家;犯罪学领域的研究成果不仅引起司法部高度的重视，而且王科敏老师被特邀为欧洲犯罪学杂志（European Journal of Criminology）的审委。“课题研究室”平均每年完成教育类、社会类和企业类相关课题5到9个，其中很多课题填补了中国和世界的空白。</p>
							</div>
						</div>
					</div>
				</section>
				<!-- //Welcome -->
				<!-- Welcome -->
				<section class="py-5 my-lg-5">
					<div class="container">
						<div class="row welcome_grids">
							<div class="col-lg-12">
								<h3 class="mb-3 text-capitalize">我们的方向</h3>
								<p class="mb-5 mt-4"> 我们致力于每年把三到五个研究成果转化为简单实用的操作系统，以便适合各类教育培训机构和家庭教育操作和使用，主要集中在如下领域:</p>
							</div>
							<div class="col-lg-6 welcome_right2">

							</div>
							<div class="col-lg-6">

								<p class=" mt-4"> <span class="fab fa-digital-ocean"></span>孩子各方面能力素质安全高效成长课程（如，数学思维高效创建课程、语文思维高效创建课程、基本生存能力优质培养课程、安全护卫能力高效培养课程、手足健康行为能力高效培养课程、儿童从出生3周开始成长各阶段教育课程、父母家庭教育超越能力学习课程、父母家庭教育优质心态培养课程和优质亲子关系创建课程等）。
								</p>

								<p class=" mt-4"> <span class="fab fa-digital-ocean"></span>孩子成长过程中各类异常行为、情绪化表现过频和学科学习困难等相关问题的解决和改善（如，学生上课听讲注意力改善和提升系统，学科随堂理解能力修复提升系统，学科学习兴趣提高修复系统，学无愁幼小衔接系统，青少年情绪化修复系统，孩子修养行为培养系统，网瘾认知和治疗系统，学运转运能力修复提升系统，魅力展示能力培养系统等）。
								</p>
							</div>

						</div>
					</div>
				</section>
				<!-- //Welcome -->
				<!-- Welcome -->
				<section class="">
					<div class="container">
						<div class="row welcome_grids">
							<div class="col-lg-6 welcome_right3">

							</div>
							<div class="col-lg-6 mb-lg-0 mb-5">

								<p class=" mt-4">
									<span class="fab fa-digital-ocean"></span>成年人各类异常行为、情绪化表现过频和情感等相关问题的解决和改善（如，女性优质生活心态学习课程，成年人情绪化修复技能学习课程，婚姻恋爱情感修复保鲜提升系统，失恋创伤修复系统，事运转运能力修复提升系统，情运转运能力修复提升系统， 成年人魅力展示能力修复提升系统等）。
								</p>

								<p class=" mt-4"> <span class="fab fa-digital-ocean"></span>企事业员工的工作情绪、上下级矛盾和企业凝聚力等相关问题的解决和改善（如，轻松愉快工作心态创建系统，企业员工工作衔接效率提升系统，国学行政工作人员管理系统，国学企业员工管理系统，员工工作人际问题处理能力提升系统，员工工作关系能力提升系统，员工工作位置能力提升系统、企业员工优良工作心态创建系统、企业员工工作积极性建设系统和企业员工凝聚力建设系统等）。
								</p>
							</div>
						</div>
					</div>
				</section>
				<!-- //Welcome -->
				<!--about 调试随机变化
				<div class="about py-5">
					<div class="container py-md-3">
					<div class="w3-head-all mb-3">
						         <h3>关于我们</h3>
						       </div>
						<div class="about-main row">
							<div class="col-lg-6 col-md-12 about-left_w3ls_img">

							</div>
							<div class="col-lg-6 col-md-12 about-right_w3ls">
						  <div class="about-top_agile_its">
							<h5>Cras tincidunt, augue vitae</h5>
							<p>Nulla eget mauris quis elit mollis ornare vitae ut odio. Cras tincidunt, augue vitae sollicitudin commodo, quam elit varius est, et ornare ante massa quis tellus. Mauris nec lacinia nisl. Curabitur tempus tellus et vulputate vestibulum.
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
							<span>Nulla eget mauris quis elit mollis ornare vitae ut odio. Cras tincidunt, augue vitae sollicitudin commodo, quam elit varius est</span>
					  </div>
					   </div>
					    <div class="clearfix"> </div>
				    </div>
				</div>
				</div>
				//about -->

				<h4></h4>
				<p class="sub_p">此外还包括女性孕前、孕中和产后情绪化问题的解决和改善（如，优生心态养护系统）、长时间工作和婚姻所引发的倦怠情绪问题的解决和改善（如，亲子关系应对保障系统、家庭情绪管理系统、杰出人士喘息营）、学生出国所导致的环境不适表现的预防等（如，学生出国适应性提升系统）等。
				</p>
			</div>
		</div>
	</div>
</div>
<!-- //about -->
<!-- About us
<section class="about py-5 my-lg-5">
	<div class="container">
		<h3 class="heading text-center text-capitalize mb-5">What makes us different</h3>
		<div class="spldishes-agileinfo">
			<div class="spldishes-grids">
				 Owl-Carousel
				<div id="owl-demo" class="owl-carousel agileinfo-gallery-row">
					<div class="item g1">
						<img class="lazyOwl" src="images/slide1.jpg" alt=""/>
						<h4 class="mt-4 text-uppercase">Design Planning</h4>
						<p class="my-2">ultrices facilisis tortor. Aenean pharetra nibh et mi consequat commodo.</p>
						<a href="#">Read More <i class="fas fa-angle-right"></i></a>
					</div>
					<div class="item g1">
						<img class="lazyOwl" src="images/slide2.jpg" alt=""/>
						<h4 class="mt-4 text-uppercase">Business Meeting</h4>
						<p class="my-2">ultrices facilisis tortor. Aenean pharetra nibh et mi consequat commodo.</p>
						<a href="#">Read More <i class="fas fa-angle-right"></i></a>
					</div>
					<div class="item g1">
						<img class="lazyOwl" src="images/slide3.jpg" alt=""/>
						<h4 class="mt-4 text-uppercase">Programming</h4>
						<p class="my-2">ultrices facilisis tortor. Aenean pharetra nibh et mi consequat commodo.</p>
						<a href="#">Read More <i class="fas fa-angle-right"></i></a>
					</div>
					<div class="item g1">
						<img class="lazyOwl" src="images/slide4.jpg" alt=""/>
						<h4 class="mt-4 text-uppercase">Confidence Skills</h4>
						<p class="my-2">ultrices facilisis tortor. Aenean pharetra nibh et mi consequat commodo.</p>
						<a href="#">Read More <i class="fas fa-angle-right"></i></a>
					</div>
					<div class="item g1">
						<img class="lazyOwl" src="images/slide5.jpg" alt=""/>
						<h4 class="mt-4 text-uppercase">Beauty design</h4>
						<p class="my-2">ultrices facilisis tortor. Aenean pharetra nibh et mi consequat commodo.</p>
						<a href="#">Read More <i class="fas fa-angle-right"></i></a>
					</div>
					<div class="item g1">
						<img class="lazyOwl" src="images/slide6.jpg" alt=""/>
						<h4 class="mt-4 text-uppercase">Creative thinking</h4>
						<p class="my-2">ultrices facilisis tortor. Aenean pharetra nibh et mi consequat commodo.</p>
						<a href="#">Read More <i class="fas fa-angle-right"></i></a>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</section>
About us -->

<!-- help
<section class="help">
	<div class="layer py-5">
		<div class="container ">
		<h3 class="heading text-center text-capitalize mb-5">我们的目标 </h3>
		</div>
	</div>
</section>
 //help -->

<!-- about top -->
<section class="about-top py-5 my-lg-5">
	<div class="container">
<h3 class="mb-3 text-capitalize">我们的目标</h3>
		<div class="row top-grids">
			<div class="col-lg-12 text-center">
				<h4 class="mb-4 text-capitalize">我们致力发展为:</h4>
				<p>  中国第一教育产品创研机构</p>
				<p>  中国第一意识修复提升产品创研机构</p>
				<p>  中国第一能力修复提升产品创研机构</p>
			</div>
		</div>
	</div>
</section>

<!-- model video-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Introduction Video</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body video">
				<iframe src="https://player.vimeo.com/video/7396421"></iframe>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>
<!-- //model video -->

<!-- welcome bottom -->
<section class="welcome_bottom">
	<div class="layer py-5">
		<div class="container py-lg-5">
			<div class="row bottom_grids">
				<div class="col-lg-6 col-md-8">
					<h4>第二生命形态学之歌</h4>
					<p class="my-4">这里有人生四季，这里有春夏秋冬。</p>
					<p class="my-4">春天，环视群山，她乍暖还寒；</p>
					<p class="my-4">夏天，迎风仰望，她静寂温婉；</p>
					<p class="my-4">秋天，矗立峰巅，她桃李芬芳；</p>
					<p class="my-4">冬天，凝视瑞雪，她生机盎漾。</p>
					<p class="my-4">这就是我们的学院，</p>
					<p class="my-4">这才是我们智慧的家园。</p>
					<p class="my-4">我们凝神贯注，我们志气飞扬；</p>
					<p class="my-4">我们勤勉自律，我们学富高养。</p>
					<p class="my-4">让我们挥动这智慧的双臂吧，</p>
					<p class="my-4">背负着亲爱的祖国，</p>
					<p class="my-4">飞向那人类智慧的殿堂！</p>

				</div>
				<div class="col-lg-6 col-md-4 video text-center">
					<a href="#" class="text-uppercase" data-toggle="modal" data-target="#exampleModal"><span class="fas fa-play-circle"></span></a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //welcome bottom -->
<div class="col-lg-6 col-md-8">
	<h4>第二生命形态学之歌</h4>
	<p class="my-4">这里有人生四季，这里有春夏秋冬。</p>
	<p class="my-4">春天，环视群山，她乍暖还寒；</p>
	<p class="my-4">夏天，迎风仰望，她静寂温婉；</p>
	<p class="my-4">秋天，矗立峰巅，她桃李芬芳；</p>
	<p class="my-4">冬天，凝视瑞雪，她生机盎漾。</p>
	<p class="my-4">这就是我们的学院，</p>
	<p class="my-4">这才是我们智慧的家园。</p>
	<p class="my-4">我们凝神贯注，我们志气飞扬；</p>
	<p class="my-4">我们勤勉自律，我们学富高养。</p>
	<p class="my-4">让我们挥动这智慧的双臂吧，</p>
	<p class="my-4">背负着亲爱的祖国，</p>
	<p class="my-4">飞向那人类智慧的殿堂！</p>

</div>
<!-- //about top
<div class="">
	<a href="https://mp.weixin.qq.com/s/CPQqm4Uee-6TCQTJbzw2rA" target="view_window">第二生命形态学幼儿园系统</a>
</div>

<div class="sec_video">
	<div class="container">
		<div class="about-main about1">
			<div class="col-md-4 about-gd" data-aos="fade-left">
				<div class="about-sub-gd">
					<h4>Curated Classes</h4>
					<p>Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis </p>
				</div>
				<div class="about-sub-gd">
					<h4>Expert Instructors</h4>
					<p>Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis </p>
				</div>
			</div>
			<div class="col-md-4 about-gd1" data-aos="fade-down">
				<img src="images/video.jpg" class="img-responsive" alt="">
			</div>
			<div class="col-md-4 about-gd ab-right" data-aos="fade-right">
				<div class="about-sub-gd">
					<h4>Students Strong</h4>
					<p>Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis </p>
				</div>
				<div class="about-sub-gd">
					<h4>Physical Activity</h4>
					<p>Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis </p>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
/video-->
<!-- project -->
<section class="project py-5 text-center">
	<div class="container">
		<h3 class="text-capitalize mb-5">深入了解我们的项目?</h3>
		<a href="/contact" class="text-uppercase"><i class="fas fa-envelope-open"></i> 联系我们 </a>
	</div>
</section>
<!-- //project -->

<!-- footer -->
<footer>
	<div class="container py-5">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<h3 class="text-uppercase mb-3">地址</h3>
				<address>
					<p><strong>上海培训中心:</strong></p>
					<p class="mb-3">上海长宁区仙霞路319号远东国际广场A座</p>
					<p class="mb-3">上海市黄浦区南苏州路333号华隆大厦</p>
					<p class="mb-3">上海市黄浦区成都北路500号峻岭广场</p>
					<p class="mb-3">上海市静安区共和新路1878号大宁国际商业广场</p>
					<!-- footer <p><strong>Fax</strong> : +11 8976 2334 </p> -->
				</address>
			</div>
			<div class="col-lg-3 col-md-6">
				<h3 class="text-uppercase mb-3">联系方式</h3>
				<address>
					<p><strong>公众号</strong>：二生学苑</p>
					<p><strong>Phone</strong> </p>
					<p>董老师 : +86 18868721318</p>
					<p>王老师 : +86 15343402463</p>
					<p><strong>上海丽空间&上海页颂教育运营部总监：</strong> 赵总 QQ1702460065</p>
					<p><strong>Email</strong> : <a href="mailto:yesongedu@sina.com">yesongedu@sina.com</a></p>
					<!-- footer <p><strong>Fax</strong> : +11 8976 2334 </p> -->
				</address>
			</div>
			<div class="col-lg-2 col-md-6 mt-lg-0 mt-sm-0 mt-4 p-md-0">
				<h3 class="text-uppercase mb-3">链接</h3>
				<div class="links">
					<a class="pt-2 text-capitalize" href="https://web.tianqionggongcheng.com/"><i class="fas fa-angle-right"></i> 线上测评</a>
					<a class="pt-2 text-capitalize" href="https://web.tianqionggongcheng.com/#/inquiry/"><i class="fas fa-angle-right"></i> 教育问题在线问诊</a>
					<a class="pt-2 text-capitalize" href="https://web.tianqionggongcheng.com/#/education/"><i class="fas fa-angle-right"></i> 家庭教育学院</a>
					<a class="pt-2 text-capitalize" href="https://web.tianqionggongcheng.com/#/freeClassroom/"><i class="fas fa-angle-right"></i> 公益课堂</a>
					<a class="pt-2 text-capitalize" href="https://web.tianqionggongcheng.com/#/familyEducation/"><i class="fas fa-angle-right"></i> 家庭教育能力课程</a>
					<a class="pt-2 text-capitalize" href="https://web.tianqionggongcheng.com/#/activities/"><i class="fas fa-angle-right"></i> 夫妻情感增值系列活动</a>
				</div>
			</div>
			<!-- footer
			<div class="col-lg-3 col-md-6 mt-lg-0 mt-4">
				<h3 class="text-uppercase mb-3">Recent posts</h3>
				<div class="posts">
					<p class="pt-2">lorem ipsum dolor sit amet
					<span class="font-italic">31st march, 2018.</span></p>
					<p class="py-2 my-2 middle">lorem ipsum dolor sit amet
					<span class="font-italic">31st march, 2018.</span></p>
					<p class="pt-2">lorem ipsum dolor sit amet
					<span class="font-italic">31st march, 2018.</span></p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
				<h3 class="text-uppercase mb-3">Newsletter</h3>
				<p class="mb-4 pt-2">Subscribe to Our Newsletter to get Important News, Amazing Offers & More</p>
				<form action="#" method="post">
					<input type="email" name="Email" placeholder="Enter your email..." required="">
					<button class="btn1"><i class="far fa-envelope"></i></button>
					<div class="clearfix"> </div>
				</form>
			</div>
			footer -->
		</div>
	</div>
</footer>
<!-- footer -->

<!-- copyright -->
<div class="copyright py-4">
	<div class="container">
		<div class="copyrightgrids row">
			<div class="col-lg-6 col-12">
				<p>Copyright &copy; 2018.tianqionggongcheng.com <a href="http://www.tianqionggongcheng.com/" target="_blank" title="页颂教育">页颂教育</a></p>
				<p  style="margin: 0; height: 20px"><a href="http://www.beian.gov.cn/portal/recordQuery?token=80b501bb-e291-4866-b483-a23e9f7ffcdd">沪ICP备17051651号</a> </p>
				<p  style="margin: 0; height: 20px"><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011202006779"><img style="width:20px;" src="https://img.yzcdn.cn/public_files/2016/07/19/276d5f72dc85cc584d83c08fefa36c2b.png" />沪公网安备 31011202006779号</a></p>
			</div>
			<!-- footer
			<div class="col-lg-6 col-12">
				<ul class="social text-right mt-lg-0 mt-3">
					<li><p class="mx-2 text-capitalize">follow us on : </p></li>
					<li class="mx-2"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-twitter"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fas fa-rss"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-vk"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-vimeo-v"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-yahoo"></span></a></li>
				</ul>
			</div>
			footer -->
		</div>
	</div>
</div>
<!-- //copyright -->

<!-- js-scripts -->

	<!-- js -->
	<script src="http://sdk.talkingdata.com/app/h5/v1?appid=246C0B347D3541F2943FCAAF2CF6EF60&vn=上海页颂教育科技有限公司&vc=1.0"></script>
	<script type="text/javascript" src="/javascripts/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="/javascripts/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap -->
	<!-- //js -->

	<!-- Owl-Carousel-JavaScript -->
		<script src="/javascripts/owl.carousel.js"></script>
		<script>
			$(document).ready(function() {
				$("#owl-demo").owlCarousel ({
					items : 3,
					lazyLoad : true,
					autoPlay : true,
					pagination : true,
				});
			});
		</script>
	<!-- //Owl-Carousel-JavaScript -->

	<!-- start-smoth-scrolling -->
	<script src="/javascripts/SmoothScroll.min.js"></script>
	<script type="text/javascript" src="/javascripts/move-top.js"></script>
	<script type="text/javascript" src="/javascripts/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- start-smoth-scrolling -->

<!-- //js-scripts -->

</body>
</html>
