<!DOCTYPE html>
<html lang="en">
<head>
<title>About</title>
	
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Meta tag Keywords -->

	<!-- For about Slider-->	
	<link rel="stylesheet" href="/stylesheets/owl.carousel.css" type="text/css" media="all"/> <!-- Owl-Carousel-CSS -->
	<!-- //For about -->

	<!-- css files -->
	<link rel="stylesheet" href="/stylesheets/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="all" /> <!-- Style-CSS --> 
	<link rel="stylesheet" href="/stylesheets/fontawesome-all.css"> <!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->

	<!-- web-fonts -->
	<link href="http://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
	<!-- //web-fonts -->
	
</head>

<body>

<!--Header-->
<header>
	<div class="container agile-banner_nav">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			
			<a class="navbar-brand" href="index.html">Career Corp <span class="display">Digital technology</span></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="about.html">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="services.html">Services</a>
					</li>
					<li class="dropdown nav-item">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Pages
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu agile_short_dropdown">
							<li>
								<a href="index.html">Testimonials</a>
							</li>
							<li>
								<a href="typography.html">Typography</a>
							</li>
						</ul>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="projects.html">Projects</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="contact.html">Contact</a>
					</li>
				</ul>
			</div>
		  
		</nav>
	</div>
</header>
<!--Header-->

<!-- inner page banner-->
<div class="inner-banner">
	
</div>
<!-- //inner page banner-->

<!-- About us -->
<section class="about py-5 my-lg-5">
	<div class="container">
		<h3 class="heading text-center text-capitalize mb-5">What makes us different</h3>
		<div class="spldishes-agileinfo">
			<div class="spldishes-grids">
				<!-- Owl-Carousel -->
				<div id="owl-demo" class="owl-carousel agileinfo-gallery-row">
					<div class="item g1">
						<img class="lazyOwl" src="images/slide1.jpg" alt=""/>
						<h4 class="mt-4 text-uppercase">Design Planning</h4>
						<p class="my-2">ultrices facilisis tortor. Aenean pharetra nibh et mi consequat commodo.</p>
						<a href="#">Read More <i class="fas fa-angle-right"></i></a>
					</div>
					<div class="item g1">
						<img class="lazyOwl" src="images/slide2.jpg" alt=""/>
						<h4 class="mt-4 text-uppercase">Business Meeting</h4>
						<p class="my-2">ultrices facilisis tortor. Aenean pharetra nibh et mi consequat commodo.</p>
						<a href="#">Read More <i class="fas fa-angle-right"></i></a>
					</div>
					<div class="item g1">
						<img class="lazyOwl" src="images/slide3.jpg" alt=""/>
						<h4 class="mt-4 text-uppercase">Programming</h4>
						<p class="my-2">ultrices facilisis tortor. Aenean pharetra nibh et mi consequat commodo.</p>
						<a href="#">Read More <i class="fas fa-angle-right"></i></a>
					</div>
					<div class="item g1">
						<img class="lazyOwl" src="images/slide4.jpg" alt=""/>
						<h4 class="mt-4 text-uppercase">Confidence Skills</h4>
						<p class="my-2">ultrices facilisis tortor. Aenean pharetra nibh et mi consequat commodo.</p>
						<a href="#">Read More <i class="fas fa-angle-right"></i></a>
					</div>
					<div class="item g1">
						<img class="lazyOwl" src="images/slide5.jpg" alt=""/>
						<h4 class="mt-4 text-uppercase">Beauty design</h4>
						<p class="my-2">ultrices facilisis tortor. Aenean pharetra nibh et mi consequat commodo.</p>
						<a href="#">Read More <i class="fas fa-angle-right"></i></a>
					</div> 
					<div class="item g1">
						<img class="lazyOwl" src="images/slide6.jpg" alt=""/>
						<h4 class="mt-4 text-uppercase">Creative thinking</h4>
						<p class="my-2">ultrices facilisis tortor. Aenean pharetra nibh et mi consequat commodo.</p>
						<a href="#">Read More <i class="fas fa-angle-right"></i></a>
					</div>
				</div> 
			</div>  
			<div class="clearfix"> </div>
		</div>
	</div>
</section>
<!-- //About us -->

<!-- help -->
<section class="help">
	<div class="layer py-5">
		<div class="container py-lg-5">
		<h3 class="heading text-center text-capitalize mb-5">We help you in </h3>
			<div class="row help_grids">
				<div class="col-sm-4">
					<div class="row">
						<div class="col-lg-3 mb-lg-0 mb-4 icon">
							<i class="fas fa-briefcase"></i>
						</div>
						<div class="col-lg-9">
							<h4 class="text-uppercase mb-3">Business</h4>
							<p class="mb-3">Etiam luctus auctor nisl non ut dapibus. Etiam cursus luctus in sapien vitae posuere. Phasele utmauris sem.</p>
							<a href="#">Read More <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-sm-4 mt-sm-0 mt-4">
					<div class="row">
						<div class="col-lg-3 mb-lg-0 mb-4 icon">
							<i class="fas fa-signal"></i>
						</div>
						<div class="col-lg-9">
							<h4 class="text-uppercase mb-3">Strategy</h4>
							<p class="mb-3">Etiam luctus auctor nisl non ut dapibus. Etiam cursus luctus in sapien vitae posuere. Phasele utmauris sem.</p>
							<a href="#">Read More <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-sm-4 mt-sm-0 mt-4">
					<div class="row">
						<div class="col-lg-3 mb-lg-0 mb-4 icon">
							<i class="fab fa-connectdevelop"></i>
						</div>
						<div class="col-lg-9">
							<h4 class="text-uppercase mb-3">Technology</h4>
							<p class="mb-3">Etiam luctus auctor nisl non ut dapibus. Etiam cursus luctus in sapien vitae posuere. Phasele utmauris sem.</p>
							<a href="#">Read More <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //help -->

<!-- about top -->
<section class="about-top py-5 my-lg-5">
	<div class="container">
		<h3 class="heading text-center text-capitalize mb-5">Checkout file Project </h3>
		<div class="row top-grids">
			<div class="col-lg-4">
				<h4 class="mb-4 text-capitalize">Ultrices facilisis tortor. init Aenean pharetra nibhsis consequat elet.</h4>
				<a href="#">Download file <i class="fas fa-download"></i></a>
			</div>
			<div class="col-lg-5 my-lg-0 my-5">
				<p>ultrices facilisis tortor. Aenean pharetra nibh et mi consequat commodo. Etiam luctus auctor nisl non dapibus. Etiam cursus luctus sapien vitae posuere. Phasellus ut mauris sem. Mauris lectus felis, dignissim non massa vel, fringilla maximus purus. Praesent tempus viverra diam vel egestas. Pellentesque rutrum velit in convallis semper.</p>
			</div>
			<div class="col-lg-3 col-sm-6">
				<img src="images/slide1.jpg" alt="" class="img-fluid">
			</div>
		</div>
	</div>
</section>
<!-- //about top -->

<!-- project -->
<section class="project py-5 text-center">
	<div class="container">
		<h3 class="text-capitalize mb-5">Do you want to start a new project ?</h3>
		<a href="contact.html" class="text-uppercase"><i class="fas fa-envelope-open"></i> contact us </a>
	</div>
</section>
<!-- //project -->

<!-- footer -->	
<footer>
	<div class="container py-5">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<h3 class="text-uppercase mb-3">Address</h3>
				<address>
					<p><strong>Headquarters:</strong></p>
					<p class="mb-3">0926k 4th block building, king Avenue, New York City.</p>
					<p><strong>Phone</strong> : +12 8976 2334</p>
					<p><strong>Email</strong> : <a href="mailto:info@example.com">info@example.com</a></p>
					<p><strong>Fax</strong> : +11 8976 2334 </p>
				</address>
			</div>
			<div class="col-lg-2 col-md-6 mt-lg-0 mt-sm-0 mt-4 p-md-0">
				<h3 class="text-uppercase mb-3">links</h3>
				<div class="links">
					<a class="pt-2 text-capitalize" href="#"><i class="fas fa-angle-right"></i> Navigation</a>
					<a class="pt-2 text-capitalize" href="#"><i class="fas fa-angle-right"></i> Documentation</a>
					<a class="pt-2 text-capitalize" href="#"><i class="fas fa-angle-right"></i> Business</a>
					<a class="pt-2 text-capitalize" href="#"><i class="fas fa-angle-right"></i> Technical support</a>
					<a class="pt-2 text-capitalize" href="#"><i class="fas fa-angle-right"></i> 24/7 Service</a>
					<a class="pt-2 text-capitalize" href="#"><i class="fas fa-angle-right"></i> Feedback</a>
				</div>	
			</div>
			<div class="col-lg-3 col-md-6 mt-lg-0 mt-4">
				<h3 class="text-uppercase mb-3">Recent posts</h3>
				<div class="posts">
					<p class="pt-2">lorem ipsum dolor sit amet
					<span class="font-italic">31st march, 2018.</span></p>
					<p class="py-2 my-2 middle">lorem ipsum dolor sit amet
					<span class="font-italic">31st march, 2018.</span></p>
					<p class="pt-2">lorem ipsum dolor sit amet
					<span class="font-italic">31st march, 2018.</span></p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
				<h3 class="text-uppercase mb-3">Newsletter</h3>
				<p class="mb-4 pt-2">Subscribe to Our Newsletter to get Important News, Amazing Offers & More</p>
				<form action="#" method="post">
					<input type="email" name="Email" placeholder="Enter your email..." required="">
					<button class="btn1"><i class="far fa-envelope"></i></button>
					<div class="clearfix"> </div>
				</form>
			</div>
		</div>
	</div>
</footer>
<!-- footer -->

<!-- copyright -->
<div class="copyright py-4">
	<div class="container">
		<div class="copyrightgrids row">
			<div class="col-lg-6 col-12">
				<p>Copyright &copy; 2018.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
			</div>
			<div class="col-lg-6 col-12">
				<ul class="social text-right mt-lg-0 mt-3">
					<li><p class="mx-2 text-capitalize">follow us on : </p></li>
					<li class="mx-2"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-twitter"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fas fa-rss"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-vk"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-vimeo-v"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-yahoo"></span></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- //copyright -->

<!-- js-scripts -->		

	<!-- js -->
	<script type="text/javascript" src="/javascripts/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="/javascripts/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap --> 
	<!-- //js -->	
	
	<!-- Owl-Carousel-JavaScript -->
		<script src="/javascripts/owl.carousel.js"></script>
		<script>
			$(document).ready(function() {
				$("#owl-demo").owlCarousel ({
					items : 3,
					lazyLoad : true,
					autoPlay : true,
					pagination : true,
				});
			});
		</script>
	<!-- //Owl-Carousel-JavaScript -->  

	<!-- start-smoth-scrolling -->
	<script src="/javascripts/SmoothScroll.min.js"></script>
	<script type="text/javascript" src="/javascripts/move-top.js"></script>
	<script type="text/javascript" src="/javascripts/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- start-smoth-scrolling -->
	
<!-- //js-scripts -->

</body>
</html>