<!DOCTYPE html>
	<html lang="en">
	<head>
	<title>Projects</title>

		<!-- Meta tag Keywords -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<meta name="keywords" content="" />
		<script type="application/x-javascript">
			addEventListener("load", function () {
				setTimeout(hideURLbar, 0);
			}, false);

			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		</script>
		<!--// Meta tag Keywords -->

		<!-- css files -->
		<link rel="stylesheet" href="/stylesheets/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
		<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="all" /> <!-- Style-CSS -->
		<link rel="stylesheet" href="/stylesheets/fontawesome-all.css"> <!-- Font-Awesome-Icons-CSS -->
		<!-- //css files -->

		<!-- gallery css -->
	    <link href="/stylesheets/prettyPhoto.css" rel="stylesheet" type="text/css" />

		<!-- web-fonts -->
		<link href="http://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
		<!-- //web-fonts -->

	</head>

	<body>

		<!--Header-->
		<header>
			<div class="container agile-banner_nav">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<img src="https://static.tianqionggongcheng.com/image/WechatIMG468.jpeg" class="col-sm-logo" alt="">
					<a class="navbar-brand navbar-name" href="#">上海页颂教育科技有限公司 <span class="display">Education technology</span></a>

					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item ">
								<a class="nav-link" href="/">首页 </a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/about">了解我们</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active" href="/achievement">研究成果</a>
							</li>
							<li class="nav-item">
								<a class="nav-link " href="/news">资讯新闻<span class="sr-only">(current)</span></a>
							</li>
							<!--
							<li class="dropdown nav-item">
								<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">资讯新闻
									<b class="caret"></b>
								</a>

								<ul class="dropdown-menu agile_short_dropdown">
									<li>
										<a href="index.html">Testimonials</a>
									</li>
									<li>
										<a href="typography.html">Typography</a>
									</li>
								</ul>
								-->
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/base">培训基地</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/team">师资团队</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/system">系统介绍</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/sky">天穹工程</a>
							</li>
						</ul>
					</div>

				</nav>
			</div>
		</header>
		<!--Header-->
	<!-- inner page banner-->

	<!-- //inner page banner-->

	<!--gallery  -->
	<section class="wthree-row w3-gallery py-sm-5 py-3" id="section3">
		<div class="container-fluid py-md-5 py-3 text-center">
		<h3 class="heading text-center text-capitalize mb-5">研究成果</h3>
			<ul class="portfolio-categ filter mb-5 text-center">
				<li class="port-filter all active">
					<a href="#">All</a>
				</li>
				<li class="cat-item-1">
					<a href="#" title="Category 1 ">出版书籍</a>
				</li>
				<li class="cat-item-2">
					<a href="#" title="Category 2">专利</a>
				</li>
				<li class="cat-item-3">
					<a href="#" title="Category 3">著作权</a>
				</li>
				<li class="cat-item-4">
					<a href="#" title="Category 4">培训</a>
				</li>
			</ul>
			<ul class="portfolio-area clearfix">

				<li class="portfolio-item2 col-lg-2" data-id="id-0" data-type="cat-item-1">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="https://static2.tianqionggongcheng.com/book1.jpg" data-gal="prettyPhoto[gallery]">

								<img src="https://static2.tianqionggongcheng.com/book1.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 col-lg-2" data-id="id-1" data-type="cat-item-1">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="https://static2.tianqionggongcheng.com/book2.jpg" data-gal="prettyPhoto[gallery]">

								<img src="https://static2.tianqionggongcheng.com/book2.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 col-lg-2" data-id="id-2" data-type="cat-item-1">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="https://static2.tianqionggongcheng.com/book3.jpg" data-gal="prettyPhoto[gallery]">

								<img src="https://static2.tianqionggongcheng.com/book3.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 col-lg-2" data-id="id-3" data-type="cat-item-1">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="https://static2.tianqionggongcheng.com/book4.jpg" data-gal="prettyPhoto[gallery]">

								<img src="https://static2.tianqionggongcheng.com/book4.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 col-lg-2" data-id="id-4" data-type="cat-item-1">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="https://static2.tianqionggongcheng.com/book5.jpg" data-gal="prettyPhoto[gallery]">
								<img src="https://static2.tianqionggongcheng.com/book5.jpg" class="img-fluid w3layouts agileits" alt="">
							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 col-lg-2" data-id="id-5" data-type="cat-item-1">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="https://static2.tianqionggongcheng.com/book6.jpg" data-gal="prettyPhoto[gallery]">

								<img src="https://static2.tianqionggongcheng.com/book6.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 col-lg-2" data-id="id-6" data-type="cat-item-1">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="https://static2.tianqionggongcheng.com/book7.jpg" data-gal="prettyPhoto[gallery]">
								<img src="https://static2.tianqionggongcheng.com/book7.jpg" class="img-fluid w3layouts agileits" alt="">
							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 col-lg-2" data-id="id-7" data-type="cat-item-1">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="https://static2.tianqionggongcheng.com/book8.jpg" data-gal="prettyPhoto[gallery]">

								<img src="https://static2.tianqionggongcheng.com/book8.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 col-lg-2" data-id="id-8" data-type="cat-item-1">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="https://static2.tianqionggongcheng.com/book9.jpg" data-gal="prettyPhoto[gallery]">

								<img src="https://static2.tianqionggongcheng.com/book9.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 col-lg-2" data-id="id-9" data-type="cat-item-1">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="https://static2.tianqionggongcheng.com/book10.jpg" data-gal="prettyPhoto[gallery]">

								<img src="https://static2.tianqionggongcheng.com/book10.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 col-lg-2" data-id="id-10" data-type="cat-item-1">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="https://static2.tianqionggongcheng.com/book11.jpg" data-gal="prettyPhoto[gallery]">

								<img src="https://static2.tianqionggongcheng.com/book11.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 col-lg-2" data-id="id-11" data-type="cat-item-1">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="https://static2.tianqionggongcheng.com/book12.jpg" data-gal="prettyPhoto[gallery]">

								<img src="https://static2.tianqionggongcheng.com/book12.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 col-lg-2" data-id="id-12" data-type="cat-item-1">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="https://static2.tianqionggongcheng.com/book13.jpg" data-gal="prettyPhoto[gallery]">

								<img src="https://static2.tianqionggongcheng.com/book13.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 col-lg-2" data-id="id-13" data-type="cat-item-1">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="https://static2.tianqionggongcheng.com/book14.jpg" data-gal="prettyPhoto[gallery]">

								<img src="https://static2.tianqionggongcheng.com/book14.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 col-lg-2" data-id="id-14" data-type="cat-item-1">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="https://static2.tianqionggongcheng.com/book15.jpg" data-gal="prettyPhoto[gallery]">

								<img src="https://static2.tianqionggongcheng.com/book15.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 col-lg-2" data-id="id-15" data-type="cat-item-1">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="https://static2.tianqionggongcheng.com/book16.jpg" data-gal="prettyPhoto[gallery]">

								<img src="https://static2.tianqionggongcheng.com/book16.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 col-lg-2" data-id="id-16" data-type="cat-item-2">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="https://static2.tianqionggongcheng.com/patent1.jpg" data-gal="prettyPhoto[gallery]">

								<img src="https://static2.tianqionggongcheng.com/patent1.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 col-lg-2" data-id="id-17" data-type="cat-item-2">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="https://static2.tianqionggongcheng.com/patent2.jpg" data-gal="prettyPhoto[gallery]">

								<img src="https://static2.tianqionggongcheng.com/patent2.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 col-lg-2" data-id="id-18" data-type="cat-item-2">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="https://static2.tianqionggongcheng.com/patent3.jpg" data-gal="prettyPhoto[gallery]">

								<img src="https://static2.tianqionggongcheng.com/patent3.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 col-lg-2" data-id="id-19" data-type="cat-item-2">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="https://static2.tianqionggongcheng.com/patent4.jpg" data-gal="prettyPhoto[gallery]">

								<img src="https://static2.tianqionggongcheng.com/patent4.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 col-lg-2" data-id="id-20" data-type="cat-item-2">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="https://static2.tianqionggongcheng.com/patent5.jpg" data-gal="prettyPhoto[gallery]">

								<img src="https://static2.tianqionggongcheng.com/patent5.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 col-lg-2" data-id="id-21" data-type="cat-item-2">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="https://static2.tianqionggongcheng.com/patent6.jpg" data-gal="prettyPhoto[gallery]">

								<img src="https://static2.tianqionggongcheng.com/patent6.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 col-lg-2" data-id="id-22" data-type="cat-item-2">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="https://static2.tianqionggongcheng.com/patent7.jpg" data-gal="prettyPhoto[gallery]">

								<img src="https://static2.tianqionggongcheng.com/patent7.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 col-lg-2" data-id="id-23" data-type="cat-item-2">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="https://static2.tianqionggongcheng.com/patent8.jpg" data-gal="prettyPhoto[gallery]">

								<img src="https://static2.tianqionggongcheng.com/patent8.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 col-lg-2" data-id="id-24" data-type="cat-item-2">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="https://static2.tianqionggongcheng.com/patent9.jpg" data-gal="prettyPhoto[gallery]">

								<img src="https://static2.tianqionggongcheng.com/patent9.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 col-lg-2" data-id="id-25" data-type="cat-item-2">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="https://static2.tianqionggongcheng.com/patent10.jpg" data-gal="prettyPhoto[gallery]">

								<img src="https://static2.tianqionggongcheng.com/patent10.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 not-long-img col-lg-2" data-id="id-26" data-type="cat-item-3">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="https://static2.tianqionggongcheng.com/work1.jpg" data-gal="prettyPhoto[gallery]">

								<img src="https://static2.tianqionggongcheng.com/work1.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 not-long-img col-lg-2" data-id="id-27" data-type="cat-item-3">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="https://static2.tianqionggongcheng.com/work2.jpg" data-gal="prettyPhoto[gallery]">

								<img src="https://static2.tianqionggongcheng.com/work2.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 not-long-img col-lg-2" data-id="id-28" data-type="cat-item-3">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="https://static2.tianqionggongcheng.com/work3.jpg" data-gal="prettyPhoto[gallery]">

								<img src="https://static2.tianqionggongcheng.com/work3.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 not-long-img col-lg-2" data-id="id-29" data-type="cat-item-3">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="https://static2.tianqionggongcheng.com/work4.jpg" data-gal="prettyPhoto[gallery]">

								<img src="https://static2.tianqionggongcheng.com/work4.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2  not-long-img col-lg-2" data-id="id-30" data-type="cat-item-3">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="https://static2.tianqionggongcheng.com/work5.jpg" data-gal="prettyPhoto[gallery]">

								<img src="https://static2.tianqionggongcheng.com/work5.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 not-long-img col-lg-2" data-id="id-31" data-type="cat-item-3">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="https://static2.tianqionggongcheng.com/work6.jpg" data-gal="prettyPhoto[gallery]">

								<img src="https://static2.tianqionggongcheng.com/work6.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 not-long-img col-lg-2" data-id="id-32" data-type="cat-item-3">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="https://static2.tianqionggongcheng.com/work7.jpg" data-gal="prettyPhoto[gallery]">

								<img src="https://static2.tianqionggongcheng.com/work7.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 not-long-img col-lg-2" data-id="id-33" data-type="cat-item-3">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="https://static2.tianqionggongcheng.com/work8.jpg" data-gal="prettyPhoto[gallery]">

								<img src="https://static2.tianqionggongcheng.com/work8.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 not-long-img col-lg-2" data-id="id-34" data-type="cat-item-3">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="https://static2.tianqionggongcheng.com/work9.jpg" data-gal="prettyPhoto[gallery]">

								<img src="https://static2.tianqionggongcheng.com/work9.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 not-long-img col-lg-2" data-id="id-35" data-type="cat-item-3">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="https://static2.tianqionggongcheng.com/work10.jpg" data-gal="prettyPhoto[gallery]">

								<img src="https://static2.tianqionggongcheng.com/work10.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 col-lg-2" data-id="id-36" data-type="cat-item-3">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="https://static2.tianqionggongcheng.com/work11.jpg" data-gal="prettyPhoto[gallery]">

								<img src="https://static2.tianqionggongcheng.com/work11.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 not-long-img col-lg-2" data-id="id-37" data-type="cat-item-3">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="https://static2.tianqionggongcheng.com/work12.jpg" data-gal="prettyPhoto[gallery]">

								<img src="https://static2.tianqionggongcheng.com/work12.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 not-long-img col-lg-2" data-id="id-38" data-type="cat-item-3">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="https://static2.tianqionggongcheng.com/work13.jpg" data-gal="prettyPhoto[gallery]">

								<img src="https://static2.tianqionggongcheng.com/work13.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 not-long-img col-lg-2" data-id="id-39" data-type="cat-item-3">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="https://static2.tianqionggongcheng.com/work14.jpg" data-gal="prettyPhoto[gallery]">

								<img src="https://static2.tianqionggongcheng.com/work14.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 not-long-img col-lg-2" data-id="id-40" data-type="cat-item-3">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="https://static2.tianqionggongcheng.com/work15.jpg" data-gal="prettyPhoto[gallery]">

								<img src="https://static2.tianqionggongcheng.com/work15.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 col-lg-2" data-id="id-41" data-type="cat-item-3">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="https://static2.tianqionggongcheng.com/work16.jpg" data-gal="prettyPhoto[gallery]">

								<img src="https://static2.tianqionggongcheng.com/work16.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2  not-long-img col-lg-2" data-id="id-42" data-type="cat-item-3">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="https://static2.tianqionggongcheng.com/work17.jpg" data-gal="prettyPhoto[gallery]">

								<img src="https://static2.tianqionggongcheng.com/work17.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2  not-long-img col-lg-2" data-id="id-43" data-type="cat-item-3">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="https://static2.tianqionggongcheng.com/work18.jpg" data-gal="prettyPhoto[gallery]">

								<img src="https://static2.tianqionggongcheng.com/work18.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 not-long-img col-lg-2" data-id="id-44" data-type="cat-item-3">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="https://static2.tianqionggongcheng.com/work19.jpg" data-gal="prettyPhoto[gallery]">

								<img src="https://static2.tianqionggongcheng.com/work19.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 not-long-img col-lg-2" data-id="id-45" data-type="cat-item-3">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="https://static2.tianqionggongcheng.com/work20.jpg" data-gal="prettyPhoto[gallery]">

								<img src="https://static2.tianqionggongcheng.com/work20.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<!--
				<li class="portfolio-item2 col-lg-2" data-id="id-2" data-type="cat-item-1">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="images/g3.jpg" data-gal="prettyPhoto[gallery]">

								<img src="images/g3.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 col-lg-2" data-id="id-3" data-type="cat-item-1">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="images/g4.jpg" data-gal="prettyPhoto[gallery]">

								<img src="images/g4.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 col-lg-2" data-id="id-4" data-type="cat-item-3">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="images/g5.jpg" data-gal="prettyPhoto[gallery]">

								<img src="images/g5.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 col-lg-2" data-id="id-5" data-type="cat-item-2">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="images/g6.jpg" data-gal="prettyPhoto[gallery]">

								<img src="images/g6.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 col-lg-2" data-id="id-6" data-type="cat-item-1">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="images/g7.jpg" data-gal="prettyPhoto[gallery]">

								<img src="images/g7.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 col-lg-2" data-id="id-7" data-type="cat-item-1">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="images/g8.jpg" data-gal="prettyPhoto[gallery]">

								<img src="images/g8.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 col-lg-2" data-id="id-9" data-type="cat-item-4">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="images/g9.jpg" data-gal="prettyPhoto[gallery]">

								<img src="images/g9.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 col-lg-2" data-id="id-9" data-type="cat-item-3">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="images/g10.jpg" data-gal="prettyPhoto[gallery]">

								<img src="images/g10.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 col-lg-2" data-id="id-10" data-type="cat-item-2">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="images/g11.jpg" data-gal="prettyPhoto[gallery]">

								<img src="images/g11.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 col-lg-2" data-id="id-8" data-type="cat-item-1">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="images/g12.jpg" data-gal="prettyPhoto[gallery]">

								<img src="images/g12.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 col-lg-2" data-id="id-9" data-type="cat-item-3">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="images/g10.jpg" data-gal="prettyPhoto[gallery]">

								<img src="images/g10.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 col-lg-2" data-id="id-10" data-type="cat-item-2">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="images/g1.jpg" data-gal="prettyPhoto[gallery]">

								<img src="images/g1.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2 col-lg-2" data-id="id-8" data-type="cat-item-1">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="images/g3.jpg" data-gal="prettyPhoto[gallery]">

								<img src="images/g3.jpg" class="img-fluid w3layouts agileits" alt="">

							</a>
						</span>
					</div>
				</li>
				--->
			</ul>
			<!--end portfolio-area -->

		</div>
		<!-- //gallery container -->
	</section>
	<!-- //gallery -->

	<!-- //Projects page -->

	<!-- project -->
	<section class="project py-5 text-center">
		<div class="container">
			<h3 class="text-capitalize mb-5">深入了解我们的项目?</h3>
			<a href="/contact" class="text-uppercase"><i class="fas fa-envelope-open"></i> 联系我们 </a>
		</div>
	</section>
	<!-- //project -->
	<!-- footer -->
	<footer>
		<div class="container py-5">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<h3 class="text-uppercase mb-3">地址</h3>
					<address>
						<p><strong>上海培训中心:</strong></p>
						<p class="mb-3">上海长宁区仙霞路319号远东国际广场A座</p>
						<p class="mb-3">上海市黄浦区南苏州路333号华隆大厦</p>
						<p class="mb-3">上海市黄浦区成都北路500号峻岭广场</p>
						<p class="mb-3">上海市静安区共和新路1878号大宁国际商业广场</p>
						<!-- footer <p><strong>Fax</strong> : +11 8976 2334 </p> -->
					</address>
				</div>
				<div class="col-lg-3 col-md-6">
					<h3 class="text-uppercase mb-3">联系方式</h3>
					<address>
						<p><strong>公众号</strong>：二生学苑</p>
						<p><strong>Phone</strong> : +86 18868721318</p>
						<p><strong>Email</strong> : <a href="mailto:yesongedu@sina.com">yesongedu@sina.com</a></p>
						<!-- footer <p><strong>Fax</strong> : +11 8976 2334 </p> -->
					</address>
				</div>
				<div class="col-lg-2 col-md-6 mt-lg-0 mt-sm-0 mt-4 p-md-0">
					<h3 class="text-uppercase mb-3">链接</h3>
					<div class="links">
						<a class="pt-2 text-capitalize" href="https://web.tianqionggongcheng.com/"><i class="fas fa-angle-right"></i> 线上测评</a>
						<a class="pt-2 text-capitalize" href="https://web.tianqionggongcheng.com/#/inquiry/"><i class="fas fa-angle-right"></i> 教育问题在线问诊</a>
						<a class="pt-2 text-capitalize" href="https://web.tianqionggongcheng.com/#/education/"><i class="fas fa-angle-right"></i> 家庭教育学院</a>
						<a class="pt-2 text-capitalize" href="https://web.tianqionggongcheng.com/#/freeClassroom/"><i class="fas fa-angle-right"></i> 公益课堂</a>
						<a class="pt-2 text-capitalize" href="https://web.tianqionggongcheng.com/#/familyEducation/"><i class="fas fa-angle-right"></i> 家庭教育能力课程</a>
						<a class="pt-2 text-capitalize" href="https://web.tianqionggongcheng.com/#/activities/"><i class="fas fa-angle-right"></i> 夫妻情感增值系列活动</a>
					</div>
				</div>
				<!-- footer
				<div class="col-lg-3 col-md-6 mt-lg-0 mt-4">
					<h3 class="text-uppercase mb-3">Recent posts</h3>
					<div class="posts">
						<p class="pt-2">lorem ipsum dolor sit amet
						<span class="font-italic">31st march, 2018.</span></p>
						<p class="py-2 my-2 middle">lorem ipsum dolor sit amet
						<span class="font-italic">31st march, 2018.</span></p>
						<p class="pt-2">lorem ipsum dolor sit amet
						<span class="font-italic">31st march, 2018.</span></p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
					<h3 class="text-uppercase mb-3">Newsletter</h3>
					<p class="mb-4 pt-2">Subscribe to Our Newsletter to get Important News, Amazing Offers & More</p>
					<form action="#" method="post">
						<input type="email" name="Email" placeholder="Enter your email..." required="">
						<button class="btn1"><i class="far fa-envelope"></i></button>
						<div class="clearfix"> </div>
					</form>
				</div>
				footer -->
			</div>
		</div>
	</footer>
	<!-- footer -->

	<!-- copyright -->
	<div class="copyright py-4">
		<div class="container">
			<div class="copyrightgrids row">
				<div class="col-lg-6 col-12">
					<p>Copyright &copy; 2018.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
				</div>
				<div class="col-lg-6 col-12">
					<ul class="social text-right mt-lg-0 mt-3">
						<li><p class="mx-2 text-capitalize">follow us on : </p></li>
						<li class="mx-2"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
						<li class="mx-2"><a href="#"><span class="fab fa-twitter"></span></a></li>
						<li class="mx-2"><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
						<li class="mx-2"><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
						<li class="mx-2"><a href="#"><span class="fas fa-rss"></span></a></li>
						<li class="mx-2"><a href="#"><span class="fab fa-vk"></span></a></li>
						<li class="mx-2"><a href="#"><span class="fab fa-vimeo-v"></span></a></li>
						<li class="mx-2"><a href="#"><span class="fab fa-yahoo"></span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- //copyright -->

	<!-- js-scripts -->

		<!-- js -->
		<script type="text/javascript" src="/javascripts/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="/javascripts/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap -->
		<!-- //js -->

		<!-- start-smoth-scrolling -->
		<script src="/javascripts/SmoothScroll.min.js"></script>
		<script type="text/javascript" src="/javascripts/move-top.js"></script>
		<script type="text/javascript" src="/javascripts/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
		<!-- here stars scrolling icon -->
		<script type="text/javascript">
			$(document).ready(function() {
				/*
					var defaults = {
					containerID: 'toTop', // fading element id
					containerHoverID: 'toTopHover', // fading element hover id
					scrollSpeed: 1200,
					easingType: 'linear'
					};
				*/

				$().UItoTop({ easingType: 'easeOutQuart' });

				});
		</script>
		<!-- //here ends scrolling icon -->
		<!-- start-smoth-scrolling -->

	    <!-- jQuery-Photo-filter-lightbox-Gallery-plugin -->
	    <script src="/javascripts/jquery-1.7.2.js"></script>
	    <script src="/javascripts/jquery.quicksand.js"></script>
	    <script src="/javascripts/script.js"></script>
	    <script src="/javascripts/jquery.prettyPhoto.js"></script>
	    <!-- //jQuery-Photo-filter-lightbox-Gallery-plugin -->

	<!-- //js-scripts -->

	</body>
	</html>
