<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
<!--

 <link rel='stylesheet' href='http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
-->
  </head>
  <body>
    <div class="well jumbotron">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
    <script src='/jquery/dist/jquery.min.js'></script>
    <script src='/bootstrap/dist/js/bootstrap.min.js'></script>
  </body>
</html>
