<!DOCTYPE html>
<html lang="en">
<head>
<title>页颂教育</title>

	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Meta tag Keywords -->

	<link rel="stylesheet" href="/stylesheets/flexslider.css" type="text/css" media="all" /><!-- for testimonials -->

	<!-- css files -->
	<link rel="stylesheet" href="/stylesheets/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="all" /> <!-- Style-CSS -->
	<link rel="stylesheet" href="/stylesheets/fontawesome-all.css"> <!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->

	<!-- web-fonts -->
	<link href="http://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
	<!-- //web-fonts -->

</head>

<body>

<!--Header-->
<header>
	<div class="container agile-banner_nav">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<img src="https://static.tianqionggongcheng.com/image/WechatIMG468.jpeg" class="col-sm-logo" alt="">
			<a class="navbar-brand navbar-name" href="#">上海页颂教育科技有限公司 <span class="display">Education technology</span></a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">首页 <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/about">了解我们</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/achievement">研究成果</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/news">资讯新闻</a>
					</li>
					<!--
					<li class="dropdown nav-item">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">资讯新闻
							<b class="caret"></b>
						</a>

						<ul class="dropdown-menu agile_short_dropdown">
							<li>
								<a href="index.html">Testimonials</a>
							</li>
							<li>
								<a href="typography.html">Typography</a>
							</li>
						</ul>
						-->
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/base">培训基地</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/team">师资团队</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/system">系统介绍</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/sky">天穹工程</a>
					</li>
				</ul>
			</div>

		</nav>
	</div>
</header>
<!--Header-->

<!--/banner-->
<div class="banner">
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="carousel-item active">
				<div class="carousel-caption">
					<h3>关于页颂</h3>
					<p class="text-capitalize mt-3 mb-sm-5 mb-4">第二生命形态学</p>
					<a href="/about">了解更多 <span class="fas fa-long-arrow-alt-down"></span></a>
				</div>
			</div>
			<div class="carousel-item item2">
				<div class="carousel-caption">
					<h3>作业能力提升夏令营<span>实况新闻</span></h3>
					<p class="text-capitalize mt-3 mb-sm-5 mb-4">祝贺江阴育璞教育第二生命形态学作业能力提升高端营圆满结束！</p>
					<a href="#">了解详情<span class="fas fa-long-arrow-alt-down"></span></a>
				</div>
			</div>
			<div class="carousel-item item3">
				<div class="carousel-caption">
					<h3>儿童智慧成长数学脑系统<span>实况记录</span></h3>
					<p class="text-capitalize mt-3 mb-sm-5 mb-4">全国各个基地数学脑系统火热进行中</p>
					<a href="#">了解详情 <span class="fas fa-long-arrow-alt-down"></span></a>
					</div>
			</div>
			<div class="carousel-item item4">
				<div class="carousel-caption">
					<h3>产后抑郁集中调理开班技术培训 <span>第一期培训圆满结束</span></h3>
					<p class="text-capitalize mt-3 mb-sm-5 mb-4"></p>
					<a href="#">了解更多 <span class="fas fa-long-arrow-alt-down"></span></a>
					</div>
			</div>
		</div>
		<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</div>
<!--//banner-->

<!-- Welcome -->
<section class="welcome py-5 my-lg-5">
	<div class="container">
		<div class="row welcome_grids">
			<div class="col-lg-7 mb-lg-0 mb-5">
				<h3 class="mb-3 text-capitalize">上海页颂教育科技有限公司</h3>
				<p class="my-2 initial font-italic" href="#">
					<a href="#" class = "detail-company">详细介绍 </a>
				</p>
				<p class="mb-5 mt-4"> “上海页颂教育科技有限公司”是研究机制健全的教育产品专 业研发机构，拥有自己专业的“课题研究室”和设立在全国六个省市 的“应用技术实验基地”。“课题研究室”的主要研究方向是人类意识 形态的成长和生活社会活动中人类思维的结构和变化，以及人类各生 存阶段行为表现的本质成因和相应的培养、改善和援助方法。</p>
				<a href="#" class="text-uppercase" data-toggle="modal" data-target="#exampleModal"><span class="fas fa-play-circle"></span> 我们的活动 </a>
			</div>
			<div class="col-lg-5 welcome_right">
				<img src="https://static2.tianqionggongcheng.com/our-activities.jpg" alt="" class="img-fluid">
			</div>
		</div>
	</div>
</section>
<!-- //Welcome -->


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">第二生命形态学创研活动</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body video">
				<iframe src="/video"></iframe>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- odometer stats-->
<section class="odometer1">
	<div class="layer py-5">
		<div class="container py-lg-5">
			<h3 class="heading mb-5 text-capitalize text-center">研究成果</h3>
			<div class="row w3layouts_statistics_grid_right">
				<div class="col-sm-3 col-6 text-center w3_stats_grid">
					<h3 id="w3l_stats1" class="odometer">0</h3>
					<p class="mt-2">可加盟系统</p>
				</div>
				<div class="col-sm-3 col-6 text-center w3_stats_grid">
					<h3 id="w3l_stats2" class="odometer">0</h3>
					<p class="mt-2">出版书籍</p>
				</div>
				<div class="col-sm-3 col-6 mt-sm-0 mt-4 text-center w3_stats_grid">
					<h3 id="w3l_stats3" class="odometer">0</h3>
					<p class="mt-2">专利</p>
				</div>
				<div class="col-sm-3 col-6 mt-sm-0 mt-4 text-center w3_stats_grid">
					<h3 id="w3l_stats4" class="odometer">0</h3>
					<p class="mt-2">著作权</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //odometer stats -->

<section class="process py-5 my-lg-5">
	<div class="container">
		<div class="row process-grids">
			<div class="col-lg-3 col-md-6 grid1">
				<span class="fab fa-digital-ocean"></span>
				<h3 class="text-uppercase mt-3">儿童培育</h3>
				<img class= "system-show" height="160" src="images/system-01.jpg" alt="" />
				<p class="mt-sm-5 mt-3"></p>
				<ul class="mt-4">
					<li class="mt-2"><span class="fas fa-angle-right"></span>儿童数学/语文运动能力游戏课</li>
					<li class="mt-2"><span class="fas fa-angle-right"></span>学前儿童学习自觉性学习班</li>
					<li class="mt-2"><span class="fas fa-angle-right"></span>儿童全方位情商交际口才智能培养课程</li>
					<li class="mt-2"><span class="fas fa-angle-right"></span>儿童生存能力成长读书班</li>
					<li class="mt-2"><span class="fas fa-angle-right"></span>
						<a href="#" class="text-capitalize" data-toggle="modal" data-target="#exampleModalCenter" role="button">了解更多 <i class="fas fa-angle-right"></i></a>
					</li>
				</ul>
			</div>
			<div class="col-lg-3 col-md-6 grid1 mt-md-0 mt-5">
				<span class="fab fa-digital-ocean"></span>
				<h3 class="text-uppercase mt-3">亲子成长</h3>
				<img class= "system-show" height="160" src="images/system-02.jpg" alt="" />
				<p class="mt-sm-5 mt-3"></p>
				<ul class="mt-4">
					<li class="mt-2"><span class="fas fa-angle-right"></span>种植智慧福禄脑系统</li>
					<li class="mt-2"><span class="fas fa-angle-right"></span>儿童智慧成长数学/语文脑系统</li>
					<li class="mt-2"><span class="fas fa-angle-right"></span>儿童超凡亲子情感培养班</li>
					<li class="mt-2"><span class="fas fa-angle-right"></span>家庭教育能力课程系统</li>
					<li class="mt-2"><span class="fas fa-angle-right"></span>
						<a href="#" class="text-capitalize" data-toggle="modal" data-target="#exampleModalCenter" role="button">了解更多 <i class="fas fa-angle-right"></i></a>
					</li>
				</ul>
			</div>
			<div class="col-lg-3 col-md-12 grid1 mt-lg-0 mt-5">
				<span class="fab fa-digital-ocean"></span>
				<h3 class="text-uppercase mt-3">高端营</h3>
				<img class= "system-show" height="160" src="images/news-summer-homework4.jpg" alt="" />
				<p class="mt-sm-5 mt-3"></p>
				<ul class="mt-4">
					<li class="mt-2"><span class="fas fa-angle-right"></span>作业能力提升高端营</li>
					<li class="mt-2"><span class="fas fa-angle-right"></span>商界小精英高端营</li>
					<li class="mt-2"><span class="fas fa-angle-right"></span>国学养慧高端营</li>
					<li class="mt-2"><span class="fas fa-angle-right"></span>放肆多动改善营</li>
					<li class="mt-2"><span class="fas fa-angle-right"></span>
						<a href="#" class="text-capitalize" data-toggle="modal" data-target="#exampleModalCenter" role="button">了解更多 <i class="fas fa-angle-right"></i></a>
					</li>
				</ul>
			</div>
			<div class="col-lg-3 col-md-12 grid1 mt-lg-0 mt-5">
				<span class="fab fa-digital-ocean"></span>
				<h3 class="text-uppercase mt-3">生命之树</h3>
				<img class= "system-show" height="160" src="images/system-05.jpg" alt="" />
				<p class="mt-sm-5 mt-3"></p>
				<ul class="mt-4">
					<li class="mt-2"><span class="fas fa-angle-right"></span>第二生命形态学成年人情绪问题全解课程</li>
					<li class="mt-2"><span class="fas fa-angle-right"></span>第二生命形态学调理包系列</li>
					<li class="mt-2"><span class="fas fa-angle-right"></span>第二生命形态学逻辑基构学</li>
					<li class="mt-2"><span class="fas fa-angle-right"></span>第二生命形态学逻辑扩展学</li>
					<li class="mt-2"><span class="fas fa-angle-right"></span>
				  	<a href="#" class="text-capitalize" data-toggle="modal" data-target="#exampleModalCenter" role="button">了解更多 <i class="fas fa-angle-right"></i></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="">
		</div>
	</div>
</section>
<!-- //Process -->

<!-- -->

<section class="testimonials py-5">
	<div class="container py-lg-5">
		<div class="row">

			<div class=" col-lg-6 clients">
				<div class="slider p-sm-5 p-4">
					<div class="flexslider">
						<ul class="slides">
							<li>
								<div class="client row">
									<div class="col-sm-12">
										<img class= "office-show" src="images/office01.jpg" alt="" />
									</div>
									<div class="col-sm-12 text-center">
										<h5 class="my-2">峻岭培训中心</h5>
										<h6>峻岭广场38层</h6>
										<ul class="rating mt-2">

										</ul>
									</div>
								</div>

							</li>
							<li>
								<div class="client row">
									<div class="col-sm-12">
										<img class= "office-show" src="images/office02.jpg" alt="" />
									</div>
									<div class="col-sm-12 text-center">
										<h5 class="my-2">华隆培训中心</h5>
										<h6>华隆大厦21楼</h6>
										<ul class="rating mt-2">
										</ul>
									</div>
								</div>

							</li>
							<li>
								<div class="client row">
									<div class="col-sm-12">
										<img class= "office-show" src="images/office03.jpg" alt="" />
									</div>
									<div class="col-sm-12 text-center">
										<h5 class="my-2">远东培训中心</h5>
										<h6>远东国际广场A座28楼</h6>
										<ul class="rating mt-2">

										</ul>
									</div>
								</div>

							</li>
							<li>
								<div class="client row">
									<div class="col-sm-12">
										<img class= "office-show" src="images/office04.jpg" alt="" />
									</div>
									<div class="col-sm-12 text-center">
										<h5 class="my-2">大宁培训中心</h5>
										<h6>大宁国际商业广场1号楼7层</h6>
										<ul class="rating mt-2">
										</ul>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-lg-6 collections mt-lg-0 mt-5 px-sm-5 px-4">
				<h3>第二生命形态学上海培训基地</h3>
				<p class="my-4">峻岭培训中心（黄浦区）</p>
				<p class="my-4">华隆培训中心（黄浦区）</p>
				<p class="my-4">远东培训中心（长宁区）</p>
				<p class="my-4">大宁培训中心（静安区）</p>

				<a href="#" class="text-capitalize" data-toggle="modal" data-target="#exampleModalCenter" role="button">了解更多 <i class="fas fa-angle-right"></i></a>
			</div>
		</div>
	</div>
</section>

<!-- -->

<!-- team -->
<div class="banner-bottom py-5 my-lg-5">
	<div class="container">
	<h3 class="heading mb-5 text-capitalize text-center">直属合作基地</h3>
		<div class="row w3_testimonials_grids">
			<div class="col-md-4 col-sm-6 text-center w3layouts_team_grid">
				<div class="agileits_grid w3_team_grid1">
					<figure class="effect-layla">
						<img src="https://static2.tianqionggongcheng.com/bengbu-0.jpg" alt=" " class="img-responsive" />
						<figcaption>
							<ul class="agileits_social_list">
								<li><a href="#" class="w3_agile_dribble"><i class="fab fa-dribbble" aria-hidden="true"></i></a></li>
							</ul>
						</figcaption>
					</figure>
				</div>
				<h4 class="mb-2">蚌埠</h4>
				<p>智跃教育</p>
			</div>
			<div class="col-md-4 col-sm-6 mt-sm-0 mt-5 text-center w3layouts_team_grid">
				<div class="agileits_grid w3_team_grid1">
					<figure class="effect-layla">
						<img src="https://static2.tianqionggongcheng.com/jiangyin-0.jpg" alt=" " class="img-responsive" />
						<figcaption>
							<ul class="agileits_social_list">
								<li><a href="#" class="w3_agile_dribble"><i class="fab fa-dribbble" aria-hidden="true"></i></a></li>
							</ul>
						</figcaption>
					</figure>
				</div>
				<h4 class="mb-2">江阴</h4>
				<p>育璞教育</p>
			</div>
			<div class="col-md-4 col-sm-6 mt-md-0 mt-5 text-center w3layouts_team_grid">
				<div class="agileits_grid w3_team_grid1">
					<figure class="effect-layla">
						<img src="https://static2.tianqionggongcheng.com/nanjing-0.jpg" alt=" " class="img-responsive" />
						<figcaption>
							<ul class="agileits_social_list">
							<li><a href="#" class="w3_agile_dribble"><i class="fab fa-dribbble" aria-hidden="true"></i></a></li>
							</ul>
						</figcaption>
					</figure>
				</div>
				<h4 class="mb-2">南京</h4>
				<p>启智教育</p>
			</div>
			<div class="col-md-4 col-sm-6 mt-md-0 mt-5 text-center w3layouts_team_grid">
				<div class="agileits_grid w3_team_grid1">
					<figure class="effect-layla">
						<img src="https://static2.tianqionggongcheng.com/taizhou-0.jpg" alt=" " class="img-responsive" />
						<figcaption>
							<ul class="agileits_social_list">
								<li><a href="#" class="w3_agile_dribble"><i class="fab fa-dribbble" aria-hidden="true"></i></a></li>
							</ul>
						</figcaption>
					</figure>
				</div>
				<h4 class="mb-2">台州</h4>
				<p>深睿教育</p>
			</div>
			<div class="col-md-4 col-sm-6 mt-md-0 mt-5 text-center w3layouts_team_grid">
				<div class="agileits_grid w3_team_grid1">
					<figure class="effect-layla">
						<img src="https://static2.tianqionggongcheng.com/tianjin-0.jpg" alt=" " class="img-responsive" />
						<figcaption>
							<ul class="agileits_social_list">
								<li><a href="#" class="w3_agile_dribble"><i class="fab fa-dribbble" aria-hidden="true"></i></a></li>
							</ul>
						</figcaption>
					</figure>
				</div>
				<h4 class="mb-2">天津</h4>
				<p>辅尔特家庭教育</p>
			</div>
			<div class="col-md-4 col-sm-6 mt-md-0 mt-5 text-center w3layouts_team_grid">
				<div class="agileits_grid w3_team_grid1">
					<figure class="effect-layla">
						<img src="https://static2.tianqionggongcheng.com/weifang-0.jpg" alt=" " class="img-responsive" />
						<figcaption>
							<ul class="agileits_social_list">
								<li><a href="#" class="w3_agile_dribble"><i class="fab fa-dribbble" aria-hidden="true"></i></a></li>
							</ul>
						</figcaption>
					</figure>
				</div>
				<h4 class="mb-2">潍坊</h4>
				<p>乐智苑</p>
			</div>
		</div>
	</div>
</div>
<!-- //team -->

<!-- project -->
<section class="project py-5 text-center">
	<div class="container">
		<h3 class="text-capitalize mb-5">深入了解我们的项目?</h3>
		<a href="/contact" class="text-uppercase"><i class="fas fa-envelope-open"></i> 联系我们 </a>
	</div>
</section>
<!-- //project -->

<!-- footer -->
<footer>
	<div class="container py-5">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<h3 class="text-uppercase mb-3">地址</h3>
				<address>
					<p><strong>Address:</strong></p>
					<p class="mb-3">上海市闵行区星中路1111弄</p>
					<p><strong>Phone</strong> : +86 18868721318</p>
					<p><strong>Email</strong> : <a href="mailto:yesongedu@sina.com">yesongedu@sina.com</a></p>
					<!-- footer <p><strong>Fax</strong> : +11 8976 2334 </p> -->
				</address>
			</div>
			<div class="col-lg-2 col-md-6 mt-lg-0 mt-sm-0 mt-4 p-md-0">
				<h3 class="text-uppercase mb-3">链接</h3>
				<div class="links">
					<a class="pt-2 text-capitalize" href="https://web.tianqionggongcheng.com/"><i class="fas fa-angle-right"></i> 线上测评</a>
					<a class="pt-2 text-capitalize" href="https://web.tianqionggongcheng.com/#/inquiry/"><i class="fas fa-angle-right"></i> 教育问题在线问诊</a>
					<a class="pt-2 text-capitalize" href="https://web.tianqionggongcheng.com/#/education/"><i class="fas fa-angle-right"></i> 家庭教育学院</a>
					<a class="pt-2 text-capitalize" href="https://web.tianqionggongcheng.com/#/freeClassroom/"><i class="fas fa-angle-right"></i> 公益课堂</a>
					<a class="pt-2 text-capitalize" href="https://web.tianqionggongcheng.com/#/familyEducation/"><i class="fas fa-angle-right"></i> 家庭教育能力课程</a>
					<a class="pt-2 text-capitalize" href="https://web.tianqionggongcheng.com/#/activities/"><i class="fas fa-angle-right"></i> 夫妻情感增值系列活动</a>
				</div>
			</div>
			<!-- footer
			<div class="col-lg-3 col-md-6 mt-lg-0 mt-4">
				<h3 class="text-uppercase mb-3">Recent posts</h3>
				<div class="posts">
					<p class="pt-2">lorem ipsum dolor sit amet
					<span class="font-italic">31st march, 2018.</span></p>
					<p class="py-2 my-2 middle">lorem ipsum dolor sit amet
					<span class="font-italic">31st march, 2018.</span></p>
					<p class="pt-2">lorem ipsum dolor sit amet
					<span class="font-italic">31st march, 2018.</span></p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
				<h3 class="text-uppercase mb-3">Newsletter</h3>
				<p class="mb-4 pt-2">Subscribe to Our Newsletter to get Important News, Amazing Offers & More</p>
				<form action="#" method="post">
					<input type="email" name="Email" placeholder="Enter your email..." required="">
					<button class="btn1"><i class="far fa-envelope"></i></button>
					<div class="clearfix"> </div>
				</form>
			</div>
			footer -->
		</div>
	</div>
</footer>
<!-- footer -->


<!-- copyright -->
<div class="copyright py-4">
	<div class="container">
		<div class="copyrightgrids row">
			<div class="col-lg-6 col-12">
				<p>Copyright &copy; 2018.tianqionggongcheng.com <a href="http://www.tianqionggongcheng.com/" target="_blank" title="页颂教育">页颂教育</a></p>
				<p  style="margin: 0; height: 20px"><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011202006779"><img style="width:20px;" src="https://img.yzcdn.cn/public_files/2016/07/19/276d5f72dc85cc584d83c08fefa36c2b.png" /></a>沪公网安备 31011202006779号 沪ICP备17051651号</p>
			</div>
			<!-- footer
			<div class="col-lg-6 col-12">
				<ul class="social text-right mt-lg-0 mt-3">
					<li><p class="mx-2 text-capitalize">follow us on : </p></li>
					<li class="mx-2"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-twitter"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fas fa-rss"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-vk"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-vimeo-v"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-yahoo"></span></a></li>
				</ul>
			</div>
			footer -->
		</div>
	</div>
</div>
<!-- //copyright -->

<!-- Vertically centered Modal -->

<!-- //Vertically centered Modal -->

<!-- js-scripts -->

	<!-- js -->
	<script type="text/javascript" src="/javascripts/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="/javascripts/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap -->
	<!-- //js -->

	<!-- odometer-script -->
	<script src="/javascripts/odometer.js"></script>
	<script>
		window.odometerOptions = {
			format: '(ddd).dd'
		};
	</script>
	<script>
		setTimeout(function () {
			jQuery('#w3l_stats1').html(33);
		}, 1500);
	</script>
	<script>
		setTimeout(function () {
			jQuery('#w3l_stats2').html(16);
		}, 1500);
	</script>
	<script>
		setTimeout(function () {
			jQuery('#w3l_stats3').html(10);
		}, 1500);
	</script>
	<script>
		setTimeout(function () {
			jQuery('#w3l_stats4').html(32);
		}, 1500);
	</script>
	<!-- //odometer-script -->

	<!-- start-smoth-scrolling -->
	<script src="/javascripts/SmoothScroll.min.js"></script>
	<script type="text/javascript" src="/javascripts/move-top.js"></script>
	<script type="text/javascript" src="/javascripts/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- start-smoth-scrolling -->

	<!-- FlexSlider-JavaScript -->
	<script defer src="/javascripts/jquery.flexslider.js"></script>
	<script type="text/javascript">
		$(function(){
			SyntaxHighlighter.all();
				});
				$(window).load(function(){
				$('.flexslider').flexslider({
					animation: "slide",
					start: function(slider){
						$('body').removeClass('loading');
					}
			});
		});
	</script>
	<!-- //FlexSlider-JavaScript -->
<!-- //js-scripts -->

</body>
</html>
