

  <!DOCTYPE html>
  <html lang="en">
  <head>
  	<meta charset="UTF-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<title>学前儿童专注力测评与评估</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
        <link rel='stylesheet' href='/stylesheets/style.css' />
  	<link href='/stylesheets/login.css' rel="stylesheet">
  	<link href='/stylesheets/reg.css' rel="stylesheet">
  	   <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  	    <!--[if lt IE 9]>
  	      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  	      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  	    <![endif]-->
  	<style type="text/css">
      body {
        padding: 10px;
      }
      .hd-title {
        font-size: 18px;
        color: #369;
      }
      #quiz-title, #quiz-story,#quiz-body {
        margin: 10px 0;
      }
      #quiz-title {
        font-weight: bold;
      }
      #page {
        margin-top: 10px;
      }
  	</style>
  </head>
  <body>
    <!-- 导航条 -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  	   <div class="container-fluid text-center">
  		  <ul class="nav nav-pills ">
          <a class="navbar-brand" href="http://www.tianqionggongcheng.com">DSMDE 天穹工程</a>
  			  <li class="active" ><a href=".">  在线测评  </a></li>
  			  <li class="dropdown">
  				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
  				   分类 <b class="caret"></b>
  				</a>
  				<ul class="dropdown-menu">
  				   <li><a href="#">情感能力</a></li>
  				   <li><a href="#">赚钱能力</a></li>
  				   <li><a href="#">多动症</a></li>
  				   <li class="divider"></li>
  				   <li><a href="/premeasure">专注力</a></li>
  				   <li class="divider"></li>
  				   <li><a href="#">数学脑宣讲课</a></li>
  				</ul>
  			 </li>
  			 <li >
  				 <a type = "button" data-target="#demo" class="btn" data-toggle="collapse" aria-expanded="false">
  				   <span class = "glyphicon glyphicon-search"></span>
  				 </a>
  			 </li>
  			 <ul class="nav nav-pills  navbar-right ">
  				<!--注册按钮  -->
  				<li><a href="#" onclick="showdiv2();"><img src = "/images/reg2.png" width="20" height = "20"></a></li>
  				<!-- 登录按钮 -->
  				<li><a type = "button" onclick="showdiv();">
  						<span class = "glyphicon glyphicon-user"></span>
  					</a>
  				</li>
  			</ul>
  		  </ul>
  		</div>
  		<!-- <ul class="lginLi"> -->
  			<div class="lginLi">
  				 <div id="demo" class=" nav-pills collapse" >
  					  <form class="col-lg-6  navbar-left" role="search">
  						  <div class="input-group">
  							<input type="text" class="form-control" placeholder="Search for...">
  							<span class="input-group-btn">
  							  <button class="btn btn-default" type="button">Go!</button>
  							</span>
  						  </div>
  					  </form>
  				 </div>
  			</div>
  			<!-- account nav -->
  		<!-- </ul> -->
  	</nav>
  <!--主体-->
  <div style="margin-top:80px">
    <div class="hd-block">
      <div class="hd-icon" style="margin-left:auto;margin-right:auto"><img src="/images/012.jpg" alt=""></div>
    </div>
    <div class="main">
      <div id="quiz-title" style="font-size:20px"></div>
      <div id="quiz-story"></div>
      <div style="font-weight: bold;">这样的情景在人类社会中也可能会出现哦!</div>
      <div id="quiz-body"></div>
    </div>
    <div class="list-group">
      <a  class="list-group-item active">
        类似这样的对话，我们是不是听过呢？
      </a>
      <div class="action-group">
        <a  class="list-group-item"><input type="radio" name="quiz" class="radio-btn" value="0" /> 不会</a>
        <a  class="list-group-item"><input type="radio" name="quiz" class="radio-btn" value="1" /> 偶尔</a>
        <a  class="list-group-item"><input type="radio" name="quiz" class="radio-btn" value="2" /> 会</a>
        <a  class="list-group-item"><input type="radio" name="quiz" class="radio-btn" value="3" /> 经常</a>
      </div>

    </div>
    <div id="page"></div>
  </div>

  <footer class="container" style="margin-top: 100px;">
    <div style="width:300px;margin:0 auto; padding:20px 0;">
      <a target="_blank" href="http://www.gudschool.com" >
            <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">

              Copyright ©2017 上海页颂教育科技有限公司
            </p>
      </a>
      <a target="_blank" href="http://www.miitbeian.gov.cn/" >
        <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">
            | 沪ICP备17051651号
        </p>
      </a>

      <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011202006779" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
        <img src="/images/beianico.png" style="float:left;"/>
        <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">
          沪公网安备 31011202006779号
        </p>
      </a>
    </div>
  </footer>

  <script type="text/javascript">
    var quiz = [{
      title: '一、这是一个风和草的故事。',
      story: '一只虫子爬到小草的叶子上产卵了,小草想请风把虫卵吹掉。于是,小草对风说, “你能帮我把身上的虫卵吹掉吗?”风说,“可以呀。”于是,风使出了全身的力 气呼呼地吹,心想这样一定可以帮小草把身上的虫卵吹掉。结果,小草被风吹断 了。痛苦的小草生气地说,“你就不会轻点儿呀?胳膊都让你吹折了。”风委屈地 说,“不是你让我吹的吗?还嫌我吹得不好。你也没告诉我虫卵在哪儿,要用多 大的劲儿吹呀?”',
      body: '妈妈正在准备洗衣服。\n妈妈:儿子,帮妈妈把妈妈卧室里的衣服拿过来。\n孩子:好的,妈妈。\n孩子拿了衣服过来了。\n孩子:妈妈,给。 妈妈:不对!不是这件衣服!没看见妈妈正在洗衣服吗?妈妈让你拿的是那件要 洗的衣服!\n快去,帮妈妈拿过来。\n孩子委屈了,不情愿地去卧室里拿了衣服。'
    }, {
      title: '二、这是一段风和草之间的对话。',
      story: '一只虫子爬到小草的叶子上产卵了,小草想请风把虫卵吹掉。\n草对风说:你能帮我把身上的虫卵吹掉吗?\n风说:没看见我忙着呢吗?\n草对风说:你能帮我把身上的虫卵吹掉吗?\n风说:你没长手啊?\n草对风说:你能帮我把身上的虫卵吹掉吗?\n风说:你就不能自己弄吗?\n草对风说:你能帮我把身上的虫卵吹掉吗?\n风说:你就不能消停会儿吗?',
      body: '孩子对妈妈说:妈妈,陪我玩。\n妈妈:这孩子,怎么那么不懂事啊?没看见妈妈忙着呢吗?\n孩子对妈妈说:妈妈,帮我拿一下。\n妈妈:这孩子,你的手呢?自己拿。\n孩子对妈妈说:妈妈,帮我把这个弄好。\n妈妈:这孩子,你就不能自己弄啊?\n孩子对妈妈说:妈妈来,妈妈,过来。\n妈妈:这孩子,你就不能消停会儿吗?'
    }, {
      title: '三、这是另一个风和草的故事。',
      story: '一只虫子爬到小草的叶子上产卵了,小草想请风把虫卵吹掉,于是,小草对风说, “你能帮......”“你住嘴!”小草刚一张口,风就把小草的话给堵了回去,并且风 还说,“我不想听你说,从你的嘴里说不出好话来!”小草委屈极了,自言自语道, “哼!你有什么了不起?你不是不想听我说吗?以后你也别想让我听你说。”',
      body: '孩子从幼儿园放学回来,攒了一肚子的话想跟妈妈说。好不容易盼到妈妈下班回 家了,所以,孩子就跑过去,迫不及待地要跟妈妈说一说今天发生的好玩的事情。 结果,孩子还没开口,妈妈就问:“东东,今天在幼儿园乖不乖呀?”“妈妈,今 天老师带我们玩......”“别整天光想着玩,在幼儿园要听老师的话啊!好了,妈 妈要准备做饭了,你自己玩吧!”孩子憋了一肚子的话,还是没能跟妈妈说。'
    }, {
      title: '四、这是一个小草和灌木之间的故事。',
      story: '一个花盆里种了一棵灌木,灌木的周围长出了几棵小草。连下了几天雨,小草长 高了不少。这天,好不容易太阳出来了,小草想好好晒晒太阳。可是,它一抬头, 却发现比自己高大的灌木挡住了阳光,自己根本晒不着太阳。小草很不高兴,越 想越觉得不公平。于是,小草对灌木说,“你凭什么挡着我需要的阳光?”灌木 恼了,“我就挡怎么了?你以为就你需要呀?一边站着去!”小草一听,受不了了, “你以为你是谁呀?凭什么你就得站中间,我就得站边上啊?”灌木正为小草抢 了花盆里土壤中的水分而耿耿于怀呢,所以,张口就说,“谁让你抢了我需要的 水分呢?”小草也不甘示弱,“我就抢,怎么了?”灌木怒了,“那我就挡着你需要的阳光,怎么了?有本事你挡我呀!”就这样,小草和灌木你指责我,我指责你,你否定我,我否定你,谁也不让着谁,就这样在生气、愤怒和对抗中度过了 本应是极为美好的一天。',
      body: '夫妻俩说好了周末一起带孩子出去玩,可是还没想好去哪儿呢。丈夫说,“我们 去公园划船吧。”妻子不想去,于是对丈夫说,“大热天的,去公园里划什么船 呀?还是带孩子去海洋馆吧。”可是,丈夫就想带孩子去划船,所以,张口就说, “海洋馆都去了多少回了!该看的孩子都看过了!”妻子不乐意了,“大热天的 去公园划船,亏你想得出来,晒都晒死了,我不去了。”丈夫也不高兴,“你就 顾你自己!孩子都念叨了多少回了想去公园划船。算了,不去就不去了。”最终, 两人都不同意对方的想法,本是要一起出去带孩子玩呢,结果却是以生气和委屈 来收的尾。'
    }, {
      title: '五、这是一个树蛙和蛾子之间的故事。',
      story: '夜晚,窗户上趴着一只树蛙,树蛙的旁边还有一只蛾子。树蛙虎视眈眈地看着蛾 子,惹得蛾子很生气。所以,无论树蛙说什么,蛾子都只是简单应答。到最后, 蛾子实在不想再跟树蛙说什么了,因为它觉得,说吧又说不清楚,说了反而有可 能让树蛙喋喋不休,所以它干脆就不说了。于是,蛾子对树蛙说,“行行行,你 说什么就是什么吧”。说了这句话之后,蛾子再也不跟树蛙沟通了。可是,它对 树蛙越来越反感,而树蛙呢,因为感受到了蛾子对它的反感和厌弃,也变得越来 越焦躁。最终,树蛙实在受不了了,后腿一蹬,前腿一够,舌头一卷,就把蛾子 一口吃进了肚子里。',
      body: '丈夫因为单位有事回来晚了,这样,本来丈夫和妻子约好的下班后一起去给孩子 外婆过生日的承诺就没法实现了。妻子不高兴,絮絮叨叨絮絮叨叨地说个没完, 丈夫想跟妻子解释,可是他又觉得,说吧又说不清楚,说了还可能让妻子更加地 喋喋不休,于是丈夫干脆就不解释了,对妻子说,“行,你说的都对,你说什么 就是什么吧。”说完这句话,丈夫就开始埋头干自己的事情了。可是,丈夫对妻 子越来越反感,觉得妻子没事找事,妻子呢,因为感受到了丈夫的反感,在家里 也越来越焦躁。最终,夫妻俩谁看谁都不是太顺眼。'
    }, {
      title: '六、这是一群蚂蚁和一颗小草之间的故事。',
      story: '天要下雨了,一群蚂蚁搬着一大块食物急急忙忙往家赶。可是,走着走着,前面 一颗小草挡住了蚂蚁回家的路。蚂蚁必须从这颗小草的叶子下面穿过去,否则, 它们就得绕很远的路才能回家。可是,搬着一大块食物绕远很不方便,而且,如 果赶上下雨就不好了。怎么办呢?蚂蚁们商量了一会儿,最终一致决定派一个代 表去跟小草说。于是,一只蚂蚁代表跟小草说:“小草姐姐,天要下雨了,我们 搬着东西绕道走可能会赶上下雨,能不能从你的叶子下面穿过去呀?”小草说: “我正好缺肥料呢,把你们搬的食物放在我的根部当肥料,我就让你们过去。” 为了不淋雨,无奈之下,蚂蚁们只好把食物放在了小草的根部,然后急急忙忙地 回家了。 第二天,不知是谁把一块土放在了小草的身上,压得小草喘不过气来。小草远远 地看见蚂蚁们就喊:“蚂蚁兄弟,请你们帮个忙,好吗?你们能帮我把身上的土 搬走吗?”蚂蚁们还为昨天的事生气呢,蚂蚁代表张口就说:“我们正好需要一 片叶子,要我们帮你搬也可以,你得让我们把土压着的这片叶子一起搬走!”无 奈之下,小草也只好同意了。',
      body: '妈妈要带孩子去阿姨家,怕孩子不乖,所以妈妈跟孩子说:“你在阿姨家要乖乖 的,别淘气。这样,我们从阿姨家回来的时候,妈妈可以给你买一个玩具。”孩 子想让爸爸陪他去吃自助餐,爸爸说:“你答应爸爸,今天晚上睡觉前,自己洗 脚,爸爸就带你去。”可是,这样沟通的结果呢?到后来,当我们想让孩子把洗 衣机里的衣服晾起来时,孩子可能会说:“那你得把手机给我玩”。当我们想让 孩子去楼下超市买包盐的时候,孩子可能就会说:“那你得同意我给自己买瓶饮 料”。'
    }, {
      title: '七、这是一个锦鲤和鲫鱼之间的故事。',
      story: '一个小池塘里养着两种鱼,一种是锦鲤,另一种是鲫鱼。锦鲤体格健美,色彩艳 丽,花纹多变,十分漂亮。锦鲤自己也认为自己很美。一天,一条锦鲤对鲫鱼说: “你身上的颜色太单调了,真难看!跟你这么难看的鱼养在一个池塘里,真丢人! 出去别说你认识我啊!”听了锦鲤的话,鲫鱼不服气,心里很不舒服,张口就说: “呵,不就是破花纹嘛,有什么了不起?我还嫌扎眼呢!”',
      body: '比如,妈妈可能会对孩子说:“怎么这么笨啊?这个都不会!”“看你笨手笨脚的, 叫你烧香你就打菩萨!”“你就这么学吧你,早晚收垃圾去!”“你就懒吧,长大 了要饭去!”“你这破字,跟蜘蛛爬似的!”'
    }, {
      title: '八、这是乌鸦妈妈和她的孩子们之间的故事。',
      story: '乌鸦妈妈孵出了一窝小乌鸦,看着小乌鸦们一天天长大,乌鸦妈妈心里开心极了。 而且,乌鸦妈妈越看自己的孩子,越觉得它们漂亮,心想,“我的孩子一定是世 界上最美丽的鸟!我一定要好好保护它们,不让它们受到任何伤害!” 所以,当小乌鸦们长大了,需要离开妈妈的怀抱,自己展翅飞翔的时候,乌鸦妈 妈十分不放心,一会儿担心别的动物会伤害小乌鸦,一会儿又担心人类会伤害小 乌鸦。于是,乌鸦妈妈一遍一遍地叮嘱小乌鸦们:“孩子们,这个世界上没有好 人,你们出去千万要提防着别的动物啊!”“孩子们,人类可坏了,我们的生存环 境都让他们给破坏了,看见人类你们可得小心啊!”“对了,孩子们,妈妈差点忘 了,人类还有各种捕鸟的工具呢,你们一定要记住妈妈的话,千万要小心啊”...... 小乌鸦们离开妈妈的怀抱,开始在天空中练习飞翔了。它们谨记妈妈的教诲,看 见别的动物,心想“它们不会害我吧?我得离它们远点儿。”看见人类,它们又 想,“可恶的人类,又想捕我们,是不是?我得离得远点。”所以,每次出去,小 乌鸦们都特别累,一点儿都不开心。到最后,小乌鸦们越来越不愿意出去了,因 为它们觉得这个世界简直就没法生存了。',
      body: '父母可能会跟孩子说,“哎,现在的世界太乱了,人为了钱什么都干得出来!嘴 上吃的东西,也敢胡来。又是地沟油,又是毒胶囊的,这个也不能吃,那个也不 能吃,还让不让人活了?”“哎,现在的幼儿园老师,又是喂孩子药,又是打孩 子的,真不像话!”'
    }, {
      title: '九、这是一颗小草和它的妈妈之间的故事。',
      story: '小区里的假山上长了一颗小草,这棵小草的根部又长出来了另一棵更小的小草。 一天,这颗新长出来的小草被虫咬了。它很疼,但是它又不知道怎么办。于是, 小草对妈妈说:“妈妈,我被虫咬了。”小草妈妈正在努力地汲取土壤中的水分呢, 所以,它扭头就对小草说:“你别理它。” 又过了几天,小草又被虫子咬了,而且这一次,虫子一连咬了好几口。小草疼痛 难耐,又对妈妈说:“妈妈,虫子又咬我了。”小草妈妈说:“我不是跟你说了别 理它吗?”小草委屈了,因为它真的不知道什么是不理它,为什么不理它,怎么 才能不理它呢。',
      body: '比如,孩子从幼儿园回来跟妈妈说:“妈妈,我们班同学欺负我了”。有的妈妈可能张口就对孩子说:“以后你别理他。”还有的妈妈可能会对孩子说:“他怎么不 欺负别的同学呀?”可是,不管是哪一种方式,孩子都不可能知道什么是欺负, 为什么会被欺负,怎么才能不被欺负。'
    }, {
      title: '十、这是蒲公英妈妈和它的孩子们之间的故事。',
      story: '一座山上长了一片蒲公英。蒲公英贪婪地吸收着阳光和雨露,一天天长大。其中 有一棵蒲公英因为选择的位置不错,所以它长得很快,很快就结出了种子。看着 自己的种子逐渐成熟,蒲公英很庆幸自己选择了这么好的生存位置。它想,“如 果我的孩子们世世代代都能在这么好的地方生存,该多好啊!”想着想着,它仿 佛看见了自己子孙满堂,漫山遍野都是自己的孩子们,而且儿孙们都为自己的祖 先选择了这么好的生存环境而骄傲。蒲公英越想越觉得美妙,越想越觉得自己的 孩子们就应该在这里生存。 于是,等它的种子成熟的时候,它就跟它的孩子们说,“孩子们,妈妈已经为你 们选好了生存环境了,以后咱们家世世代代就在这里生存吧!”所以,当风吹过 来的时候,它的孩子们并没有像其它的蒲公英的种子那样随风而去,努力地为自 己寻找更好地适合自己生存的位置。结果,到第二年的时候,别的蒲公英的种子 到处生根发芽,而它的种子呢,要么还在妈妈的怀抱里没走出来呢,要么就是围 绕在妈妈的身边,争着抢着有限的阳光和雨露。',
      body: '“别动,奶奶来拿就好了,别烫着你!”“太沉了,你拎不动,还是爸爸来拎吧” “儿子,上楼梯有爸爸呢,来,爸爸背!”“孩子,你考上大学就行了,工作到时 候你爸会给你安排的”“你怎么学都行,到时候你妈会给你找一所学校”“你只管 学习就行了,其它的有你妈呢”“什么都别管,有爸爸呢”。'
    }]
    var currentQuizIndex = 0
    var quizAnswer = []
    var quizTitle = document.getElementById('quiz-title')
    var quizStory = document.getElementById('quiz-story')
    var quizBody = document.getElementById('quiz-body')
    var page = document.getElementById('page')
    var radioBtns = document.getElementsByClassName('radio-btn')

    function renderQuiz(quizIndex) {
      var currentQuiz = quiz[quizIndex]
      quizTitle.innerText = currentQuiz.title
      quizStory.innerText = currentQuiz.story
      quizBody.innerText = currentQuiz.body
      page.innerText = '当前第' + ' ' + (currentQuizIndex + 1) + ' ' + '题，' + '共' + quiz.length + '题'
    }

    renderQuiz(currentQuizIndex)

    for (var i = 0; i < radioBtns.length; i ++) {
      radioBtns[i].addEventListener('click', function(e) {
        // 记录当前值
        quizAnswer[currentQuizIndex] = +e.currentTarget.value
        // 题号加1
        currentQuizIndex ++
        if (currentQuizIndex < quiz.length) {
          // 未答完题
          renderQuiz(currentQuizIndex)
          for(var j = 0; j < radioBtns.length; j++) {
            radioBtns[j].checked = false
          }
        } else {
          // 答完题
          var score = 0
          var dArray = []
          for (var k = 0; k < quizAnswer.length; k ++) {
            score += quizAnswer[k]
            if (quizAnswer[k] === 3) {
              dArray.push(k)
            }
          }
          window.location = '/result?score=' + score + '&detail=' + JSON.stringify(dArray)
        }
      })
    }

  </script>
  <script src = "http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
  <script src = "http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src = '/javascripts/reg.js'></script>
  <script src = '/javascripts/lgin.js'></script>
  <script src = '/javascripts/reg1.js'></script>
</body>
</html>
