<!DOCTYPE html>
<html lang="en">
<head>
	<title>第二生命形态学-儿童成长见识行六期活动成功举办</title>

		<!-- Meta tag Keywords -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<meta name="keywords" content="上海页颂教育科技有限公司,第二生命形态学,页颂教育" />
		<meta name="description" content="上海页颂教育科技有限公司,第二生命形态学,页颂教育" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Meta tag Keywords -->

	<!-- For about Slider-->
	<link rel="stylesheet" href="/stylesheets/owl.carousel.css" type="text/css" media="all"/> <!-- Owl-Carousel-CSS -->
	<!-- //For about -->

	<!-- css files -->
	<link rel="stylesheet" href="/stylesheets/bootstrap.css"> <!-- Bootstrap-Core-CSS -->

	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="all" /> <!-- Style-CSS -->

	<link rel="stylesheet" href="/stylesheets/fontawesome-all.css"> <!-- Font-Awesome-Icons-CSS -->
	<link rel='stylesheet' href="/stylesheets/about.css" type='text/css' />
	<link rel="stylesheet" href="/stylesheets/team.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/stylesheets/font-awesome.css">
	<!-- //css files -->

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/video.js/6.3.3/video-js.css" ref="stylesheet">

	<!-- web-fonts -->
	<link href="http://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
	<!-- //web-fonts -->

</head>

<body>

	<!--Header-->
	<header>
		<div class="container agile-banner_nav">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<img src="https://static.tianqionggongcheng.com/image/WechatIMG468.jpeg" class="col-sm-logo" alt="">
				<a class="navbar-brand navbar-name" href="#">上海页颂教育科技有限公司 <span class="display">Education technology</span></a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item ">
							<a class="nav-link" href="/">首页 </a>
						</li>
						<li class="nav-item">
							<a class="nav-link " href="/about">了解我们<span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/achievement">研究成果</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" href="/news">资讯新闻</a>
						</li>
						<!--
						<li class="dropdown nav-item">
							<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">资讯新闻
								<b class="caret"></b>
							</a>

							<ul class="dropdown-menu agile_short_dropdown">
								<li>
									<a href="index.html">Testimonials</a>
								</li>
								<li>
									<a href="typography.html">Typography</a>
								</li>
							</ul>
							-->
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/base">培训基地</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/team">师资团队</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/system">系统介绍</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/sky">天穹工程</a>
						</li>
					</ul>
				</div>

			</nav>
		</div>
	</header>
	<!--Header-->

<!-- inner page banner
<div class="inner-banner">

</div>
inner page banner-->

<!--//header_w3layouts_agile-->
<div class="banner_bottom">
	<div class="container">
		<div class="inner_sec_w3_agileinfo">
			<div class="ab_info">
				<!-- Welcome -->
				<section class="welcome  my-lg-5">
					<div class="container">
						<div class="row welcome_grids">
							<div class="col-lg-12 ">
								<h4 class="mb-3 text-capitalize text-center">儿童成长见识行六期活动成功举办</h4>
							</div>
							<div class="col-lg-12 news-pic ">
								<img src="https://static2.tianqionggongcheng.com/new1-191202-1.jpg" alt="" class="img-fluid ">
							</div>
							<div class="col-lg-12 ">
								<p class="gazette-post-date text-center"> </p>
								<p class="mb-2 mt-4">
									2019年11月30日，上海页颂教育举办了“第二生命形态学儿童成长见识行”第六期活动，来自蚌埠的十几组家庭参加了此次见识行活动。</p>
							</div>
							<div class="col-lg-12 news-pic">
								<img src="https://static2.tianqionggongcheng.com/new1-191202-2.jpg" alt="" class="img-fluid ">
							</div>
							<div class="col-lg-12 ">
								<p class="mb-2 mt-2 ">活动中，孩子们置身“万国建筑群”，用自己的眼睛感受自然景观与人文景观的交融之美，用自己的大脑领略中国文化与世界文化的碰撞与汇通。在追寻文明印记的同时，一颗颗向往的种子也悄然在孩子们的心中扎根。</p>
							</div>
							<div class="col-lg-12 news-pic">
								<img src="https://static2.tianqionggongcheng.com/new1-191202-3.jpg" alt="" class="img-fluid ">
							</div>
							<div class="col-lg-12 ">
								<p class="mb-2 mt-2 ">祝愿孩子们怀揣向往的种子，从此踏上追求之路，未来梦想成真！希望更多的孩子能够在成长中“大长见识”，心藏世界！</p>
							</div>
							<div class="col-lg-12 news-pic">
								<div style="text-align:center;">
									<video id="myVideo" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="none" autoplay="false" width="320" data-setup='{}' poster='https://static2.tianqionggongcheng.com/new1-191106-00.jpg'>
											<source id="source" src="https://static2.tianqionggongcheng.com/increse-knowledge-bengbu-01.mp4"  type="video/mp4">
									</video>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- //Welcome -->

				<!-- Welcome -->
				<section class="">
					<div class="container">
						<div class="row welcome_grids">

						</div>
					</div>
				</section>
				<!-- //Welcome -->
				<!--about 调试随机变化
				<div class="about py-5">
					<div class="container py-md-3">
					<div class="w3-head-all mb-3">
						         <h3>关于我们</h3>
						       </div>
						<div class="about-main row">
							<div class="col-lg-6 col-md-12 about-left_w3ls_img">

							</div>
							<div class="col-lg-6 col-md-12 about-right_w3ls">
						  <div class="about-top_agile_its">
							<h5>Cras tincidunt, augue vitae</h5>
							<p>Nulla eget mauris quis elit mollis ornare vitae ut odio. Cras tincidunt, augue vitae sollicitudin commodo, quam elit varius est, et ornare ante massa quis tellus. Mauris nec lacinia nisl. Curabitur tempus tellus et vulputate vestibulum.
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
							<span>Nulla eget mauris quis elit mollis ornare vitae ut odio. Cras tincidunt, augue vitae sollicitudin commodo, quam elit varius est</span>
					  </div>
					   </div>
					    <div class="clearfix"> </div>
				    </div>
				</div>
				</div>
				//about -->


			</div>
		</div>
	</div>
</div>
<!-- //about -->
<!-- About us
<section class="about py-5 my-lg-5">
	<div class="container">
		<h3 class="heading text-center text-capitalize mb-5">What makes us different</h3>
		<div class="spldishes-agileinfo">
			<div class="spldishes-grids">
				 Owl-Carousel
				<div id="owl-demo" class="owl-carousel agileinfo-gallery-row">
					<div class="item g1">
						<img class="lazyOwl" src="images/slide1.jpg" alt=""/>
						<h4 class="mt-4 text-uppercase">Design Planning</h4>
						<p class="my-2">ultrices facilisis tortor. Aenean pharetra nibh et mi consequat commodo.</p>
						<a href="#">Read More <i class="fas fa-angle-right"></i></a>
					</div>
					<div class="item g1">
						<img class="lazyOwl" src="images/slide2.jpg" alt=""/>
						<h4 class="mt-4 text-uppercase">Business Meeting</h4>
						<p class="my-2">ultrices facilisis tortor. Aenean pharetra nibh et mi consequat commodo.</p>
						<a href="#">Read More <i class="fas fa-angle-right"></i></a>
					</div>
					<div class="item g1">
						<img class="lazyOwl" src="images/slide3.jpg" alt=""/>
						<h4 class="mt-4 text-uppercase">Programming</h4>
						<p class="my-2">ultrices facilisis tortor. Aenean pharetra nibh et mi consequat commodo.</p>
						<a href="#">Read More <i class="fas fa-angle-right"></i></a>
					</div>
					<div class="item g1">
						<img class="lazyOwl" src="images/slide4.jpg" alt=""/>
						<h4 class="mt-4 text-uppercase">Confidence Skills</h4>
						<p class="my-2">ultrices facilisis tortor. Aenean pharetra nibh et mi consequat commodo.</p>
						<a href="#">Read More <i class="fas fa-angle-right"></i></a>
					</div>
					<div class="item g1">
						<img class="lazyOwl" src="images/slide5.jpg" alt=""/>
						<h4 class="mt-4 text-uppercase">Beauty design</h4>
						<p class="my-2">ultrices facilisis tortor. Aenean pharetra nibh et mi consequat commodo.</p>
						<a href="#">Read More <i class="fas fa-angle-right"></i></a>
					</div>
					<div class="item g1">
						<img class="lazyOwl" src="images/slide6.jpg" alt=""/>
						<h4 class="mt-4 text-uppercase">Creative thinking</h4>
						<p class="my-2">ultrices facilisis tortor. Aenean pharetra nibh et mi consequat commodo.</p>
						<a href="#">Read More <i class="fas fa-angle-right"></i></a>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</section>
About us -->

<!-- help
<section class="help">
	<div class="layer py-5">
		<div class="container ">
		<h3 class="heading text-center text-capitalize mb-5">我们的目标 </h3>
		</div>
	</div>
</section>
 //help -->

<!-- //model video -->

<!-- //welcome bottom -->
<!-- //about top
<div class="">
	<a href="https://mp.weixin.qq.com/s/CPQqm4Uee-6TCQTJbzw2rA" target="view_window">第二生命形态学幼儿园系统</a>
</div>

<div class="sec_video">
	<div class="container">
		<div class="about-main about1">
			<div class="col-md-4 about-gd" data-aos="fade-left">
				<div class="about-sub-gd">
					<h4>Curated Classes</h4>
					<p>Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis </p>
				</div>
				<div class="about-sub-gd">
					<h4>Expert Instructors</h4>
					<p>Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis </p>
				</div>
			</div>
			<div class="col-md-4 about-gd1" data-aos="fade-down">
				<img src="images/video.jpg" class="img-responsive" alt="">
			</div>
			<div class="col-md-4 about-gd ab-right" data-aos="fade-right">
				<div class="about-sub-gd">
					<h4>Students Strong</h4>
					<p>Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis </p>
				</div>
				<div class="about-sub-gd">
					<h4>Physical Activity</h4>
					<p>Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis </p>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
/video-->
<!-- project -->
<section class="project py-5 text-center">
	<div class="container">
		<h3 class="text-capitalize mb-5">了解更多</h3>
		<a href="/" class="text-uppercase"><i class="fas fa-envelope-open"></i> 页颂教育首页
		 </a>
	</div>
</section>
<!-- //project -->

<!-- footer -->
<footer>
	<div class="container py-5">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<h3 class="text-uppercase mb-3">地址</h3>
				<address>
					<p><strong>上海培训中心:</strong></p>
					<p class="mb-3">上海长宁区仙霞路319号远东国际广场A座</p>
					<p class="mb-3">上海市黄浦区南苏州路333号华隆大厦</p>
					<p class="mb-3">上海市黄浦区成都北路500号峻岭广场</p>
					<p class="mb-3">上海市静安区共和新路1878号大宁国际商业广场</p>
					<!-- footer <p><strong>Fax</strong> : +11 8976 2334 </p> -->
				</address>
			</div>
			<div class="col-lg-3 col-md-6">
				<h3 class="text-uppercase mb-3">联系方式</h3>
				<address>
					<p><strong>公众号</strong>：二生学苑</p>
					<p><strong>Phone</strong> </p>
					<p>董老师 : +86 18868721318</p>
					<p>王老师 : +86 15343402463</p>
					<p><strong>上海丽空间&上海页颂教育运营部总监：</strong> 赵总 QQ1702460065</p>
					<p><strong>Email</strong> : <a href="mailto:yesongedu@sina.com">yesongedu@sina.com</a></p>
					<!-- footer <p><strong>Fax</strong> : +11 8976 2334 </p> -->
				</address>
			</div>
			<div class="col-lg-2 col-md-6 mt-lg-0 mt-sm-0 mt-4 p-md-0">
				<h3 class="text-uppercase mb-3">链接</h3>
				<div class="links">
					<a class="pt-2 text-capitalize" href="https://web.tianqionggongcheng.com/"><i class="fas fa-angle-right"></i> 线上测评</a>
					<a class="pt-2 text-capitalize" href="https://web.tianqionggongcheng.com/#/inquiry/"><i class="fas fa-angle-right"></i> 教育问题在线问诊</a>
					<a class="pt-2 text-capitalize" href="https://web.tianqionggongcheng.com/#/education/"><i class="fas fa-angle-right"></i> 家庭教育学院</a>
					<a class="pt-2 text-capitalize" href="https://web.tianqionggongcheng.com/#/freeClassroom/"><i class="fas fa-angle-right"></i> 公益课堂</a>
					<a class="pt-2 text-capitalize" href="https://web.tianqionggongcheng.com/#/familyEducation/"><i class="fas fa-angle-right"></i> 家庭教育能力课程</a>
					<a class="pt-2 text-capitalize" href="https://web.tianqionggongcheng.com/#/activities/"><i class="fas fa-angle-right"></i> 夫妻情感增值系列活动</a>
				</div>
			</div>
			<!-- footer
			<div class="col-lg-3 col-md-6 mt-lg-0 mt-4">
				<h3 class="text-uppercase mb-3">Recent posts</h3>
				<div class="posts">
					<p class="pt-2">lorem ipsum dolor sit amet
					<span class="font-italic">31st march, 2018.</span></p>
					<p class="py-2 my-2 middle">lorem ipsum dolor sit amet
					<span class="font-italic">31st march, 2018.</span></p>
					<p class="pt-2">lorem ipsum dolor sit amet
					<span class="font-italic">31st march, 2018.</span></p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
				<h3 class="text-uppercase mb-3">Newsletter</h3>
				<p class="mb-4 pt-2">Subscribe to Our Newsletter to get Important News, Amazing Offers & More</p>
				<form action="#" method="post">
					<input type="email" name="Email" placeholder="Enter your email..." required="">
					<button class="btn1"><i class="far fa-envelope"></i></button>
					<div class="clearfix"> </div>
				</form>
			</div>
			footer -->
		</div>
	</div>
</footer>
<!-- footer -->

<!-- copyright -->
<div class="copyright py-4">
	<div class="container">
		<div class="copyrightgrids row">
			<div class="col-lg-6 col-12">
				<p>Copyright &copy; 2018.tianqionggongcheng.com <a href="http://www.tianqionggongcheng.com/" target="_blank" title="页颂教育">页颂教育</a></p>
				<p  style="margin: 0; height: 20px"><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011202006779"><img style="width:20px;" src="https://img.yzcdn.cn/public_files/2016/07/19/276d5f72dc85cc584d83c08fefa36c2b.png" /></a>沪公网安备 31011202006779号 沪ICP备17051651号</p>
			</div>
			<!-- footer
			<div class="col-lg-6 col-12">
				<ul class="social text-right mt-lg-0 mt-3">
					<li><p class="mx-2 text-capitalize">follow us on : </p></li>
					<li class="mx-2"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-twitter"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fas fa-rss"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-vk"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-vimeo-v"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-yahoo"></span></a></li>
				</ul>
			</div>
			footer -->
		</div>
	</div>
</div>
<!-- //copyright -->

<!-- js-scripts -->

	<!-- js -->
	246C0B347D3541F2943FCAAF2CF6EF60
<script src="http://sdk.talkingdata.com/app/h5/v1?appid=246C0B347D3541F2943FCAAF2CF6EF60&vn=上海页颂教育科技有限公司&vc=1.0"></script>
<script type="text/javascript" src="/javascripts/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="/javascripts/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap -->
	<!-- //js -->

	<script src="https://cdnjs.cloudflare.com/ajax/libs/video.js/6.3.3/video.js"></script>
	<script src="https://unpkg.com/videojs-flash/dist/videojs-flash.js"></script>
	<script src="https://unpkg.com/videojs-contrib-hls/dist/videojs-contrib-hls.js"></script>

	<!-- Owl-Carousel-JavaScript -->
		<script src="/javascripts/owl.carousel.js"></script>
		<script>
			$(document).ready(function() {
				$("#owl-demo").owlCarousel ({
					items : 3,
					lazyLoad : true,
					autoPlay : true,
					pagination : true,
				});
			});

			// videojs 简单使用
			    var myVideo = videojs('myVideo',{
			        bigPlayButton : true,
			        textTrackDisplay : false,
			        posterImage: false,
			        errorDisplay : false,
			    })
			    myVideo.play() // 视频播放
			    myVideo.pause() // 视频暂停
		</script>
	<!-- //Owl-Carousel-JavaScript -->

	<!-- start-smoth-scrolling -->
	<script src="/javascripts/SmoothScroll.min.js"></script>
	<script type="text/javascript" src="/javascripts/move-top.js"></script>
	<script type="text/javascript" src="/javascripts/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
	<script type="text/javascript">
		function play() {
			var video = document.getElementById("video");
			video.play();
		}
	</script>

	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- start-smoth-scrolling -->

<!-- //js-scripts -->

</body>
</html>
