<!DOCTYPE html>
<html>
<head>
  <title></title>
  <style type="text/css">
    body {
      padding: 10px;
    }
  </style>
</head>
<body>
  <div style="font-size: 18px;color: #369;">学前儿童专注力测评与评估</div>
  <div style="margin-top: 10px;">
    年龄：
    <input type="radio" name="age"/>0-3
    <input type="radio" name="age"/>4-8
    <input type="radio" name="age"/>9-12
    <input type="radio" name="age"/>13及以上
  </div>
  <div style="margin-bottom: 10px;">
    性别：
    <input type="radio" name="gender"/>男
    <input type="radio" name="gender"/>女
  </div>
  <a href="/measurement">开始测试</a>
</body>
</html>