<!DOCTYPE html>
<html lang="en">
<head>
<title>Projects</title>
	
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Meta tag Keywords -->

	<!-- css files -->
	<link rel="stylesheet" href="css/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" /> <!-- Style-CSS --> 
	<link rel="stylesheet" href="css/fontawesome-all.css"> <!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->
	
	<!-- gallery css -->
    <link href="css/prettyPhoto.css" rel="stylesheet" type="text/css" />

	<!-- web-fonts -->
	<link href="http://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
	<!-- //web-fonts -->
	
</head>

<body>

<!--Header-->
<header>
	<div class="container agile-banner_nav">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="index.html">Career Corp <span class="display">Digital technology</span></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="about.html">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="services.html">Services</a>
					</li>
					<li class="dropdown nav-item">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Pages
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu agile_short_dropdown">
							<li>
								<a href="index.html">Testimonials</a>
							</li>
							<li>
								<a href="typography.html">Typography</a>
							</li>
						</ul>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="projects.html">Projects</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="contact.html">Contact</a>
					</li>
				</ul>
			</div>
			
		</nav>
	</div>
</header>
<!--Header-->

<!-- inner page banner-->
<div class="inner-banner">
	
</div>
<!-- //inner page banner-->

<!-- Projects page -->

<!--gallery  -->
<section class="wthree-row w3-gallery py-sm-5 py-3" id="section3">
	<div class="container-fluid py-md-5 py-3 text-center">
	<h3 class="heading text-center text-capitalize mb-5">Projects</h3>
		<ul class="portfolio-categ filter mb-5 text-center">
			<li class="port-filter all active">
				<a href="#">All</a>
			</li>
			<li class="cat-item-1">
				<a href="#" title="Category 1">Business</a>
			</li>
			<li class="cat-item-2">
				<a href="#" title="Category 2">Technology</a>
			</li>
			<li class="cat-item-3">
				<a href="#" title="Category 3">Development</a>
			</li>
			<li class="cat-item-4">
				<a href="#" title="Category 4">Design</a>
			</li>
		</ul>
		<ul class="portfolio-area clearfix">
			<li class="portfolio-item2 col-lg-2" data-id="id-0" data-type="cat-item-4">
				<div>
					<span class="image-block img-hover">
						<a class="image-zoom" href="images/g1.jpg" data-gal="prettyPhoto[gallery]">

							<img src="images/g1.jpg" class="img-fluid w3layouts agileits" alt="">

						</a>
					</span>
				</div>
			</li>
			<li class="portfolio-item2 col-lg-2" data-id="id-1" data-type="cat-item-2">
				<div>
					<span class="image-block">
						<a class="image-zoom" href="images/g2.jpg" data-gal="prettyPhoto[gallery]">

							<img src="images/g2.jpg" class="img-fluid w3layouts agileits" alt="">

						</a>
					</span>
				</div>
			</li>
			<li class="portfolio-item2 col-lg-2" data-id="id-2" data-type="cat-item-1">
				<div>
					<span class="image-block">
						<a class="image-zoom" href="images/g3.jpg" data-gal="prettyPhoto[gallery]">

							<img src="images/g3.jpg" class="img-fluid w3layouts agileits" alt="">

						</a>
					</span>
				</div>
			</li>
			<li class="portfolio-item2 col-lg-2" data-id="id-3" data-type="cat-item-4">
				<div>
					<span class="image-block">
						<a class="image-zoom" href="images/g4.jpg" data-gal="prettyPhoto[gallery]">

							<img src="images/g4.jpg" class="img-fluid w3layouts agileits" alt="">

						</a>
					</span>
				</div>
			</li>
			<li class="portfolio-item2 col-lg-2" data-id="id-4" data-type="cat-item-3">
				<div>
					<span class="image-block">
						<a class="image-zoom" href="images/g5.jpg" data-gal="prettyPhoto[gallery]">

							<img src="images/g5.jpg" class="img-fluid w3layouts agileits" alt="">

						</a>
					</span>
				</div>
			</li>
			<li class="portfolio-item2 col-lg-2" data-id="id-5" data-type="cat-item-2">
				<div>
					<span class="image-block">
						<a class="image-zoom" href="images/g6.jpg" data-gal="prettyPhoto[gallery]">

							<img src="images/g6.jpg" class="img-fluid w3layouts agileits" alt="">

						</a>
					</span>
				</div>
			</li>
			<li class="portfolio-item2 col-lg-2" data-id="id-6" data-type="cat-item-1">
				<div>
					<span class="image-block">
						<a class="image-zoom" href="images/g7.jpg" data-gal="prettyPhoto[gallery]">

							<img src="images/g7.jpg" class="img-fluid w3layouts agileits" alt="">

						</a>
					</span>
				</div>
			</li>
			<li class="portfolio-item2 col-lg-2" data-id="id-7" data-type="cat-item-1">
				<div>
					<span class="image-block">
						<a class="image-zoom" href="images/g8.jpg" data-gal="prettyPhoto[gallery]">

							<img src="images/g8.jpg" class="img-fluid w3layouts agileits" alt="">

						</a>
					</span>
				</div>
			</li>
			<li class="portfolio-item2 col-lg-2" data-id="id-9" data-type="cat-item-4">
				<div>
					<span class="image-block">
						<a class="image-zoom" href="images/g9.jpg" data-gal="prettyPhoto[gallery]">

							<img src="images/g9.jpg" class="img-fluid w3layouts agileits" alt="">

						</a>
					</span>
				</div>
			</li>
			<li class="portfolio-item2 col-lg-2" data-id="id-9" data-type="cat-item-3">
				<div>
					<span class="image-block">
						<a class="image-zoom" href="images/g10.jpg" data-gal="prettyPhoto[gallery]">

							<img src="images/g10.jpg" class="img-fluid w3layouts agileits" alt="">

						</a>
					</span>
				</div>
			</li>
			<li class="portfolio-item2 col-lg-2" data-id="id-10" data-type="cat-item-2">
				<div>
					<span class="image-block">
						<a class="image-zoom" href="images/g11.jpg" data-gal="prettyPhoto[gallery]">

							<img src="images/g11.jpg" class="img-fluid w3layouts agileits" alt="">

						</a>
					</span>
				</div>
			</li>
			<li class="portfolio-item2 col-lg-2" data-id="id-8" data-type="cat-item-1">
				<div>
					<span class="image-block">
						<a class="image-zoom" href="images/g12.jpg" data-gal="prettyPhoto[gallery]">

							<img src="images/g12.jpg" class="img-fluid w3layouts agileits" alt="">

						</a>
					</span>
				</div>
			</li>
			<li class="portfolio-item2 col-lg-2" data-id="id-9" data-type="cat-item-3">
				<div>
					<span class="image-block">
						<a class="image-zoom" href="images/g10.jpg" data-gal="prettyPhoto[gallery]">

							<img src="images/g10.jpg" class="img-fluid w3layouts agileits" alt="">

						</a>
					</span>
				</div>
			</li>
			<li class="portfolio-item2 col-lg-2" data-id="id-10" data-type="cat-item-2">
				<div>
					<span class="image-block">
						<a class="image-zoom" href="images/g1.jpg" data-gal="prettyPhoto[gallery]">

							<img src="images/g1.jpg" class="img-fluid w3layouts agileits" alt="">

						</a>
					</span>
				</div>
			</li>
			<li class="portfolio-item2 col-lg-2" data-id="id-8" data-type="cat-item-1">
				<div>
					<span class="image-block">
						<a class="image-zoom" href="images/g3.jpg" data-gal="prettyPhoto[gallery]">

							<img src="images/g3.jpg" class="img-fluid w3layouts agileits" alt="">

						</a>
					</span>
				</div>
			</li>
		</ul>
		<!--end portfolio-area -->

	</div>
	<!-- //gallery container -->
</section>
<!-- //gallery -->

<!-- //Projects page -->

<!-- project -->
<section class="project py-5 text-center">
	<div class="container">
		<h3 class="text-capitalize mb-5">Do you want to start a new project ?</h3>
		<a href="contact.html" class="text-uppercase"><i class="fas fa-envelope-open"></i> contact us </a>
	</div>
</section>
<!-- //project -->

<!-- footer -->	
<footer>
	<div class="container py-5">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<h3 class="text-uppercase mb-3">Address</h3>
				<address>
					<p><strong>Headquarters:</strong></p>
					<p class="mb-3">0926k 4th block building, king Avenue, New York City.</p>
					<p><strong>Phone</strong> : +12 8976 2334</p>
					<p><strong>Email</strong> : <a href="mailto:info@example.com">info@example.com</a></p>
					<p><strong>Fax</strong> : +11 8976 2334 </p>
				</address>
			</div>
			<div class="col-lg-2 col-md-6 mt-lg-0 mt-sm-0 mt-4 p-md-0">
				<h3 class="text-uppercase mb-3">links</h3>
				<div class="links">
					<a class="pt-2 text-capitalize" href="#"><i class="fas fa-angle-right"></i> Navigation</a>
					<a class="pt-2 text-capitalize" href="#"><i class="fas fa-angle-right"></i> Documentation</a>
					<a class="pt-2 text-capitalize" href="#"><i class="fas fa-angle-right"></i> Business</a>
					<a class="pt-2 text-capitalize" href="#"><i class="fas fa-angle-right"></i> Technical support</a>
					<a class="pt-2 text-capitalize" href="#"><i class="fas fa-angle-right"></i> 24/7 Service</a>
					<a class="pt-2 text-capitalize" href="#"><i class="fas fa-angle-right"></i> Feedback</a>
				</div>	
			</div>
			<div class="col-lg-3 col-md-6 mt-lg-0 mt-4">
				<h3 class="text-uppercase mb-3">Recent posts</h3>
				<div class="posts">
					<p class="pt-2">lorem ipsum dolor sit amet
					<span class="font-italic">31st march, 2018.</span></p>
					<p class="py-2 my-2 middle">lorem ipsum dolor sit amet
					<span class="font-italic">31st march, 2018.</span></p>
					<p class="pt-2">lorem ipsum dolor sit amet
					<span class="font-italic">31st march, 2018.</span></p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
				<h3 class="text-uppercase mb-3">Newsletter</h3>
				<p class="mb-4 pt-2">Subscribe to Our Newsletter to get Important News, Amazing Offers & More</p>
				<form action="#" method="post">
					<input type="email" name="Email" placeholder="Enter your email..." required="">
					<button class="btn1"><i class="far fa-envelope"></i></button>
					<div class="clearfix"> </div>
				</form>
			</div>
		</div>
	</div>
</footer>
<!-- footer -->

<!-- copyright -->
<div class="copyright py-4">
	<div class="container">
		<div class="copyrightgrids row">
			<div class="col-lg-6 col-12">
				<p>Copyright &copy; 2018.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
			</div>
			<div class="col-lg-6 col-12">
				<ul class="social text-right mt-lg-0 mt-3">
					<li><p class="mx-2 text-capitalize">follow us on : </p></li>
					<li class="mx-2"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-twitter"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fas fa-rss"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-vk"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-vimeo-v"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-yahoo"></span></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- //copyright -->

<!-- js-scripts -->		

	<!-- js -->
	<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap --> 
	<!-- //js -->	

	<!-- start-smoth-scrolling -->
	<script src="js/SmoothScroll.min.js"></script>
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- start-smoth-scrolling -->
	
    <!-- jQuery-Photo-filter-lightbox-Gallery-plugin -->
    <script src="js/jquery-1.7.2.js"></script>
    <script src="js/jquery.quicksand.js"></script>
    <script src="js/script.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <!-- //jQuery-Photo-filter-lightbox-Gallery-plugin -->
	
<!-- //js-scripts -->

</body>
</html>