<!DOCTYPE html>
<html lang="en">
<head>
<title>Services</title>
	
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Meta tag Keywords -->

	<!-- css files -->
	<link rel="stylesheet" href="/stylesheets/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="all" /> <!-- Style-CSS --> 
	<link rel="stylesheet" href="/stylesheets/fontawesome-all.css"> <!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->

	<!-- web-fonts -->
	<link href="http://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
	<!-- //web-fonts -->
	
</head>

<body>

<!--Header-->
<header>
	<div class="container agile-banner_nav">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			
			<a class="navbar-brand" href="index.html">Career Corp <span class="display">Digital technology</span></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="about.html">About</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="services.html">Services</a>
					</li>
					<li class="dropdown nav-item">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Pages
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu agile_short_dropdown">
							<li>
								<a href="index.html">Testimonials</a>
							</li>
							<li>
								<a href="typography.html">Typography</a>
							</li>
						</ul>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="projects.html">Projects</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/contact">Contact</a>
					</li>
				</ul>
			</div>
			
		</nav>
	</div>
</header>
<!--Header-->

<!-- inner page banner-->
<div class="inner-banner">
	
</div>
<!-- //inner page banner-->

<!-- Welcome -->
<section class="welcome py-5 my-lg-5">
	<div class="container">
		<div class="row welcome_grids">
			<div class="col-lg-7 mb-lg-0 mb-5">
				<h3 class="mb-3 text-capitalize">Welcome to Career corp</h3>
				<p class="my-2 initial font-italic">lorem ipsum dolor sit amet</p>
				<p class="mb-5 mt-4"> Sed venenatis rutrum sapien at vehicula. Phasellus id venenatis odio. Curabitur eleifend mattis ipsum non euismod. Suspendisse non euismod dolor. Nunc semper lorem. Aenean porta libero at libero laoreet, nec sollicitudin massa ultricies. Nullam neque justo, efficitur vel quam vitae, ultrices facilisis tortor. Aenean pharetra nibh et mi commodo. Aenean ut laoreet purus.</p>
				<a href="#" class="text-uppercase" data-toggle="modal" data-target="#exampleModal"><span class="fas fa-play-circle"></span> Check Video </a>
			</div>
			<div class="col-lg-5 welcome_right">
				<img src="images/slide1.jpg" alt="" class="img-fluid">
			</div>
		</div>
	</div>
</section>
<!-- //Welcome -->

<!-- model video-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Introduction Video</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body video">
				<iframe src="https://player.vimeo.com/video/7396421"></iframe>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>
<!-- //model video -->

<!-- welcome bottom -->
<section class="welcome_bottom">
	<div class="layer py-5">
		<div class="container py-lg-5">
			<div class="row bottom_grids">
				<div class="col-lg-6 col-md-8">
					<h4>Nunc vitae semper lorem. Aenean porta libero at libero laoreet</h4>
					<p class="my-4">ultrices facilisis tortor. Aenean pharetra nibh et mi consequat commodo. Aenean ut laoreet purus. Curabitur eleifend mattis ipsum non euismod. Suspendisse non euismod dolor. Nunc vitae semper lorem. Aenean porta libero at libero laoreet.</p>
					<h4 class="head text-uppercase"><i class="fas mb-4 fa-globe"></i> Network Analysis</h4>
					<p class="mb-4">ultrices facilisis tortor. Aenean pharetra nibh et mi consequat commodo. Aenean ut laoreet purus. Curabitur eleifend.</p>
					<a href="#" data-toggle="modal" data-target="#exampleModalCenter" role="button">View More <i class="fas fa-angle-right"></i></a>
				</div>
				<div class="col-lg-6 col-md-4 video text-center">
					<a href="#" class="text-uppercase" data-toggle="modal" data-target="#exampleModal"><span class="fas fa-play-circle"></span></a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //welcome bottom -->

<!-- services -->
<section class="services py-5 my-lg-5">
	<div class="container">
		<h3 class="heading text-center text-capitalize mb-5">What can we do for you</h3>
		<div class="row service_grids">
			<div class="col-lg-4 col-md-6 mb-md-0 mb-3 text-center">
				<div class="serv_grid1">
					<i class="fas mb-4 fa-globe"></i>
					<h4 class="text-uppercase">Web Development</h4>
					<p class="mt-4 mb-5">Phasellus id venenatis odio. Curabitur eleifend mattis ipsum non euismod. Suspendisse non euismod dolor.</p>
					<a href="#"> Learn more </a>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mb-md-0 mb-3 text-center">
				<div class="serv_grid1 service_grid_active">
					<i class="fas mb-4 fa-mobile-alt"></i>
					<h4 class="text-uppercase">Mobile Apps</h4>
					<p class="mt-4 mb-5">Phasellus id venenatis odio. Curabitur eleifend mattis ipsum non euismod. Suspendisse non euismod dolor.</p>
					<a href="#"> Learn more </a>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 text-center">
				<div class="serv_grid1">
					<i class="fas mb-4 fa-desktop"></i>
					<h4 class="text-uppercase">Design Agency</h4>
					<p class="mt-4 mb-5">Phasellus id venenatis odio. Curabitur eleifend mattis ipsum non euismod. Suspendisse non euismod dolor.</p>
					<a href="#"> Learn more </a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //services -->

<!-- project -->
<section class="project py-5 text-center">
	<div class="container">
		<h3 class="text-capitalize mb-5">Do you want to start a new project ?</h3>
		<a href="/contact" class="text-uppercase"><i class="fas fa-envelope-open"></i> contact us </a>
	</div>
</section>
<!-- //project -->

<!-- footer -->	
<footer>
	<div class="container py-5">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<h3 class="text-uppercase mb-3">Address</h3>
				<address>
					<p><strong>Headquarters:</strong></p>
					<p class="mb-3">0926k 4th block building, king Avenue, New York City.</p>
					<p><strong>Phone</strong> : +12 8976 2334</p>
					<p><strong>Email</strong> : <a href="mailto:info@example.com">info@example.com</a></p>
					<p><strong>Fax</strong> : +11 8976 2334 </p>
				</address>
			</div>
			<div class="col-lg-2 col-md-6 mt-lg-0 mt-sm-0 mt-4 p-md-0">
				<h3 class="text-uppercase mb-3">links</h3>
				<div class="links">
					<a class="pt-2 text-capitalize" href="#"><i class="fas fa-angle-right"></i> Navigation</a>
					<a class="pt-2 text-capitalize" href="#"><i class="fas fa-angle-right"></i> Documentation</a>
					<a class="pt-2 text-capitalize" href="#"><i class="fas fa-angle-right"></i> Business</a>
					<a class="pt-2 text-capitalize" href="#"><i class="fas fa-angle-right"></i> Technical support</a>
					<a class="pt-2 text-capitalize" href="#"><i class="fas fa-angle-right"></i> 24/7 Service</a>
					<a class="pt-2 text-capitalize" href="#"><i class="fas fa-angle-right"></i> Feedback</a>
				</div>	
			</div>
			<div class="col-lg-3 col-md-6 mt-lg-0 mt-4">
				<h3 class="text-uppercase mb-3">Recent posts</h3>
				<div class="posts">
					<p class="pt-2">lorem ipsum dolor sit amet
					<span class="font-italic">31st march, 2018.</span></p>
					<p class="py-2 my-2 middle">lorem ipsum dolor sit amet
					<span class="font-italic">31st march, 2018.</span></p>
					<p class="pt-2">lorem ipsum dolor sit amet
					<span class="font-italic">31st march, 2018.</span></p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
				<h3 class="text-uppercase mb-3">Newsletter</h3>
				<p class="mb-4 pt-2">Subscribe to Our Newsletter to get Important News, Amazing Offers & More</p>
				<form action="#" method="post">
					<input type="email" name="Email" placeholder="Enter your email..." required="">
					<button class="btn1"><i class="far fa-envelope"></i></button>
					<div class="clearfix"> </div>
				</form>
			</div>
		</div>
	</div>
</footer>
<!-- footer -->

<!-- copyright -->
<div class="copyright py-4">
	<div class="container">
		<div class="copyrightgrids row">
			<div class="col-lg-6 col-12">
				<p>Copyright &copy; 2018.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
			</div>
			<div class="col-lg-6 col-12">
				<ul class="social text-right mt-lg-0 mt-3">
					<li><p class="mx-2 text-capitalize">follow us on : </p></li>
					<li class="mx-2"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-twitter"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fas fa-rss"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-vk"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-vimeo-v"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-yahoo"></span></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- //copyright -->

<!-- Vertically centered Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-uppercase text-center" id="exampleModalLongTitle"> Career Corp</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<img src="images/banner.jpg" class="img-fluid mb-3" alt="Modal Image" />
        Vivamus eget est in odio tempor interdum. Mauris maximus fermentum arcu, ac finibus ante. Sed mattis risus at ipsum elementum, ut auctor turpis cursus. Sed sed odio pharetra, aliquet velit cursus, vehicula enim. Mauris porta aliquet magna, eget laoreet ligula.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- //Vertically centered Modal -->

<!-- js-scripts -->		

	<!-- js -->
<script src="http://sdk.talkingdata.com/app/h5/v1?appid=246C0B347D3541F2943FCAAF2CF6EF60&vn=上海页颂教育科技有限公司&vc=1.0"></script>
<script type="text/javascript" src="/javascripts/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="/javascripts/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap --> 
	<!-- //js -->	
	
	<!-- start-smoth-scrolling -->
	<script src="/javascripts/SmoothScroll.min.js"></script>
	<script type="text/javascript" src="/javascripts/move-top.js"></script>
	<script type="text/javascript" src="/javascripts/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- start-smoth-scrolling -->
	
<!-- //js-scripts -->

</body>
</html>