<!DOCTYPE html>
<html lang="en">
<head>
<title>第二生命形态学·线上测评系列</title>

	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);
		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Meta tag Keywords -->

	<link rel="stylesheet" href="/stylesheets/flexslider.css" type="text/css" media="all" /><!-- for testimonials -->

	<!-- css files -->
	<link rel="stylesheet" href="/stylesheets/bootstrap.css"> <!-- Bootstrap-Core-CSS -->

	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="all" /> <!-- Style-CSS -->
	<link rel="stylesheet" href="/stylesheets/fontawesome-all.css"> <!-- Font-Awesome-Icons-CSS -->
	<!-- Core Style CSS -->
	<link rel="stylesheet" href="/stylesheets/core-style.css">
	<link rel="stylesheet" href="/stylesheets/main-system.css">
	        <link rel="shortcut icon" type="image/png" href="favicon.png" />
	<!-- Responsive CSS -->
	<link href="/stylesheets/responsive.css" rel="stylesheet">
	<!-- //css files -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- web-fonts -->
	<link href="http://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
	<!-- //web-fonts -->

</head>

<body>

	<!--Header-->
	<header>
		<div class="container agile-banner_nav">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<img src="https://static.tianqionggongcheng.com/image/WechatIMG468.jpeg" class="col-sm-logo" alt="">
				<a class="navbar-system navbar-brand navbar-name" href="#">上海页颂教育科技有限公司 <span class="display">Yesong Education technology</span></a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item ">
							<a class="nav-link" href="/">首页 </a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/about">了解我们</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/achievement">研究成果</a>
						</li>
						<li class="nav-item">
							<a class="nav-link " href="/news">资讯新闻<span class="sr-only">(current)</span></a>
						</li>
						<!--
						<li class="dropdown nav-item">
							<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">资讯新闻
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu agile_short_dropdown">
								<li>
									<a href="index.html">Testimonials</a>
								</li>
								<li>
									<a href="typography.html">Typography</a>
								</li>
							</ul>
							-->
						</li>
						<li class="nav-item">
							<a class="nav-link " href="/base">培训基地</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/team">师资团队</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" href="/system">系统介绍</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/sky">天穹工程</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</header>
	<!--Header-->
	<!--section1 start-->
	<section class="">

		<div class="container ab_info system-content">

			<div class="col-sm-12 col-md-12 p0 wrap-headline">
					<img src="https://static2.tianqionggongcheng.com/system-26-0.jpg" alt="img" class="wrap-headline__img">
					<div class="headline clearfix">
							<div class="headline__data">
									<a href="/base" class="headline__category headline__category_orange">天穹工程</a>
									<p class="headline__category"></p>
							</div>
					</div>
			</div>
			<div class="col-sm-12 col-md-12 tags">
					<p>Tags:</p>
					<ul>
							<li>
									<a class="yellow font" href="#" title="World" >学生-成年人</a>
							</li>
							<li>
									<a class="yellow font" href="#" title="Sport">线上</a>
							</li>
					</ul>
			</div>
			<div class="col-sm-12 col-md-12 article_text">
					<div class="current">
							<h2 class="text-center yel_line current__title">第二生命形态学·线上测评系列</h2>
							<div class="system-intro">
									<a href="#">简介</a>
							</div>
							<p class="current__text">“第二生命形态学·天穹工程线上测评系统”隶属于上海页颂教育科技有限公司&上海丽空间精心打造的“第二生命形态学·天穹工程”，旨在帮助人们通过测评题的形式更清晰地认识自己、改善生活状态、提高生存质量、解开生活中的各类困惑。线上测评系列中的每一个测评项目都包含专业的测评题目、科学的测评结果以及有效的改善建议。测评系统的测评题既是检测剂，又是修复方向，测评题目+测评结果+行为改善=修复方案。160多个测评项目，涉及生活的方方面面，可以全方位提升我们的生活质量！</p>
							<div class="system-intro">
									<a href="#">内容</a>
							</div>
							<div class="system-effect">
								<div class="thumbnail ">
									<h3>儿童成长与教育类</h3>
									<ul>
											<li>
													<a href="#" class="thumbnail__link">
															<p class="" ><span class="glyphicon glyphicon-star " aria-hidden="true"></span>专注力测评</a>
													</a>
											</li>
											<li>
													<a href="#" class="thumbnail__link">
															<p class="" ><span class="glyphicon glyphicon-star " aria-hidden="true"></span>学前儿童多动症测评与评估</a>
													</a>
											</li>
											<li>
													<a href="#" class="thumbnail__link">
															<p class="" ><span class="glyphicon glyphicon-star " aria-hidden="true"></span>测一测你的孩子30年以后的样子</a>
													</a>
											</li>
											<li>
													<a href="#" class="thumbnail__link">
															<p class="" ><span class="glyphicon glyphicon-star " aria-hidden="true"></span>测一测陪伴你孩子成长的人智慧年龄多大</a>
													</a>
											</li>
											<li>
													<a href="#" class="thumbnail__link">
															<p class="" ><span class="glyphicon glyphicon-star " aria-hidden="true"></span>你老了，下一代让你增寿还是减寿</a>
													</a>
											</li>
											<li>
													<a href="#" class="thumbnail__link">
															<p class="" ><span class="glyphicon glyphicon-star " aria-hidden="true"></span>测一测孩子的学习状况会给你带来什么样的伤害</a>
													</a>
											</li>
											<li>
													<a href="#" class="thumbnail__link">
															<p class="" ><span class="glyphicon glyphicon-star " aria-hidden="true"></span>我的孩子会变得越来越好吗</a>
													</a>
											</li>
											<li>
													<a href="#" class="thumbnail__link">
															<p class="" ><span class="glyphicon glyphicon-star " aria-hidden="true"></span>我娃的执行力强吗</a>
													</a>
											</li>
									</ul>
								</div>
								<div class="thumbnail ">
									<h3>生存与社交类</h3>
									<ul>
											<li>
													<a href="#" class="thumbnail__link">
															<p class="" ><span class="glyphicon glyphicon-star " aria-hidden="true"></span>赚钱能力测评与评估</a>
													</a>
											</li>
											<li>
													<a href="#" class="thumbnail__link">
															<p class="" ><span class="glyphicon glyphicon-star " aria-hidden="true"></span>测一测自己来年的四方运兆</a>
													</a>
											</li>
											<li>
													<a href="#" class="thumbnail__link">
															<p class="" ><span class="glyphicon glyphicon-star " aria-hidden="true"></span>你对得起自己吗？</a>
													</a>
											</li>
											<li>
													<a href="#" class="thumbnail__link">
															<p class="" ><span class="glyphicon glyphicon-star " aria-hidden="true"></span>找一找你身边的小人</a>
													</a>
											</li>
									</ul>
								</div>
								<div class="thumbnail ">
									<h3>家庭情感关系类</h3>
									<ul>
											<li>
													<a href="#" class="thumbnail__link">
															<p class="" ><span class="glyphicon glyphicon-star " aria-hidden="true"></span>情感能力测评与评估</a>
													</a>
											</li>
											<li>
													<a href="#" class="thumbnail__link">
															<p class="" ><span class="glyphicon glyphicon-star " aria-hidden="true"></span>测一测你的婆婆好相处吗</a>
													</a>
											</li>
											<li>
													<a href="#" class="thumbnail__link">
															<p class="" ><span class="glyphicon glyphicon-star " aria-hidden="true"></span>测一测你的闺蜜对你先生的诱惑度</a>
													</a>
											</li>
											<li>
													<a href="#" class="thumbnail__link">
															<p class="" ><span class="glyphicon glyphicon-star " aria-hidden="true"></span>测一测对方心疼你吗</a>
													</a>
											</li>
											<li>
													<a href="#" class="thumbnail__link">
															<p class="" ><span class="glyphicon glyphicon-star " aria-hidden="true"></span>婚后你升值了吗</a>
													</a>
											</li>
											<li>
													<a href="#" class="thumbnail__link">
															<p class="" ><span class="glyphicon glyphicon-star " aria-hidden="true"></span>测一测隐瞒情感出轨的危险值</a>
													</a>
											</li>
									</ul>
								</div>
								<div class="thumbnail ">
									<h3>抑郁焦躁情绪检测</h3>
									<ul>
											<li>
													<a href="#" class="thumbnail__link">
															<p class="" ><span class="glyphicon glyphicon-star " aria-hidden="true"></span>抑郁焦躁情绪自检表</a>
													</a>
											</li>
											<li>
													<a href="#" class="thumbnail__link">
															<p class="" ><span class="glyphicon glyphicon-star " aria-hidden="true"></span>抑郁焦躁情绪检测表</a>
													</a>
											</li>
											<li>
													<a href="#" class="thumbnail__link">
															<p class="" ><span class="glyphicon glyphicon-star " aria-hidden="true"></span>中学生情绪排查表</a>
													</a>
											</li>
											<li>
													<a href="#" class="thumbnail__link">
															<p class="" ><span class="glyphicon glyphicon-star " aria-hidden="true"></span>产后抑郁焦躁情绪测评表</a>
													</a>
											</li>
									</ul>
								</div>
							</div>
							<!--
							<p class="current__text">该系统总共40堂课，其中语文20堂，数学20堂。该实操内容可用于4-6岁孩子的上课听讲适应性和学习自觉性培育。该套系统可以作为周末的活动，也可融入幼儿园课程。</p>
							<img src="img/content/article2.jpg" alt="img" class="current__img">
							<p class="current__text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
									ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
									adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid
									ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
							<blockquote class="quote current__quote">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</blockquote>
							<p class="current__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							-->
					</div>
			</div>
			<!-- top activities -->

			<!-- /activities end-->

			<!-- top comment
			<div class="system-intro">
					<a href="#">家长感言</a>
			</div>

			<div class="wrap wrap_gray pt20 col-sm-12 col-md-12 article_text">

			<div class="row ">
					<div class="col-sm-12">
							<div class="thumbnail thumbnail_small 2">
								<img src="/images/system/systemComment2001.jpg" height="" width="" alt="News">
							</div>
					</div>
					<div class="col-sm-12">
							<div class="thumbnail thumbnail_small thumbnail2">
								<img src="/images/system/systemComment2003.jpg" height="" width="270" alt="News">
							</div>
					</div>
					<div class="col-sm-12">
							<div class="thumbnail thumbnail_small 2">
								<img src="/images/system/systemComment2004.jpg" height="" width="" alt="News">
							</div>
					</div>
					<div class="col-sm-12">
							<div class="thumbnail thumbnail_small thumbnail2">
								<img src="/images/system/systemComment2005.jpg" height="" width="270" alt="News">
							</div>
					</div>
					<div class="col-sm-12">
							<div class="thumbnail thumbnail_small 2">
								<img src="/images/system/systemComment2006.jpg" height="" width="" alt="News">
							</div>
					</div>
					<div class="col-sm-12">
							<div class="thumbnail thumbnail_small thumbnail2">
								<img src="/images/system/systemComment2007.jpg" height="" width="270" alt="News">
							</div>
					</div>
			</div>
		  /comment end-->

		</div>
	</section>
	<!--section1 end-->


	<!-- header slider -->




<!-- footer -->
<footer>
	<div class="container py-5">
		<div class="row">
			<div class="col-sm-3 col-md-6">
				<h3 class="text-uppercase mb-3">地址</h3>
				<address>
					<p><strong>上海培训中心:</strong></p>
					<p class="mb-3">上海长宁区仙霞路319号远东国际广场A座</p>
					<p class="mb-3">上海市黄浦区南苏州路333号华隆大厦</p>
					<p class="mb-3">上海市黄浦区成都北路500号峻岭广场</p>
					<p class="mb-3">上海市静安区共和新路1878号大宁国际商业广场</p>
					<!-- footer <p><strong>Fax</strong> : +11 8976 2334 </p> -->
				</address>
			</div>
			<div class="col-sm-3 col-md-6">
				<h3 class="text-uppercase mb-3">联系方式</h3>
				<address>
					<p><strong>公众号</strong>：二生学苑</p>
					<p><strong>Phone</strong> </p>
					<p>董老师 : +86 18868721318</p>
					<p>王老师 : +86 15343402463</p>
					<p><strong>上海丽空间&上海页颂教育运营部总监：</strong> 赵总 QQ1702460065</p>
					<p><strong>Email</strong> : <a href="mailto:yesongedu@sina.com">yesongedu@sina.com</a></p>
					<!-- footer <p><strong>Fax</strong> : +11 8976 2334 </p> -->
				</address>
			</div>
			<div class="col-sm-2 col-md-6 mt-lg-0 mt-sm-0 mt-4 p-md-0">
				<h3 class="text-uppercase mb-3">链接</h3>
				<div class="links">
					<a class="pt-2 text-capitalize" href="https://web.tianqionggongcheng.com/"><i class="fas fa-angle-right"></i> 线上测评</a>
					<a class="pt-2 text-capitalize" href="https://web.tianqionggongcheng.com/#/inquiry/"><i class="fas fa-angle-right"></i> 教育问题在线问诊</a>
					<a class="pt-2 text-capitalize" href="https://web.tianqionggongcheng.com/#/education/"><i class="fas fa-angle-right"></i> 家庭教育学院</a>
					<a class="pt-2 text-capitalize" href="https://web.tianqionggongcheng.com/#/freeClassroom/"><i class="fas fa-angle-right"></i> 公益课堂</a>
					<a class="pt-2 text-capitalize" href="https://web.tianqionggongcheng.com/#/familyEducation/"><i class="fas fa-angle-right"></i> 家庭教育能力课程</a>
					<a class="pt-2 text-capitalize" href="https://web.tianqionggongcheng.com/#/activities/"><i class="fas fa-angle-right"></i> 夫妻情感增值系列活动</a>
				</div>
			</div>
			<!-- footer
			<div class="col-sm-3 col-md-6 mt-lg-0 mt-4">
				<h3 class="text-uppercase mb-3">Recent posts</h3>
				<div class="posts">
					<p class="pt-2">lorem ipsum dolor sit amet
					<span class="font-italic">31st march, 2018.</span></p>
					<p class="py-2 my-2 middle">lorem ipsum dolor sit amet
					<span class="font-italic">31st march, 2018.</span></p>
					<p class="pt-2">lorem ipsum dolor sit amet
					<span class="font-italic">31st march, 2018.</span></p>
				</div>
			</div>
			<div class="col-sm-4 col-md-6 mt-lg-0 mt-4">
				<h3 class="text-uppercase mb-3">Newsletter</h3>
				<p class="mb-4 pt-2">Subscribe to Our Newsletter to get Important News, Amazing Offers & More</p>
				<form action="#" method="post">
					<input type="email" name="Email" placeholder="Enter your email..." required="">
					<button class="btn1"><i class="far fa-envelope"></i></button>
					<div class="clearfix"> </div>
				</form>
			</div>
			footer -->
		</div>
	</div>
</footer>
<!-- footer -->


<!-- copyright -->
<div class="copyright py-4">
	<div class="container">
		<div class="copyrightgrids row">
			<div class="col-sm-6 col-12">
				<p>Copyright &copy; 2018.tianqionggongcheng.com <a href="http://www.tianqionggongcheng.com/" target="_blank" title="页颂教育">页颂教育</a></p>
				<p  style="margin: 0; height: 20px"><a href="http://www.beian.gov.cn/portal/recordQuery?token=80b501bb-e291-4866-b483-a23e9f7ffcdd">沪ICP备17051651号</a> </p>
<p  style="margin: 0; height: 20px"><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011202006779"><img style="width:20px;" src="https://img.yzcdn.cn/public_files/2016/07/19/276d5f72dc85cc584d83c08fefa36c2b.png" />沪公网安备 31011202006779号</a></p>
			</div>
			<!-- footer
			<div class="col-sm-6 col-12">
				<ul class="social text-right mt-lg-0 mt-3">
					<li><p class="mx-2 text-capitalize">follow us on : </p></li>
					<li class="mx-2"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-twitter"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fas fa-rss"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-vk"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-vimeo-v"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-yahoo"></span></a></li>
				</ul>
			</div>
			footer -->
		</div>
	</div>
</div>
<!-- //copyright -->

<!-- Vertically centered Modal -->

<!-- //Vertically centered Modal -->

<!-- js-scripts -->

	<!-- js -->
	<script type="text/javascript" src="javascripts/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="javascripts/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap -->
		<script type="text/javascript" src="javascripts/main-system.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap -->
	<!-- //js -->

	<!-- Popper js -->
	<script src="javascripts/popper.min.js"></script>
	<!-- Bootstrap js -->
	<script src="javascripts/bootstrap.min.js"></script>
	<!-- Plugins js -->
	<script src="javascripts/plugins.js"></script>
	<!-- Active js -->
	<script src="javascripts/active.js"></script>

	<!-- odometer-script -->
	<script src="/javascripts/odometer.js"></script>
	<script>
		window.odometerOptions = {
			format: '(ddd).dd'
		};
	</script>
	<script>
		setTimeout(function () {
			jQuery('#w3l_stats1').html(33);
		}, 1500);
	</script>
	<script>
		setTimeout(function () {
			jQuery('#w3l_stats2').html(16);
		}, 1500);
	</script>
	<script>
		setTimeout(function () {
			jQuery('#w3l_stats3').html(10);
		}, 1500);
	</script>
	<script>
		setTimeout(function () {
			jQuery('#w3l_stats4').html(32);
		}, 1500);
	</script>
	<!-- //odometer-script -->

	<!-- start-smoth-scrolling -->
	<script src="/javascripts/SmoothScroll.min.js"></script>
	<script type="text/javascript" src="/javascripts/move-top.js"></script>
	<script type="text/javascript" src="/javascripts/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/
			$().UItoTop({ easingType: 'easeOutQuart' });
			});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- start-smoth-scrolling -->

	<!-- FlexSlider-JavaScript -->
	<script defer src="javascripts/jquery.flexslider.js"></script>
	<script type="text/javascript">
		$(function(){
			SyntaxHighlighter.all();
				});
				$(window).load(function(){
				$('.flexslider').flexslider({
					animation: "slide",
					start: function(slider){
						$('body').removeClass('loading');
					}
			});
		});
	</script>
	<!-- //FlexSlider-JavaScript -->
<!-- //js-scripts -->

</body>
</html>
