<!DOCTYPE html>
<html lang="en">
<head>
<title>第二生命形态学系统介绍</title>

	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Meta tag Keywords -->

	<link rel="stylesheet" href="/stylesheets/flexslider.css" type="text/css" media="all" /><!-- for testimonials -->

	<!-- css files -->
	<link rel="stylesheet" href="/stylesheets/bootstrap.css"> <!-- Bootstrap-Core-CSS -->

	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="all" /> <!-- Style-CSS -->
	<link rel="stylesheet" href="/stylesheets/fontawesome-all.css"> <!-- Font-Awesome-Icons-CSS -->
	<!-- Core Style CSS -->
	<link rel="stylesheet" href="/stylesheets/core-style.css">
	<link rel="stylesheet" href="/stylesheets/main-system.css">
	        <link rel="shortcut icon" type="image/png" href="favicon.png" />
	<!-- Responsive CSS -->
	<link href="/stylesheets/responsive.css" rel="stylesheet">
	<!-- //css files -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- web-fonts -->
	<link href="http://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
	<!-- //web-fonts -->

</head>

<body>

	<!--Header-->
	<header>
		<div class="container agile-banner_nav">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<img src="https://static.tianqionggongcheng.com/image/WechatIMG468.jpeg" class="col-sm-logo" alt="">
				<a class="navbar-system navbar-brand navbar-name" href="#">上海页颂教育科技有限公司 <span class="display">Yesong Education technology</span></a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item ">
							<a class="nav-link" href="/">首页 </a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/about">了解我们</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/achievement">研究成果</a>
						</li>
						<li class="nav-item">
							<a class="nav-link " href="/news">资讯新闻<span class="sr-only">(current)</span></a>
						</li>
						<!--
						<li class="dropdown nav-item">
							<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">资讯新闻
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu agile_short_dropdown">
								<li>
									<a href="index.html">Testimonials</a>
								</li>
								<li>
									<a href="typography.html">Typography</a>
								</li>
							</ul>
							-->
						</li>
						<li class="nav-item">
							<a class="nav-link " href="/base">培训基地</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/team">师资团队</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" href="/system">系统介绍</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/sky">天穹工程</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</header>
	<!--Header-->

	<!-- header slider -->
	<section>
			<!-- top news -->
			<div class="wrap wrap_white">
					<div class="container title">
							<h2 class="title__h1 green-line">全部</h2>
					</div>
			</div>
			<div class="wrap wrap_gray pt20">
					<div class="container">
							<div class="row">
									<div class="col-sm-3">
											<div class="thumbnail thumbnail_small">
													<a href="/system01" class="thumbnail__link">
															<img src="https://static2.tianqionggongcheng.com/system-1-0.jpg" height="153" width="270" alt="News">
													</a>
													<div class="caption thumbnail__caption">
															<div class="news caption__news">
																	<p class="news__category green-line">可加盟系统</p>
																	<a href="news-system.html" class="news__link">
																			<p class="news__text">第二生命形态学·学无愁·学习自觉性学前培养系统</p>
																	</a>
															</div>
															<div class="posted">
																<p class="news__category_red ">加盟费：¥ 80000元</p>
																<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
																	<span class="label label-primary">学前</span>
																	<span class="label label-info">儿童</span>
																	<span class="label label-success">室外</span>
																	<span class="label label-warning">室内</span>
															</div>
													</div>
											</div>
									</div>
									<div class="col-sm-3">
											<div class="thumbnail thumbnail_small">
													<a href="/system02" class="thumbnail__link">
															<img src="https://static2.tianqionggongcheng.com/system-2-0.jpg" height="153" width="270" alt="News">
													</a>
													<div class="caption thumbnail__caption">
															<div class="news caption__news">
																	<p class="news__category green-line">可加盟系统</p>
																	<a href="news.html" class="news__link">
																			<p class="news__text">第二生命形态学·上课听讲注意力修复提高系统</p>
																	</a>
															</div>
															<div class="posted">
																<div class="posted">
																	<p class="news__category_red ">加盟费：¥ 80000元</p>
																	<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
																		<span class="label label-primary">四年级-高三</span>
																		<span class="label label-info">儿童</span>
																		<span class="label label-success">室外</span>
																		<span class="label label-warning">室内</span>
																</div>
															</div>
													</div>
											</div>
									</div>
									<div class="col-sm-3">
											<div class="thumbnail thumbnail_small">
													<a href="/system03" class="thumbnail__link">
															<img src="https://static2.tianqionggongcheng.com/system-3-0.jpg" height="153" width="270" alt="News">
													</a>
													<div class="caption thumbnail__caption">
															<div class="news caption__news">
																	<p class="news__category green-line">可加盟系统</p>
																	<a href="news.html" class="news__link">
																			<p class="news__text">第二生命形态学·儿童成长智慧数学脑系统</p>
																	</a>
															</div>
															<div class="posted">
																<div class="posted">
																	<p class="news__category_red ">加盟费：¥ 30000元</p>
																	<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
																		<span class="label label-primary">三岁-小学三年级</span>
																		<span class="label label-danger">亲子</span>
																		<span class="label label-success">室外</span>
																</div>
															</div>
													</div>
											</div>
									</div>
									<div class="col-sm-3">
											<div class="thumbnail thumbnail_small">
													<a href="/system04" class="thumbnail__link">
															<img src="https://static2.tianqionggongcheng.com/system-4-0.jpg" height="153" width="270" alt="News">
													</a>
													<div class="caption thumbnail__caption">
															<div class="news caption__news">
																	<p class="news__category green-line">可加盟系统</p>
																	<a href="/system04" class="news__link">
																			<p class="news__text">第二生命形态学·儿童成长智慧语文脑系统</p>
																	</a>
															</div>
															<div class="posted">
																<div class="posted">
																	<p class="news__category_red ">加盟费：¥ 30000元</p>
																	<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
																		<span class="label label-primary">三岁-小学三年级</span>
																		<span class="label label-danger">亲子</span>
																		<span class="label label-success">室外</span>
																		<span class="label label-info">教具</span>
																</div>
															</div>
													</div>
											</div>
									</div>
									<div class="col-sm-3">
											<div class="thumbnail thumbnail_small">
													<a href="/system05" class="thumbnail__link">
															<img src="https://static2.tianqionggongcheng.com/system-5-0.jpg" height="153" width="270" alt="News">
													</a>
													<div class="caption thumbnail__caption">
															<div class="news caption__news">
																	<p class="news__category green-line">可加盟系统</p>
																	<a href="/system05" class="news__link">
																			<p class="news__text">第二生命形态学·0-2岁种植智慧福禄脑系统</p>
																	</a>
															</div>
															<div class="posted">
																<div class="posted">
																	<p class="news__category_red ">加盟费：¥ 30000元</p>
																	<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
																		<span class="label label-primary">0-2岁</span>
																		<span class="label label-danger">亲子</span>
																		<span class="label label-warning">室内</span>
																		<span class="label label-info">教具</span>
																</div>
															</div>
													</div>
											</div>
									</div>
									<div class="col-sm-3">
											<div class="thumbnail thumbnail_small">
													<a href="/system06" class="thumbnail__link">
															<img src="https://static2.tianqionggongcheng.com/system-6-0.jpg" height="153" width="270" alt="News">
													</a>
													<div class="caption thumbnail__caption">
															<div class="news caption__news">
																	<p class="news__category green-line">可加盟系统</p>
																	<a href="/system06" class="news__link">
																			<p class="news__text">第二生命形态学·蹦蹦蹦亲子蹦·家庭亲子情感培养系统</p>
																	</a>
															</div>
															<div class="posted">
																<p class="news__category_red ">加盟费：¥ 30000元</p>
																<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
																<span class="label label-danger">亲子</span>
																<span class="label label-success">室外</span>
																<span class="label label-warning">室内</span>
																<span class="label label-info">教具</span>
															</div>
													</div>
											</div>
									</div>
									<div class="col-sm-3">
											<div class="thumbnail thumbnail_small">
													<a href="/system07" class="thumbnail__link">
															<img src="https://static2.tianqionggongcheng.com/system-7-0.jpg" height="153" width="270" alt="News">
													</a>
													<div class="caption thumbnail__caption">
															<div class="news caption__news">
																	<p class="news__category green-line">可加盟系统</p>
																	<a href="/system07" class="news__link">
																			<p class="news__text">第二生命形态学·人脉召唤系统（第一套）</p>
																	</a>
															</div>
															<div class="posted">
																<p class="news__category_red ">加盟费：¥ 30000元/套 ¥50000元/两套</p>
																<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
																<span class="label label-danger">亲子</span>
																<span class="label label-success">室外</span>
															</div>
													</div>
											</div>
									</div>
									<div class="col-sm-3">
											<div class="thumbnail thumbnail_small">
													<a href="/system08" class="thumbnail__link">
															<img src="/images/system/system0719.jpg" height="153" width="270" alt="News">
													</a>
													<div class="caption thumbnail__caption">
															<div class="news caption__news">
																	<p class="news__category green-line">可加盟系统</p>
																	<a href="/system08" class="news__link">
																			<p class="news__text">第二生命形态学·人脉召唤系统（第二套）</p>
																	</a>
															</div>
															<div class="posted">
																<p class="news__category_red ">加盟费：¥ 30000元/套 ¥50000元/两套</p>
																<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
																<span class="label label-danger">亲子</span>
																<span class="label label-success">室外</span>
															</div>
													</div>
											</div>
									</div>
									<div class="col-sm-3">
											<div class="thumbnail thumbnail_small">
													<a href="/system09" class="thumbnail__link">
															<img src="images/system/systemProduct0901.jpg" height="153" width="270" alt="News">
													</a>
													<div class="caption thumbnail__caption">
															<div class="news caption__news">
																	<p class="news__category green-line">可加盟系统</p>
																	<a href="/system09" class="news__link">
																			<p class="news__text">第二生命形态学·儿童健康语文运动能力成长课</p>
																	</a>
															</div>
															<div class="posted">
																<p class="news__category_red ">加盟费：¥ 30000元</p>
																<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
																<span class="label label-danger">孩子</span>
																<span class="label label-success">室内</span>
															</div>
													</div>
											</div>
									</div>
									<div class="col-sm-3">
											<div class="thumbnail thumbnail_small">
													<a href="/system10" class="thumbnail__link">
															<img src="images/system/systemProduct1001.jpg" height="153" width="270" alt="News">
													</a>
													<div class="caption thumbnail__caption">
															<div class="news caption__news">
																	<p class="news__category green-line">可加盟系统</p>
																	<a href="/system10" class="news__link">
																			<p class="news__text">第二生命形态学·儿童健康数学运动能力成长课</p>
																	</a>
															</div>
															<div class="posted">
																<p class="news__category_red ">加盟费：¥ 30000元</p>
																<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
																<span class="label label-danger">孩子</span>
																<span class="label label-success">室内</span>
															</div>
													</div>
											</div>
									</div>
									<div class="col-sm-3">
											<div class="thumbnail thumbnail_small">
													<a href="/system11" class="thumbnail__link">
															<img src="images/system/system1101.jpg" height="153" width="270" alt="News">
													</a>
													<div class="caption thumbnail__caption">
															<div class="news caption__news">
																	<p class="news__category green-line">可加盟系统</p>
																	<a href="/system11" class="news__link">
																			<p class="news__text">第二生命形态学·家庭教育能力系列课程（上）</p>
																	</a>
															</div>
															<div class="posted">
																<p class="news__category_red ">加盟费：¥ 30000元</p>
																<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
																<span class="label label-danger">家长</span>
																<span class="label label-success">室内</span>
															</div>
													</div>
											</div>
									</div>
									<div class="col-sm-3">
											<div class="thumbnail thumbnail_small">
													<a href="/system12" class="thumbnail__link">
															<img src="images/system/system1201.jpg" height="153" width="270" alt="News">
													</a>
													<div class="caption thumbnail__caption">
															<div class="news caption__news">
																	<p class="news__category green-line">可加盟系统</p>
																	<a href="/system12" class="news__link">
																			<p class="news__text">第二生命形态学·家庭教育能力系列课程（下）</p>
																	</a>
															</div>
															<div class="posted">
																<p class="news__category_red ">加盟费：¥ 30000元</p>
																<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
																<span class="label label-danger">家长</span>
																<span class="label label-success">室内</span>
															</div>
													</div>
											</div>
									</div>

									<div class="col-sm-3">
											<div class="thumbnail thumbnail_small">
													<a href="/system14" class="thumbnail__link">
															<img src="https://static2.tianqionggongcheng.com/system-14-0.jpg" height="153" width="270" alt="News">
													</a>
													<div class="caption thumbnail__caption">
															<div class="news caption__news">
																	<p class="news__category green-line">可加盟系统</p>
																	<a href="/system14" class="news__link">
																			<p class="news__text">第二生命形态学·全方位情商交际口才智能培养课程</p>
																	</a>
															</div>
															<div class="posted">
																<p class="news__category_red ">加盟费：¥ 10000元</p>
																<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
																<span class="label label-danger">孩子</span>
																<span class="label label-success">室内</span>
															</div>
													</div>
											</div>
									</div>
									<div class="col-sm-3">
											<div class="thumbnail thumbnail_small">
													<a href="/system13" class="thumbnail__link">
															<img src="https://static2.tianqionggongcheng.com/system-13-0.jpg" height="153" width="270" alt="News">
													</a>
													<div class="caption thumbnail__caption">
															<div class="news caption__news">
																	<p class="news__category green-line">可加盟系统</p>
																	<a href="/system13" class="news__link">
																			<p class="news__text">第二生命形态学·教育修养读书会</p>
																	</a>
															</div>
															<div class="posted">
																<p class="news__category_red ">加盟费：¥ 10000元</p>
																<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
																<span class="label label-danger">学前-家长</span>
																<span class="label label-success">室内</span>
															</div>
													</div>
											</div>
									</div>
									<div class="col-sm-3">
											<div class="thumbnail thumbnail_small">
													<a href="/system15" class="thumbnail__link">
															<img src="https://static2.tianqionggongcheng.com/system-15-0.jpg" height="153" width="270" alt="News">
													</a>
													<div class="caption thumbnail__caption">
															<div class="news caption__news">
																	<p class="news__category green-line">可加盟系统</p>
																	<a href="/system15" class="news__link">
																			<p class="news__text">第二生命形态学·天穹工程系统</p>
																	</a>
															</div>
															<div class="posted">
																<p class="news__category_red ">加盟费：¥ 5000元</p>
																<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
																<span class="label label-danger">成年人</span>
																<span class="label label-success">线上</span>
															</div>
													</div>
											</div>
									</div>
									<div class="col-sm-3">
											<div class="thumbnail thumbnail_small">
													<a href="/system16" class="thumbnail__link">
															<img src="https://static2.tianqionggongcheng.com/system-16-0.jpg" height="153" width="270" alt="News">
													</a>
													<div class="caption thumbnail__caption">
															<div class="news caption__news">
																	<p class="news__category green-line">可加盟系统</p>
																	<a href="/system16" class="news__link">
																			<p class="news__text">第二生命形态学·儿童国学养慧班</p>
																	</a>
															</div>
															<div class="posted">
																<p class="news__category_red ">加盟培训费：¥ 5000元</p>
																<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
																<span class="label label-danger">孩子</span>
																<span class="label label-success">室内</span>
															</div>
													</div>
											</div>
									</div>
									<div class="col-sm-3">
											<div class="thumbnail thumbnail_small">
													<a href="/system22" class="thumbnail__link">
															<img src="https://static2.tianqionggongcheng.com/recuperation-01-1.jpg" height="153" width="270" alt="News">
													</a>
													<div class="caption thumbnail__caption">
															<div class="news caption__news">
																	<p class="news__category green-line">合作项目</p>
																	<a href="/system22" class="news__link">
																			<p class="news__text">第二生命形态学·抑郁焦躁情绪调理系统</p>
																	</a>
															</div>
															<div class="posted">
																<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
																<span class="label label-danger">成年人</span>
																<span class="label label-success">室内室外</span>
															</div>
													</div>
											</div>
									</div>
									<div class="col-sm-3">
											<div class="thumbnail thumbnail_small">
													<a href="/system23" class="thumbnail__link">
															<img src="https://static2.tianqionggongcheng.com/recuperation-02-1.jpg" height="153" width="270" alt="News">
													</a>
													<div class="caption thumbnail__caption">
															<div class="news caption__news">
																	<p class="news__category green-line">合作项目</p>
																	<a href="/system23" class="news__link">
																			<p class="news__text">第二生命形态学·中学生情绪问题调理包</p>
																	</a>
															</div>
															<div class="posted">
																<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
																<span class="label label-danger">中学生</span>
																<span class="label label-success">室内室外</span>
															</div>
													</div>
											</div>
									</div>
									<div class="col-sm-3">
											<div class="thumbnail thumbnail_small">
													<a href="/system17" class="thumbnail__link">
															<img src="https://static2.tianqionggongcheng.com/recuperation-03-1.jpg" height="153" width="270" alt="News">
													</a>
													<div class="caption thumbnail__caption">
															<div class="news caption__news">
																	<p class="news__category green-line">可加盟系统</p>
																	<a href="/system17" class="news__link">
																			<p class="news__text">第二生命形态学·产后抑郁集中调理系统</p>
																	</a>
															</div>
															<div class="posted">
																<p class="news__category_red ">加盟培训费：¥ 599元</p>
																<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
																<span class="label label-danger">成年人</span>
																<span class="label label-success">室内</span>
															</div>
													</div>
											</div>
									</div>
									<div class="col-sm-3">
											<div class="thumbnail thumbnail_small">
													<a href="/system18" class="thumbnail__link">
															<img src="https://static2.tianqionggongcheng.com/system-18-0.jpg" height="153" width="270" alt="News">
													</a>
													<div class="caption thumbnail__caption">
															<div class="news caption__news">
																	<p class="news__category green-line">儿童成长活动</p>
																	<a href="/system18" class="news__link">
																			<p class="news__text">第二生命形态学·儿童成长见识行</p>
																	</a>
															</div>
															<div class="posted">
																<p class="news__category_red ">活动费用：¥ 99元</p>
																<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
																<span class="label label-danger">5岁-5年级儿童</span>
																<span class="label label-success">室外</span>
															</div>
													</div>
											</div>
									</div>
									<div class="col-sm-3">
											<div class="thumbnail thumbnail_small">
													<a href="/system19" class="thumbnail__link">
															<img src="https://static2.tianqionggongcheng.com/system-19-0.jpg" height="153" width="270" alt="News">
													</a>
													<div class="caption thumbnail__caption">
															<div class="news caption__news">
																	<p class="news__category green-line">基地特色营</p>
																	<a href="/system19" class="news__link">
																			<p class="news__text">第二生命形态学·作业能力提升高端营</p>
																	</a>
															</div>
															<div class="posted">
																<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
																<span class="label label-danger">小学1-6年级儿童</span>
																<span class="label label-success">室内</span>
															</div>
													</div>
											</div>
									</div>
									<div class="col-sm-3">
											<div class="thumbnail thumbnail_small">
													<a href="/system20" class="thumbnail__link">
															<img src="https://static2.tianqionggongcheng.com/system-20-1.jpg" height="153" width="270" alt="News">
													</a>
													<div class="caption thumbnail__caption">
															<div class="news caption__news">
																	<p class="news__category green-line">基地特色营</p>
																	<a href="/system20" class="news__link">
																			<p class="news__text">第二生命形态学·商界小精英冬夏令营</p>
																	</a>
															</div>
															<div class="posted">
																<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
																<span class="label label-danger">小学1-6年级儿童</span>
																<span class="label label-success">室内、室外</span>
															</div>
													</div>
											</div>
									</div>
									<div class="col-sm-3">
											<div class="thumbnail thumbnail_small">
													<a href="/system21" class="thumbnail__link">
															<img src="https://static2.tianqionggongcheng.com/system-21-0.jpg" height="153" width="270" alt="News">
													</a>
													<div class="caption thumbnail__caption">
															<div class="news caption__news">
																	<p class="news__category green-line">基地特色营</p>
																	<a href="/system21" class="news__link">
																			<p class="news__text">第二生命形态学·放肆多动表现改善夏令营</p>
																	</a>
															</div>
															<div class="posted">
																<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
																<span class="label label-danger">小学1-6年级儿童</span>
																<span class="label label-success">室内、室外</span>
															</div>
													</div>
											</div>
									</div>

									<div class="col-sm-3">
											<div class="thumbnail thumbnail_small">
													<a href="/system29" class="thumbnail__link">
															<img src="https://static2.tianqionggongcheng.com/system-22-1.jpg" height="153" width="270" alt="News">
													</a>
													<div class="caption thumbnail__caption">
															<div class="news caption__news">
																	<p class="news__category green-line">基地特色系统</p>
																	<a href="/system29" class="news__link">
																			<p class="news__text">第二生命形态学·小主人农场自闭症治疗技术</p>
																	</a>
															</div>
															<div class="posted">
																<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
																<span class="label label-danger">儿童</span>
																<span class="label label-success">室内、室外</span>
															</div>
													</div>
											</div>
									</div>
									<div class="col-sm-3">
											<div class="thumbnail thumbnail_small">
													<a href="/system25" class="thumbnail__link">
															<img src="https://static2.tianqionggongcheng.com/system-25-0.jpg" height="153" width="270" alt="News">
													</a>
													<div class="caption thumbnail__caption">
															<div class="news caption__news">
																	<p class="news__category green-line">天穹工程</p>
																	<a href="/system25" class="news__link">
																			<p class="news__text">第二生命形态学·教育问题问诊系列</p>
																	</a>
															</div>
															<div class="posted">
																<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
																<span class="label label-danger">家长</span>
																<span class="label label-success">线上</span>
																<span class="label label-success">课程</span>
															</div>
													</div>
											</div>
									</div>
									<div class="col-sm-3">
											<div class="thumbnail thumbnail_small">
													<a href="/system26" class="thumbnail__link">
															<img src="https://static2.tianqionggongcheng.com/system-26-0.jpg" height="153" width="270" alt="News">
													</a>
													<div class="caption thumbnail__caption">
															<div class="news caption__news">
																	<p class="news__category green-line">天穹工程</p>
																	<a href="/system26" class="news__link">
																			<p class="news__text">第二生命形态学·线上测评系列</p>
																	</a>
															</div>
															<div class="posted">
																<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
																<span class="label label-danger">中学生-成年人</span>
																<span class="label label-success">线上</span>
															</div>
													</div>
											</div>
									</div>
									<div class="col-sm-3">
											<div class="thumbnail thumbnail_small">
													<a href="/system27" class="thumbnail__link">
															<img src="https://static2.tianqionggongcheng.com/system-27-0.jpg" height="153" width="270" alt="News">
													</a>
													<div class="caption thumbnail__caption">
															<div class="news caption__news">
																	<p class="news__category green-line">天穹工程</p>
																	<a href="/system27" class="news__link">
																			<p class="news__text">第二生命形态学·夫妻情感增值经典系列活动</p>
																	</a>
															</div>
															<div class="posted">
																<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
																<span class="label label-danger">成年人</span>
																<span class="label label-success">户外</span>
															</div>
													</div>
											</div>
									</div>
									<div class="col-sm-3">
											<div class="thumbnail thumbnail_small">
													<a href="/system28" class="thumbnail__link">
															<img src="https://static2.tianqionggongcheng.com/system-28-0.jpg" height="153" width="270" alt="News">
													</a>
													<div class="caption thumbnail__caption">
															<div class="news caption__news">
																	<p class="news__category green-line">天穹工程</p>
																	<a href="/system28" class="news__link">
																			<p class="news__text">第二生命形态学·线上家庭教育能力系列课程</p>
																	</a>
															</div>
															<div class="posted">
																<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
																<span class="label label-danger">家长</span>
																<span class="label label-success">线上</span>
																<span class="label label-success">课程</span>
															</div>
													</div>
											</div>
									</div>

									<div class="col-sm-3">
											<div class="thumbnail thumbnail_small">
													<a href="/system24" class="thumbnail__link">
															<img src="https://static2.tianqionggongcheng.com/education2.jpg" height="153" width="270" alt="News">
													</a>
													<div class="caption thumbnail__caption">
															<div class="news caption__news">
																	<p class="news__category green-line">基础理论课</p>
																	<a href="news.html" class="news__link">
																			<p class="news__text">第二生命形态学·0-6岁家庭教育学院课程</p>
																	</a>
															</div>
															<div class="posted">
																<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
																<span class="label label-danger">成年人</span>
																<span class="label label-success">线上</span>
																<span class="label label-success">课程</span>
															</div>
													</div>
											</div>
									</div>
									<div class="col-sm-3">
											<div class="thumbnail thumbnail_small">
													<a href="/system30" class="thumbnail__link">
															<img src="https://static2.tianqionggongcheng.com/system-30-1.jpg" height="153" width="270" alt="News">
													</a>
													<div class="caption thumbnail__caption">
															<div class="news caption__news">
																	<p class="news__category green-line">基础理论课程</p>
																	<a href="/system30" class="news__link">
																			<p class="news__text">第二生命形态学·线上学院</p>
																	</a>
															</div>
															<div class="posted">
																<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
																<span class="label label-danger">家长</span>
																<span class="label label-success">线上</span>
																<span class="label label-success">课程</span>
															</div>
													</div>
											</div>
									</div>

									<div class="col-sm-6 p0">

									</div>
							</div>
					</div>
					<div class="ajax_load">
							<i class="icon-arrows-cw"></i>Load more
							<svg width="128" height="40" viewBox="0 0 128 40" xmlns="http://www.w3.org/2000/svg">
									<rect x='0' y='0' fill='none' width='128' height='40'></rect>
							</svg>
					</div>
			</div>
			<!-- /container-->
	</section>


	<!-- Video Posts Area Start -->
	<section class="gazatte-video-post-area section_padding_100_70 bg-gray">
			<div class="container">
				<div class="gazette-heading">
						<h4>第二生命形态学加盟系统火热进行中🔥</h4>
				</div>
					<div class="row">
							<!-- Single Video Post Start -->
							<div class="col-12 col-md-3">
									<div class="single-video-post">
											<div class="video-post-thumb">
													<img src="images/system-1001.jpg" alt="">
													<a href="" class="videobtn"><i class="" aria-hidden="true"></i></a>
											</div>
											<h5><a href="#">天津第二生命形态学人脉召唤系统第8期火热进行中</a></h5>
									</div>
							</div>
							<!-- Single Video Post Start -->
							<div class="col-12 col-md-3">
									<div class="single-video-post">
											<div class="video-post-thumb">
													<img src="images/system-2001.jpg" alt="">
													<a href="" class="videobtn"><i class="" aria-hidden="true"></i></a>
											</div>
											<h5><a href="#">天津辅尔特第二生命形态学“蹦蹦蹦·亲子蹦”家庭亲子情感培养系统火热进行中</a></h5>
									</div>
							</div>
							<!-- Single Video Post Start -->
							<div class="col-12 col-md-3">
									<div class="single-video-post">
											<div class="video-post-thumb">
													<img src="images/system-3001.jpg" alt="">
													<a href="" class="videobtn"><i class="" aria-hidden="true"></i></a>
											</div>
											<h5><a href="#">江阴育璞教育第二生命形态学儿童智慧成长数学脑系统火热进行中</a></h5>
									</div>
							</div>
							<!-- Single Video Post Start -->
							<div class="col-12 col-md-3">
									<div class="single-video-post">
											<div class="video-post-thumb">
													<img src="images/system-4001.jpg" alt="">
													<a href="" class="videobtn"><i class="" aria-hidden="true"></i></a>
											</div>
											<h5><a href="#">潍坊乐智苑第二生命形态学儿童智慧成长语文脑系统火热进行中</a></h5>
									</div>
							</div>
							<!-- Single Video Post Start -->
							<div class="col-12 col-md-3">
									<div class="single-video-post">
											<div class="video-post-thumb">
													<img src="images/system-5001.jpg" alt="">
													<a href="" class="videobtn"><i class="" aria-hidden="true"></i></a>
											</div>
											<h5><a href="#">儿童健康数学运动能力成长系统</a></h5>
									</div>
							</div>
							<!-- Single Video Post Start -->
							<div class="col-12 col-md-3">
									<div class="single-video-post">
											<div class="video-post-thumb">
													<img src="images/system-6001.jpg" alt="">
													<a href="" class="videobtn"><i class="" aria-hidden="true"></i></a>
											</div>
											<h5><a href="#">儿童健康语文运动能力成长系统</a></h5>
									</div>
							</div>
							<!-- Single Video Post Start -->
							<div class="col-12 col-md-3">
									<div class="single-video-post">
											<div class="video-post-thumb">
													<img src="images/system-7001.jpg" alt="">
													<a href="" class="videobtn"><i class="" aria-hidden="true"></i></a>
											</div>
											<h5><a href="#">家庭教育能力课程系统</a></h5>
									</div>
							</div>
							<!-- Single Video Post Start -->
							<div class="col-12 col-md-3">
									<div class="single-video-post">
											<div class="video-post-thumb">
													<img src="images/system-8001.jpg" alt="">
													<a href="" class="videobtn"><i class="" aria-hidden="true"></i></a>
											</div>
											<h5><a href="#">种植智慧福禄脑系统</a></h5>
									</div>
							</div>
							<!-- Single Video Post Start -->
							<div class="col-12 col-md-3">
									<div class="single-video-post">
											<div class="video-post-thumb">
													<img src="images/system-9001.jpg" alt="">
													<a href="" class="videobtn"><i class="" aria-hidden="true"></i></a>
											</div>
											<h5><a href="#">第二生命形态学读书会</a></h5>
									</div>
							</div>
							<!-- Single Video Post Start -->
							<div class="col-12 col-md-3">
									<div class="single-video-post">
											<div class="video-post-thumb">
													<img src="images/to-01.jpg" alt="">
													<a href="" class="videobtn"><i class="" aria-hidden="true"></i></a>
											</div>
											<h5><a href="#">第二生命形态学学前儿童学习自觉性学习班</a></h5>
									</div>
							</div>
					</div>
			</div>
	</section>
	<!-- Video Posts Area End -->



<!-- footer -->
<footer>
	<div class="container py-5">
		<div class="row">
			<div class="col-sm-3 col-md-6">
				<h3 class="text-uppercase mb-3">地址</h3>
				<address>
					<p><strong>上海培训中心:</strong></p>
					<p class="mb-3">上海长宁区仙霞路319号远东国际广场A座</p>
					<p class="mb-3">上海市黄浦区南苏州路333号华隆大厦</p>
					<p class="mb-3">上海市黄浦区成都北路500号峻岭广场</p>
					<p class="mb-3">上海市静安区共和新路1878号大宁国际商业广场</p>
					<!-- footer <p><strong>Fax</strong> : +11 8976 2334 </p> -->
				</address>
			</div>
			<div class="col-sm-3 col-md-6">
				<h3 class="text-uppercase mb-3">联系方式</h3>
				<address>
					<p><strong>公众号</strong>：二生学苑</p>
					<p><strong>Phone</strong> </p>
					<p>董老师 : +86 18868721318</p>
					<p>王老师 : +86 15343402463</p>
					<p><strong>上海丽空间&上海页颂教育运营部总监：</strong> 赵总 QQ1702460065</p>
					<p><strong>Email</strong> : <a href="mailto:yesongedu@sina.com">yesongedu@sina.com</a></p>
					<!-- footer <p><strong>Fax</strong> : +11 8976 2334 </p> -->
				</address>
			</div>
			<div class="col-sm-2 col-md-6 mt-lg-0 mt-sm-0 mt-4 p-md-0">
				<h3 class="text-uppercase mb-3">链接</h3>
				<div class="links">
					<a class="pt-2 text-capitalize" href="https://web.tianqionggongcheng.com/"><i class="fas fa-angle-right"></i> 线上测评</a>
					<a class="pt-2 text-capitalize" href="https://web.tianqionggongcheng.com/#/inquiry/"><i class="fas fa-angle-right"></i> 教育问题在线问诊</a>
					<a class="pt-2 text-capitalize" href="https://web.tianqionggongcheng.com/#/education/"><i class="fas fa-angle-right"></i> 家庭教育学院</a>
					<a class="pt-2 text-capitalize" href="https://web.tianqionggongcheng.com/#/freeClassroom/"><i class="fas fa-angle-right"></i> 公益课堂</a>
					<a class="pt-2 text-capitalize" href="https://web.tianqionggongcheng.com/#/familyEducation/"><i class="fas fa-angle-right"></i> 家庭教育能力课程</a>
					<a class="pt-2 text-capitalize" href="https://web.tianqionggongcheng.com/#/activities/"><i class="fas fa-angle-right"></i> 夫妻情感增值系列活动</a>
				</div>
			</div>
			<!-- footer
			<div class="col-sm-3 col-md-6 mt-lg-0 mt-4">
				<h3 class="text-uppercase mb-3">Recent posts</h3>
				<div class="posts">
					<p class="pt-2">lorem ipsum dolor sit amet
					<span class="font-italic">31st march, 2018.</span></p>
					<p class="py-2 my-2 middle">lorem ipsum dolor sit amet
					<span class="font-italic">31st march, 2018.</span></p>
					<p class="pt-2">lorem ipsum dolor sit amet
					<span class="font-italic">31st march, 2018.</span></p>
				</div>
			</div>
			<div class="col-sm-4 col-md-6 mt-lg-0 mt-4">
				<h3 class="text-uppercase mb-3">Newsletter</h3>
				<p class="mb-4 pt-2">Subscribe to Our Newsletter to get Important News, Amazing Offers & More</p>
				<form action="#" method="post">
					<input type="email" name="Email" placeholder="Enter your email..." required="">
					<button class="btn1"><i class="far fa-envelope"></i></button>
					<div class="clearfix"> </div>
				</form>
			</div>
			footer -->
		</div>
	</div>
</footer>
<!-- footer -->


<!-- copyright -->
<div class="copyright py-4">
	<div class="container">
		<div class="copyrightgrids row">
			<div class="col-sm-6 col-12">
				<p>Copyright &copy; 2018.tianqionggongcheng.com <a href="http://www.tianqionggongcheng.com/" target="_blank" title="页颂教育">页颂教育</a></p>
				<p  style="margin: 0; height: 20px"><a href="http://www.beian.gov.cn/portal/recordQuery?token=80b501bb-e291-4866-b483-a23e9f7ffcdd">沪ICP备17051651号</a> </p>
<p  style="margin: 0; height: 20px"><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011202006779"><img style="width:20px;" src="https://img.yzcdn.cn/public_files/2016/07/19/276d5f72dc85cc584d83c08fefa36c2b.png" />沪公网安备 31011202006779号</a></p>
			</div>
			<!-- footer
			<div class="col-sm-6 col-12">
				<ul class="social text-right mt-lg-0 mt-3">
					<li><p class="mx-2 text-capitalize">follow us on : </p></li>
					<li class="mx-2"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-twitter"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fas fa-rss"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-vk"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-vimeo-v"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-yahoo"></span></a></li>
				</ul>
			</div>
			footer -->
		</div>
	</div>
</div>
<!-- //copyright -->

<!-- Vertically centered Modal -->

<!-- //Vertically centered Modal -->

<!-- js-scripts -->

	<!-- js -->
	<script type="text/javascript" src="javascripts/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="javascripts/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap -->
		<script type="text/javascript" src="javascripts/main-system.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap -->
	<!-- //js -->

	<!-- Popper js -->
	<script src="javascripts/popper.min.js"></script>
	<!-- Bootstrap js -->
	<script src="javascripts/bootstrap.min.js"></script>
	<!-- Plugins js -->
	<script src="javascripts/plugins.js"></script>
	<!-- Active js -->
	<script src="javascripts/active.js"></script>

	<!-- odometer-script -->
	<script src="/javascripts/odometer.js"></script>
	<script>
		window.odometerOptions = {
			format: '(ddd).dd'
		};
	</script>
	<script>
		setTimeout(function () {
			jQuery('#w3l_stats1').html(33);
		}, 1500);
	</script>
	<script>
		setTimeout(function () {
			jQuery('#w3l_stats2').html(16);
		}, 1500);
	</script>
	<script>
		setTimeout(function () {
			jQuery('#w3l_stats3').html(10);
		}, 1500);
	</script>
	<script>
		setTimeout(function () {
			jQuery('#w3l_stats4').html(32);
		}, 1500);
	</script>
	<!-- //odometer-script -->

	<!-- start-smoth-scrolling -->
	<script src="/javascripts/SmoothScroll.min.js"></script>
	<script type="text/javascript" src="/javascripts/move-top.js"></script>
	<script type="text/javascript" src="/javascripts/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- start-smoth-scrolling -->

	<!-- FlexSlider-JavaScript -->
	<script defer src="javascripts/jquery.flexslider.js"></script>
	<script type="text/javascript">
		$(function(){
			SyntaxHighlighter.all();
				});
				$(window).load(function(){
				$('.flexslider').flexslider({
					animation: "slide",
					start: function(slider){
						$('body').removeClass('loading');
					}
			});
		});
	</script>
	<!-- //FlexSlider-JavaScript -->
<!-- //js-scripts -->

</body>
</html>
