<!DOCTYPE html>
<html lang="en">
<head>
<title>Typography</title>
	
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Meta tag Keywords -->

	<!-- css files -->
	<link rel="stylesheet" href="/stylesheets/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="all" /> <!-- Style-CSS --> 
	<link rel="stylesheet" href="/stylesheets/fontawesome-all.css"> <!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->

	<!-- web-fonts -->
	<link href="http://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
	<!-- //web-fonts -->
	
</head>

<body>

<!--Header-->
<header>
	<div class="container agile-banner_nav">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			
			<a class="navbar-brand" href="index.html">Career Corp <span class="display">Digital technology</span></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="about.html">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="services.html">Services</a>
					</li>
					<li class="dropdown nav-item active">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Pages
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu agile_short_dropdown">
							<li>
								<a href="index.html">Testimonials</a>
							</li>
							<li>
								<a href="typography.html">Typography</a>
							</li>
						</ul>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="projects.html">Projects</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/contact">Contact</a>
					</li>
				</ul>
			</div>
			
		</nav>
	</div>
</header>
<!--Header-->

<!-- inner page banner-->
<div class="inner-banner">
	
</div>
<!-- //inner page banner-->

<!-- Typography page -->
<section class="typo py-5">
	<div class="container">
		<h3 class="heading text-center text-capitalize mb-5">Typography</h3>
		<div class="typo_grids">
			<h2 class="text-uppercase text-center mb-3">Input group</h2>
			
			<!-- Input group basic example -->
			<h3 class="text-capitalize mb-3">Basic example</h3>
			<div class="typo_grid1 mb-5">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">@</span>
					</div>
					<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
				</div>

				<div class="input-group mb-3">
					<input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
					<div class="input-group-append">
						<span class="input-group-text" id="basic-addon2">@example.com</span>
					</div>
				</div>

				<label for="basic-url">Your vanity URL</label>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
					</div>
					<input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
				</div>

				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">$</span>
					</div>
					<input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
					<div class="input-group-append">
						<span class="input-group-text">.00</span>
					</div>
				</div>

				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">With textarea</span>
					</div>
					<textarea class="form-control" aria-label="With textarea"></textarea>
				</div>
			</div>
			<!-- Input group basic example -->
			
			<!-- Input group sizing -->
			<h3 class="text-capitalize mb-3">Sizing</h3>
			<div class="typo_grid1 mb-5">
				<div class="input-group input-group-sm mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="inputGroup-sizing-sm">Small</span>
					</div>
					<input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
				</div>

				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="inputGroup-sizing-default">Default</span>
					</div>
					<input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
				</div>

				<div class="input-group input-group-lg">
					<div class="input-group-prepend">
						<span class="input-group-text" id="inputGroup-sizing-lg">Large</span>
					</div>
					<input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
				</div>
			</div>
			<!-- Input group sizing -->
			
			<!-- Input group Checkboxes and radios -->
			<h3 class="text-capitalize mb-3">Checkboxes and radios</h3>
			<div class="typo_grid1 mb-5">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<div class="input-group-text">
						<input type="checkbox" aria-label="Checkbox for following text input">
						</div>
					</div>
					<input type="text" class="form-control" aria-label="Text input with checkbox">
				</div>

				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text">
						<input type="radio" aria-label="Radio button for following text input">
						</div>
					</div>
					<input type="text" class="form-control" aria-label="Text input with radio button">
				</div>
			</div>
			<!-- Input group Checkboxes and radios -->
			
			<!-- Input group Multiple inputs -->
			<h3 class="text-capitalize mb-3">Multiple inputs</h3>
			<div class="typo_grid1 mb-5">
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text" id="">First and last name</span>
					</div>
					<input type="text" class="form-control">
					<input type="text" class="form-control">
				</div>
			</div>
			<!-- Input group Multiple inputs -->
			
			<!-- Input group Multiple addons -->
			<h3 class="text-capitalize mb-3">Multiple addons</h3>
			<div class="typo_grid1 mb-5">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">$</span>
						<span class="input-group-text">0.00</span>
					</div>
					<input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
				</div>

				<div class="input-group">
					<input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
					<div class="input-group-append">
						<span class="input-group-text">$</span>
						<span class="input-group-text">0.00</span>
					</div>
				</div>
			</div>
			<!-- Input group Multiple addons -->
			
			<!-- Input group Button addons -->
			<h3 class="text-capitalize mb-3">Button addons</h3>
			<div class="typo_grid1 mb-5">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<button class="btn btn-outline-secondary" type="button">Button</button>
					</div>
					<input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
				</div>

				<div class="input-group mb-3">
					<input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
					<div class="input-group-append">
						<button class="btn btn-outline-secondary" type="button">Button</button>
					</div>
				</div>

				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<button class="btn btn-outline-secondary" type="button">Button</button>
						<button class="btn btn-outline-secondary" type="button">Button</button>
					</div>
					<input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
				</div>

				<div class="input-group">
					<input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
					<div class="input-group-append">
						<button class="btn btn-outline-secondary" type="button">Button</button>
						<button class="btn btn-outline-secondary" type="button">Button</button>
					</div>
				</div>
			</div>
			<!-- Input group Button addons -->
			
			<!-- Input group Buttons with dropdowns -->
			<h3 class="text-capitalize mb-3">Buttons with dropdowns</h3>
			<div class="typo_grid1 mb-5">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
							<div role="separator" class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Separated link</a>
						</div>
					</div>
				  <input type="text" class="form-control" aria-label="Text input with dropdown button">
				</div>

				<div class="input-group">
					<input type="text" class="form-control" aria-label="Text input with dropdown button">
					<div class="input-group-append">
						<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
							<div role="separator" class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Separated link</a>
						</div>
					</div>
				</div>
			</div>
			<!-- Input group Buttons with dropdowns -->
			
			<!-- Input group Segmented Buttons -->
			<h3 class="text-capitalize mb-3">Segmented Buttons</h3>
			<div class="typo_grid1 mb-5">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<button type="button" class="btn btn-outline-secondary">Action</button>
						<button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="sr-only">Toggle Dropdown</span>
						</button>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#">Another action</a>
						<a class="dropdown-item" href="#">Something else here</a>
						<div role="separator" class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Separated link</a>
					</div>
					</div>
					<input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
				</div>

				<div class="input-group">
					<input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
					<div class="input-group-append">
						<button type="button" class="btn btn-outline-secondary">Action</button>
						<button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  <span class="sr-only">Toggle Dropdown</span>
						</button>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#">Another action</a>
						<a class="dropdown-item" href="#">Something else here</a>
					<div role="separator" class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Separated link</a>
					</div>
				  </div>
				</div>
			</div>
			<!-- Input group Segmented Buttons -->
			
			<!-- Input group Custom select -->
			<h3 class="text-capitalize mb-3">Custom select</h3>
			<div class="typo_grid1 mb-5">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<label class="input-group-text" for="inputGroupSelect01">Options</label>
					</div>
					<select class="custom-select" id="inputGroupSelect01">
						<option selected>Choose...</option>
						<option value="1">One</option>
						<option value="2">Two</option>
						<option value="3">Three</option>
					</select>
				</div>

				<div class="input-group mb-3">
					<select class="custom-select" id="inputGroupSelect02">
						<option selected>Choose...</option>
						<option value="1">One</option>
						<option value="2">Two</option>
						<option value="3">Three</option>
					</select>
					<div class="input-group-append">
						<label class="input-group-text" for="inputGroupSelect02">Options</label>
					</div>
				</div>

				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<button class="btn btn-outline-secondary" type="button">Button</button>
					</div>
					<select class="custom-select" id="inputGroupSelect03">
						<option selected>Choose...</option>
						<option value="1">One</option>
						<option value="2">Two</option>
						<option value="3">Three</option>
					</select>
				</div>

				<div class="input-group">
					<select class="custom-select" id="inputGroupSelect04">
						<option selected>Choose...</option>
						<option value="1">One</option>
						<option value="2">Two</option>
						<option value="3">Three</option>
					</select>
					<div class="input-group-append">
						<button class="btn btn-outline-secondary" type="button">Button</button>
					</div>
				</div>
			</div>
			<!-- Input group Custom select -->
			
			<!-- Input group Custom file input -->
			<h3 class="text-capitalize mb-3">Custom file input</h3>
			<div class="typo_grid1">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Upload</span>
					</div>
					<div class="custom-file">
						<input type="file" class="custom-file-input" id="inputGroupFile01">
						<label class="custom-file-label" for="inputGroupFile01">Choose file</label>
					</div>
				</div>

				<div class="input-group mb-3">
					<div class="custom-file">
						<input type="file" class="custom-file-input" id="inputGroupFile02">
						<label class="custom-file-label" for="inputGroupFile02">Choose file</label>
					</div>
					<div class="input-group-append">
						<span class="input-group-text" id="">Upload</span>
					</div>
				</div>

				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<button class="btn btn-outline-secondary" type="button">Button</button>
					</div>
					<div class="custom-file">
						<input type="file" class="custom-file-input" id="inputGroupFile03">
						<label class="custom-file-label" for="inputGroupFile03">Choose file</label>
					</div>
				</div>

				<div class="input-group">
					<div class="custom-file">
						<input type="file" class="custom-file-input" id="inputGroupFile04">
						<label class="custom-file-label" for="inputGroupFile04">Choose file</label>
					</div>
					<div class="input-group-append">
						<button class="btn btn-outline-secondary" type="button">Button</button>
					</div>
				</div>
			</div>
			<!-- Input group Custom file input -->
			
		</div>
	</div>
</section>
<!-- //Typography page -->

<!-- project -->
<section class="project py-5 text-center">
	<div class="container">
		<h3 class="text-capitalize mb-5">Do you want to start a new project ?</h3>
		<a href="/contact" class="text-uppercase"><i class="fas fa-envelope-open"></i> contact us </a>
	</div>
</section>
<!-- //project -->

<!-- footer -->	
<footer>
	<div class="container py-5">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<h3 class="text-uppercase mb-3">Address</h3>
				<address>
					<p><strong>Headquarters:</strong></p>
					<p class="mb-3">0926k 4th block building, king Avenue, New York City.</p>
					<p><strong>Phone</strong> : +12 8976 2334</p>
					<p><strong>Email</strong> : <a href="mailto:info@example.com">info@example.com</a></p>
					<p><strong>Fax</strong> : +11 8976 2334 </p>
				</address>
			</div>
			<div class="col-lg-2 col-md-6 mt-lg-0 mt-sm-0 mt-4 p-md-0">
				<h3 class="text-uppercase mb-3">links</h3>
				<div class="links">
					<a class="pt-2 text-capitalize" href="#"><i class="fas fa-angle-right"></i> Navigation</a>
					<a class="pt-2 text-capitalize" href="#"><i class="fas fa-angle-right"></i> Documentation</a>
					<a class="pt-2 text-capitalize" href="#"><i class="fas fa-angle-right"></i> Business</a>
					<a class="pt-2 text-capitalize" href="#"><i class="fas fa-angle-right"></i> Technical support</a>
					<a class="pt-2 text-capitalize" href="#"><i class="fas fa-angle-right"></i> 24/7 Service</a>
					<a class="pt-2 text-capitalize" href="#"><i class="fas fa-angle-right"></i> Feedback</a>
				</div>	
			</div>
			<div class="col-lg-3 col-md-6 mt-lg-0 mt-4">
				<h3 class="text-uppercase mb-3">Recent posts</h3>
				<div class="posts">
					<p class="pt-2">lorem ipsum dolor sit amet
					<span class="font-italic">31st march, 2018.</span></p>
					<p class="py-2 my-2 middle">lorem ipsum dolor sit amet
					<span class="font-italic">31st march, 2018.</span></p>
					<p class="pt-2">lorem ipsum dolor sit amet
					<span class="font-italic">31st march, 2018.</span></p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
				<h3 class="text-uppercase mb-3">Newsletter</h3>
				<p class="mb-4 pt-2">Subscribe to Our Newsletter to get Important News, Amazing Offers & More</p>
				<form action="#" method="post">
					<input type="email" name="Email" placeholder="Enter your email..." required="">
					<button class="btn1"><i class="far fa-envelope"></i></button>
					<div class="clearfix"> </div>
				</form>
			</div>
		</div>
	</div>
</footer>
<!-- footer -->

<!-- copyright -->
<div class="copyright py-4">
	<div class="container">
		<div class="copyrightgrids row">
			<div class="col-lg-6 col-12">
				<p>Copyright &copy; 2018.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
			</div>
			<div class="col-lg-6 col-12">
				<ul class="social text-right mt-lg-0 mt-3">
					<li><p class="mx-2 text-capitalize">follow us on : </p></li>
					<li class="mx-2"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-twitter"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fas fa-rss"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-vk"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-vimeo-v"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-yahoo"></span></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- //copyright -->

<!-- js-scripts -->		

	<!-- js -->
<script src="http://sdk.talkingdata.com/app/h5/v1?appid=APPID&vn=应用版本名称&vc=应用版本id"></script>
<script type="text/javascript" src="/javascripts/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="/javascripts/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap --> 
	<!-- //js -->	
	
	<!-- start-smoth-scrolling -->
	<script src="/javascripts/SmoothScroll.min.js"></script>
	<script type="text/javascript" src="/javascripts/move-top.js"></script>
	<script type="text/javascript" src="/javascripts/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- start-smoth-scrolling -->
	
<!-- //js-scripts -->

</body>
</html>