body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.img1 {
   margin-left: auto;
   margin-right: auto;
   width: 100%;
}
.div1{
  height: 100%;

}
.btnx{
   margin-left: auto;
   margin-right: auto;
   width: auto;
}
